---
import Layout from '../../layouts/Layout.astro';
import Navbar from "../../components/Navbar";
import FooterNav from "../../components/FooterNav.astro";
import Footer from "../../components/Footer.astro";
import '../../styles/css/global.css';

const currentPath = Astro.url.pathname;

---

<Layout title="MSU | Tawi-Tawi College of Technology and Oceanography">
	<main>
		<Navbar path={currentPath} client:visible />
    <div id="hymn" class="bg-white-pure flex flex-col items-center xl:px-[358px] xs:px-[44px] gap-[80px] " >
      <div class="">
          <h4 class="headings text-msu-maroon h3 mt-[80px] text-center">The MSU Hymn</h4>
          <figure>
              <audio controls class="xs:mx-[44px] xl:h-[60px] xs:h-[50px] xl:w-[720px] xs:w-[318px] xs:mt-[50px]">
                  <source src="/audio/himno_tcto.mp3" type="audio/mpeg">
              </audio>
          </figure>
      </div>
      <div class="flex xs:flex-col xl:flex-row xl:gap-[100px] xs:gap-[40px] mb-[130px]"> 
          <div class="">
              <div class="video-wrapper">
                  <!-- <iframe class="flex xs:mx-[44px] xl:mb-[90px] xs:mb-[74px] rounded-[40px] xl:w-[721px] xs:w-[323px] xl:h-[490px] xs:h-[225px]" 
                      src="https://www.youtube.com/embed/p4VyE0-Vnrs?autoplay=0&mute=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                  </iframe> -->
                 

                  <!-- <figure>
                      <audio controls class="xs:mx-[44px] xl:h-[60px] xs:h-[50px] xl:w-[720px] xs:w-[318px]">
                          <source src="/audio/himno_tcto.mp3" type="audio/mpeg">
                      </audio>
                  </figure> -->
              </div>
          </div>

          <div class="">
              <p class="paragraph xl:p1 xs:p2 w-[400px] text-black-pure">
                Silahis ang katulad mong
                nagsabog ng liwanag
                <br> <br>
                Ng pag-asa't hangarin
                ng pag-unlad.
                <br> <br>

                Ang pook ng Mindanao
                tinanglaw at pinalad,
                <br> <br>

                Nang ika'y isilang
                na dakila ang hangad.
                <br> <br>

                Ating ipagkapuri
                Itong Pamantasan,
                <br> <br>

                Ang buhay at pag-ibig
                sa kanya'y iaalay;
                <br> <br>

                Saan man naroroon
                ay bigyang karangalan,
                <br> <br>

                Dakilang paaralan
                Pamantasang Mindanao.
            </p>
          </div>
      </div>  
      
    </div>

<!-- FooterNaV -->
        <FooterNav />
<!-- end FooterNaV -->

<!-- Footer -->
		<Footer />
<!-- end Footer -->


    </main>
	
</Layout>