---
import Layout from '../../layouts/Layout.astro';
import Navbar from "../../components/Navbar";
import FooterNav from "../../components/FooterNav.astro";
import Footer from "../../components/Footer.astro";
import '../../styles/css/global.css';

const currentPath = Astro.url.pathname;

---

<Layout title="MSU | Tawi-Tawi College of Technology and Oceanography">
	<main>
		<Navbar path={currentPath} client:visible />
    <div id="hymn" class="bg-white-pure flex flex-col items-center px-4 sm:px-6 md:px-12 lg:px-24 xl:px-[358px] gap-10 md:gap-20">
      <div class="w-full text-center">
          <h4 class="headings text-msu-maroon h3 mt-10 md:mt-20">The MSU Hymn</h4>
          <figure class="mt-5">
              <audio controls class="w-full max-w-lg md:max-w-xl lg:max-w-2xl h-12">
                  <source src="/audio/himno_tcto.mp3" type="audio/mpeg">
              </audio>
          </figure>
      </div>
      <div class="flex flex-col md:flex-row md:gap-12 lg:gap-24 w-full items-center">
          <div class="w-full md:w-1/2 flex justify-center">
              <div class="video-wrapper w-full max-w-md md:max-w-lg lg:max-w-xl">
                  <!-- Responsive iframe or video player can be added here -->
              </div>
          </div>

          <div class="w-full md:w-1/2">
              <p class="paragraph p-4 md:p-6 text-black-pure text-center md:text-left">
                Silahis ang katulad mong
                nagsabog ng liwanag
                <br> <br>
                Ng pag-asa't hangarin
                ng pag-unlad.
                <br> <br>

                Ang pook ng Mindanao
                tinanglaw at pinalad,
                <br> <br>

                Nang ika'y isilang
                na dakila ang hangad.
                <br> <br>

                Ating ipagkapuri
                Itong Pamantasan,
                <br> <br>

                Ang buhay at pag-ibig
                sa kanya'y iaalay;
                <br> <br>

                Saan man naroroon
                ay bigyang karangalan,
                <br> <br>

                Dakilang paaralan
                Pamantasang Mindanao.
              </p>
          </div>
      </div>  
    </div>

<!-- FooterNaV -->
        <FooterNav />
<!-- end FooterNaV -->

<!-- Footer -->
		<Footer />
<!-- end Footer -->

    </main>
</Layout>
