---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar";
import Stories from "./Stories.astro";
import FooterNav from "../components/FooterNav.astro";
import Footer from "../components/Footer.astro";
import '../styles/css/global.css';

const currentPath = Astro.url.pathname;

import { urlForImage } from '../api/api';
import { getYear } from '../js/date';
import { getWordMonth } from '../js/date';
import { getDay } from '../js/date';

import { getArticle } from '../api/api';
const articles = await getArticle();

// export async function getStaticPaths() {

//     const articles = await getArticle();

//     return articles.map((article: { 
//         slug: {
//             current: unknown;
//         }; 
//     }) => ({
//         params: {
//             slug: article.slug.current,
//         },
//         props: {
//             article
//         }
//     }));
// }

const { slug } = Astro.params;
const article = articles.find((article) => article.slug.current === slug);
if (!article) return Astro.redirect("/404");
const { title, author, publishedAt, articleSubject, college, topic, mainImage, body } = article;
---

<Layout title="MSU | Tawi-Tawi College of Technology and Oceanography">
	<main>
		<Navbar path={currentPath} client:visible />
        <div class='bg-msu-deep-ocean h-[40px] xl:px-[12.5%] xs:px-[3.85%] xl:block xs:hidden'>
            <p class="paragraph p2 py-[10px] text-titanium xl:block xs:hidden"><a href="/home">Home</a> / <a href="/publications">Publications</a>  / Articles / { title } </p>
        </div>

        <div class="flex bg-msu-deep-ocean w-full  flex-col xl:pt-[40px]">
            <div class="flex flex-col item-center">
                <h3 class="headings text-white-pure xl:h3 xs:h5 xl:px-[482px] xs:px-[34px] pb-[20px]  text-center">{ title }</h3>
                <div class="xs:px-[44px] xl:hidden xs:block"><hr></div>
                <div class="flex xl:gap-[80px] justify-center  ">
                    <p class="paragraph text-white-pure p2 pb-[40px] xl:block xs:hidden">
                        By: { author.name }
                    </p>
                    <p class="paragraph text-white-pure p2 pb-[40px] xl:block xs:hidden">
                        Published: { getWordMonth(publishedAt) } { getDay(publishedAt) }, { getYear(publishedAt) }
                    </p>
                </div>
            </div>
            <div class="flex xl:justify-start xs:justify-center bg-msu-deep-ocean  xl:px-[12.5%]">
                <p class="paragraph xl:p2 xs:p3 xl:py-[10px] xs:mt-[9px] xs:mb-[9px]  text-titanium"><a href="/publications">{ articleSubject.subject }</a>  / { college.college } / { topic.topic } </p>
            </div>
            <div class="flex flex-col xl:px-[240px] xs:px-[15px] ">
                <img src={ urlForImage(mainImage.asset.url).fit('crop').url() } alt="" class="xl:h-full" />

                <div class="flex xs:gap-[120px] xs:mt-[11px] xl:mt-[0px] xs:mb-[22px] xl:mb-[0px] justify-center  xl:hidden">
                    <p class="paragraph text-titanium xs:p3   xl:hidden xs:block">
                        By: { author.name }
                    </p>
                    <p class="paragraph text-titanium xs:p3 xl:hidden xs:block">
                        Published: { getWordMonth(publishedAt) } { getDay(publishedAt) }, { getYear(publishedAt) }
                    </p>
                </div>

                <div class="flex xl:flex-row xs:flex-col xl:gap-[120px] xl:mt-[42px] mb-[95px]">
                    <!-- <div class="xl:w-[840px] xs:mb-[30px]"> -->
                    <div class="xl:w-full xs:mb-[30px]">
                        {
                            body.filter((con) => {
                                if (con.children == null || con.children == undefined) {
                                    return false;
                                }else {
                                    return true;
                                }
                            })
                            .map((con) => (
                                <>{ con.children.map((child: {
                                    text: unknown;
                                }) => (
                                    <p class="paragraph xl:p2 xs:p3 mb-5 text-silver">{child.text}</p>
                                )) }</>
                            ))
                        }

                        <!-- {
                            Astro.props.article.body.filter((con) => {
                                if (con.asset == null || con.asset == undefined) {
                                    return false;
                                }else {
                                    return true;
                                }
                            })
                            .map((con: {
                                asset: {
                                    url: string
                                };
                            }) => {
                                <p class="paragraph xl:p2 xs:p3 mb-5 text-silver">{ con.asset.url }</p>
                            })
                        } -->
                    </div>
                    <!-- <div class="border xl:block xs:hidden"></div>
                    <div class="flex xl:flex-col xs:flex-col xl:gap-[20px] xs:gap-[20px] xl:w-[363px] xs:justify-middle ">
                        
                        <div class="flex xl:gap-[53px] xs:gap-[53px] justify-center ">
                            <p class="paragraph text-white-pure p2 xl:pb-[40px] xs:py-[30px]">
                                Top Stories
                            </p>
                            <p class="paragraph text-white-pure p2 xl:pb-[40px] xs:py-[30px] ">
                                Related
                            </p>
                            <p class="paragraph text-white-pure p2 xl:pb-[40px] xs:py-[30px] ">
                                Popular
                            </p>
                        </div>
                        <div class="flex xl:flex-col xs:flex-row xl:gap-[10px] xs:gap-[16px]">
                            <div class="flex">
                                <img src="/images/img.png" alt="" class="xl:h-full xs:w-[600px] xs:block xl:hidden" />
                            </div>
                            <div class="flex xl:flex-col xs:flex-col xl:gap-[10px] xs:gap-[16px]">
                                <h4 class="headings xl:h5 xs:h6 text-white-pure">
                                    Article Title:
                                </h4>
                                <p class="paragraph xl:p2 xs:p3 text-silver">
                                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                </p>
                            </div>
                        </div>
                        <div class="flex xl:flex-col xs:flex-row xl:gap-[10px] xs:gap-[16px]">
                            <div class="flex">
                                <img src="/images/img.png" alt="" class="xl:h-full xs:w-[600px] xs:block xl:hidden" />
                            </div>
                            <div class="flex xl:flex-col xs:flex-col xl:gap-[10px] xs:gap-[16px]">
                                <h4 class="headings xl:h5 xs:h6 text-white-pure">
                                    Article Title:
                                </h4>
                                <p class="paragraph xl:p2 xs:p3 text-silver">
                                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                </p>
                            </div>
                        </div>
                        <div class="flex xl:flex-col xs:flex-row xl:gap-[10px] xs:gap-[16px]">
                            <div class="flex">
                                <img src="/images/img.png" alt="" class="xl:h-full xs:w-[600px] xs:block xl:hidden" />
                            </div>
                            <div class="flex xl:flex-col xs:flex-col xl:gap-[10px] xs:gap-[16px]">
                                <h4 class="headings xl:h5 xs:h6 text-white-pure">
                                    Article Title:
                                </h4>
                                <p class="paragraph xl:p2 xs:p3 text-silver">
                                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="flex gap-[30px] justify-center mt-[40px] ">
                        <a href="#" class=" bg-white xl:py-[10px] xl:px-[10px] xl:hidden xs:block xs:py-[8px] xs:px-[8px] rounded-[40px] border-white border-2"></a>
                        <a href="#" class="border-transparent xl:py-[10px] xl:hidden xs:block xl:px-[10px] xs:py-[8px] xs:px-[8px] rounded-[40px] border-white border-2"></a>
                        <a href="#" class="border-transparent xl:py-[10px] xl:hidden xs:block xl:px-[10px] xs:py-[8px] xs:px-[8px] rounded-[40px] border-white border-2"></a>
                    </div> -->
                </div>
            </div>
        </div>

        <div class="flex xl:hidden xs:block">
            <!-- other stories in mobile view -->
                    <Stories />
            <!-- end other stories in mobile view -->
            
        </div>

        <div class="flex xl:block xs:hidden">
            <!-- FooterNaV -->
                    <FooterNav />
            <!-- end FooterNaV -->
        </div>



<!-- Footer -->
		<Footer />
<!-- end Footer -->
        


    </main>
	
</Layout>