---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar";
import AcademicCalendar from "../components/AcademicCalendar.astro";
import MainVideo from "../components/MainVideo.astro";
import FooterNav from "../components/FooterNav.astro";
import Footer from "../components/Footer.astro";
import '../styles/css/global.css';

const currentPath = Astro.url.pathname;
---

<Layout title="MSU | Tawi-Tawi College of Technology and Oceanography">
	<main>
<!-- fold 01 - Header -->
		<Navbar path={currentPath} client:visible />
<!-- end fold 01 -->

<!-- fold 02 -->
<!--  -->
		<div class="bg-msu-deep-ocean text-center xl:px-[12.5%] xs:px-[3.85%] xl:pb-[68px] xs:pb-[48px]">
			<div class="item-center">
				<h4 class="headings xl:h4 xl:pl-[28.5%] xl:pr-[28.5%] xs:h5 xs:px-[60px]">Creating Opportunities, Transforming Lives</h4>
				<p class="paragraph text-silver xl:p1 xs:p2 xl:pt-[27px] xl:pl-[28.5%] xl:pr-[28.5%] xs:py-[38px] xs:px-[37px]">MSU-TCTO welcomes adept and curious students who wish to excel in academics, arts, research, and community extension. Inclusion and diversity are the core of our operations.</p>
			</div>

			<div class="flex justify-center mt-[86px]">
				<div>
					<img src="/images/aaccup.png" alt="" class=" xl:h-[200px] xl:block xs:h-[200px]">
					
				</div>
				<div>
					<img src="/images/graduation/image1.png" alt="" class=" xl:h-[200px] xl:block xs:h-[200px]">
					
				</div>
				<div>
					<img src="/images/ched.png" alt="" class=" xl:h-[200px] xl:block xs:hidden">
				</div>
				<div>
					<img src="/images/welcome_freshies.png" alt="" class=" xl:h-[200px] xl:block xs:hidden">
					
				</div>
				<div>
					<img src="/images/admission_page/image1.png" alt="" class=" xl:h-[200px] xl:block xs:hidden">
					
				</div>
				<div>
					<img src="/images/graduation/image2.png" alt="" class=" xl:h-[200px] xl:block xs:hidden">
				</div>
			</div>

			<div class="grid xl:grid-cols-3 xs:grid-cols-2 justify-items-center mt-[27px]">
				<div class="p-5 max-w-[360px]">
					<h3 class="headings xl:h3 xs:h4">12+</h3>
					<p class="paragraph xl:p1 xs:p2 text-titanium mt-[5px]">AACCUP Program Certified</p>
				</div>
				<div class="p-5 max-w-[360px]">
					<h3 class="headings xl:h3 xs:h4">39+</h3>
					<p class="paragraph xl:p1 xs:p2 text-titanium mt-[5px]">Programs offered</p>
				</div>
				<div class="p-5 max-w-[360px] xl:block xs:hidden">
					<h3 class="headings xl:h3 xs:h4">3,772+</h3>
					<p class="paragraph xl:p1 xs:p2 text-titanium mt-[5px]">Total graduates and counting</p>
				</div>
			</div>

			<div class="mt-[34px] mb-[34px] xl:hidden  xs:block ">
				<div class="p-5 item-center">
					<h3 class="headings xl:h3 xs:h4">3,772+</h3>
					<p class="paragraph xl:p1 xs:p2 text-titanium mt-[5px]">Total graduates and counting</p>
				</div>
			</div>
			<div class="grid grid-cols-2 justify-items-center mt-[27px]">
				<div class="p-5 max-w-[360px]">
					<h3 class="headings xl:h3 xs:h4">98+</h3>
					<p class="paragraph xl:p1 xs:p2 text-titanium mt-[5px]">Acclaimed Researches</p>
				</div>
				<div class="p-5 max-w-[360px]">
					<h3 class="headings xl:h3 xs:h4">3,008+</h3>
					<p class="paragraph xl:p1 xs:p2 text-titanium mt-[5px]">Student Scholars</p>
				</div>
			</div>
		</div>
<!-- end fold 02 -->

<!-- fold 03 -->
		<div class=" bg-msu-maroon w-full px-[12.5%] xl:pt-[80px] xs:pt-[40px]">
			<div class="item-center">
				<h3 class="headings text-center xl:text-white-pure xs:text-msu-golden-fog xl:h3 xs:h5">Admission Procedures</h3>
			</div>
			
			<div class="flex mt-[27px]  justify-center">
				<div class="flex gap-[95px]">
					<div class="flex flex-col  gap-[5px] m-5 xl:block xs:hidden">
						
						<div class="flex flex-col gap-[20px] paragraph p1 text-msu-crimson-ground mt-[26px]">
							<a href="#" class="paragraph p1 text-white-pure w-[300px]">The Admission process</a>
							<!-- <a href="#">MSU SASE</a> -->
							<a href="#">Freshmen</a>
							<a href="#">Transferee</a>
							<a href="#">Returning or Shifting</a>
							<a href="#">Remedial Programs</a>
							<a href="#">Student Fees</a>
						</div>
					</div>

					<div class="grid justify-center gap-[10px]">
					
						<div class="xs:mb-[50px]">
							<!-- <h4 class="headings xl:h4 xs:h6 text-white-pure mt-5">THE ADMISSION PROCESS </h4> -->
							<div class="flex flex-col gap-[5px] paragraph p2 text-white-pure xl:mt-[10px] xs:mt[18px]">
								<p class="paragraph text-white-pure xl:p1 xs:p3 pt-[27px]">
									For admission, prospective students should bring a short brown envelope, 3 copies of 2X2 ID pictures (recently taken close-up shot) and the following documents (with 2 photocopies of each):  
								</p>
								<a href="#" class="paragraph p1 text-white-pure w-[300px] ml-[50px] mt-[25px]">A.	FOR FRESHMEN:   </a>
									<p class="paragraph p1 text-white-pure mt-[5px] ml-[100px]">
									1.	Senior High School Report Card (Form 138-A)<br>  
									2.	MSU SASE Report of Rating (with passing score) <br>
									3.	PSA/NSO-Authenticated Birth Certificate (original) <br>
									4.	Certificate of Good Moral Character   <br>
									</p>
								<a href="#" class="paragraph p1 text-white-pure w-[300px] ml-[50px] mt-[25px]">B.	FOR TRANSFEREE:   </a>
									<p class="paragraph p1 text-white-pure mt-[5px] ml-[100px]">
										1.	Honorable Dismissal  <br>
										2.	Transcript of Records (TOR)  <br>
										3.	PSA/ NSO-Authenticated Birth Certificate (original); and  <br>
										4. MSU SASE Report of Rating (with passing score)     <br>
										
									</p>
				
							</div>
						</div>
						<div class="xl:block xs:hidden">
							
							<div class="flex">
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">Step 01</p>
									<p class="paragraph p1 text-white-pure mt-[5px]">Present the documents above to the attending admission personnel. Secure an Application for Admission form. There is an express lane for persons with disabilities in all the steps enumerated for the admission process. </p>
								</div>
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">Step 02</p>
									<p class="paragraph p1 text-white-pure mt-[5px]">See the college physician at the College Infirmary for medical examination and from whom you secure a medical clearance to be presented to the admissions personnel.</p>
								</div>
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">Step 03</p>
									<p class="paragraph p1 text-white-pure mt-[5px]">Proceed to the Guidance Counselor for career guidance and psychometric test.</p>
								</div>
							</div>

							<div class="flex">
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">Step 04</p>
									<p class="paragraph p1 text-white-pure mt-[5px]">Accomplish Application for Admission, making sure all solicited information is filled up as completely and accurately as possible. Incompletely filled up or unsigned forms will be returned.  </p>
								</div>
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">Step 05</p>
									<p class="paragraph p1 text-white-pure mt-[5px]">Secure Notice of Admission. You may now proceed and present your Notice of Admission to the registration adviser for the course you intend to enroll in.  </p>
								</div>
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">Step 06</p>
									<p class="paragraph p1 text-white-pure mt-[5px]">Step details, where to go and who to approach</p>
								</div>
							</div>
						</div>

						
						<!-- Mobile view -->
						<div class="xl:hidden xs:block">
							<div class="grid grid-cols-2 gap-[6px]">
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p2 text-white-pure mt-[5px]">Step 01</p>
									<p class="paragraph p3 text-white-pure mt-[5px]">Step details, where to go and who to approach</p>
								</div>
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p2 text-white-pure mt-[5px]">Step 02</p>
									<p class="paragraph p3 text-white-pure mt-[5px]">Step details, where to go and who to approach</p>
								</div>
							</div>
	
							<div class="grid grid-cols-2 gap-[6px]">
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p2 text-white-pure mt-[5px]">Step 03</p>
									<p class="paragraph p3 text-white-pure mt-[5px]">Step details, where to go and who to approach</p>
								</div>
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p2 text-white-pure mt-[5px]">Step 04</p>
									<p class="paragraph p3 text-white-pure mt-[5px]">Step details, where to go and who to approach</p>
								</div>
							</div>
							
							<div class="grid grid-cols-2 gap-[6px]">
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p2 text-white-pure mt-[5px]">Step 05</p>
									<p class="paragraph p3 text-white-pure mt-[5px]">Step details, where to go and who to approach</p>
								</div>
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p2 text-white-pure mt-[5px]">Step 06</p>
									<p class="paragraph p3 text-white-pure mt-[5px]">Step details, where to go and who to approach</p>
								</div>
							</div>
						</div>

						<div class="xs:mb-[50px]">
							<!-- <h4 class="headings xl:h4 xs:h6 text-white-pure mt-5">THE ADMISSION PROCESS </h4> -->
							<div class="flex flex-col gap-[5px] paragraph p2 text-white-pure xl:mt-[10px] xs:mt[18px]">
								<a href="#" class="paragraph p1 text-white-pure w-[900px] ml-[50px] mt-[25px]">C.	FOR RETURNING AND SHIFTING STUDENTS </a>
				
							</div>
						</div>
						<div class="xl:block xs:hidden">
							
							<div class="flex">
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">Step 01</p>
									<p class="paragraph p1 text-white-pure mt-[5px]">Present your official copy of grades (with photocopy) for the latest semester to the admission personnel.  </p>
								</div>
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">Step 02</p>
									<p class="paragraph p1 text-white-pure mt-[5px]"> Secure and fill-up an Application for Shifting/Re-admission form.  </p>
								</div>
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">Step 03</p>
									<p class="paragraph p1 text-white-pure mt-[5px]">Proceed to the Guidance Counselor for career guidance and psychometric test. </p>
								</div>
							</div>

							<div class="flex">
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">Step 04</p>
									<p class="paragraph p1 text-white-pure mt-[5px]">Bring the endorsed Application for Shifting/Re-admission to the appropriate registration adviser for action. (Your application will either be approved or disapproved depending on whether you are able to meet the required CGPA for the concerned program)  </p>
								</div>
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">Step 05</p>
									<p class="paragraph p1 text-white-pure mt-[5px]">Bring back the approved Application for Shifting/Re-admission to the Admissions Office. </p>
								</div>
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">Step 06</p>
									<p class="paragraph p1 text-white-pure mt-[5px]">Proceed to the respective department. </p>
								</div>
							</div>
						</div>

						<div class="xs:mb-[50px]">
							<!-- <h4 class="headings xl:h4 xs:h6 text-white-pure mt-5">THE ADMISSION PROCESS </h4> -->
							<div class="flex flex-col gap-[5px] paragraph p2 text-white-pure xl:mt-[10px] xs:mt[18px]">
								<a href="#" class="paragraph p1 text-white-pure w-[900px] ml-[50px] mt-[25px]">C.	FOR RETURNING AND SHIFTING STUDENTS </a>
				
							</div>
						</div>
						<div class="xl:block xs:hidden">
							
							<div class="flex">
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">Step 01</p>
									<p class="paragraph p1 text-white-pure mt-[5px]">Present your official copy of grades (with photocopy) for the latest semester to the admission personnel.  </p>
								</div>
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">Step 02</p>
									<p class="paragraph p1 text-white-pure mt-[5px]"> Secure and fill-up an Application for Shifting/Re-admission form.  </p>
								</div>
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">Step 03</p>
									<p class="paragraph p1 text-white-pure mt-[5px]">Proceed to the Guidance Counselor for career guidance and psychometric test. </p>
								</div>
							</div>

							<div class="flex">
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">Step 04</p>
									<p class="paragraph p1 text-white-pure mt-[5px]">Bring the endorsed Application for Shifting/Re-admission to the appropriate registration adviser for action. (Your application will either be approved or disapproved depending on whether you are able to meet the required CGPA for the concerned program)  </p>
								</div>
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">Step 05</p>
									<p class="paragraph p1 text-white-pure mt-[5px]">Bring back the approved Application for Shifting/Re-admission to the Admissions Office. </p>
								</div>
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">Step 06</p>
									<p class="paragraph p1 text-white-pure mt-[5px]">Secure the notice of shifting from the admissions officer. </p>
								</div>
							</div>
						</div>

						

						<div class="xs:mb-[50px]">
							<!-- <h4 class="headings xl:h4 xs:h6 text-white-pure mt-5">THE ADMISSION PROCESS </h4> -->
							<div class="flex flex-col gap-[5px] paragraph p2 text-white-pure xl:mt-[10px] xs:mt[18px]">
								<a href="#" class="paragraph p1 text-white-pure w-[900px] ml-[50px] mt-[25px]">D.	FOR REMEDIAL PROGRAM </a>
				
								<p class="paragraph text-white-pure xl:p1 xs:p3 pt-[27px]">
									The MSU-Tawi-Tawi , in order to accommodate those whose scores are a little lower than the median, has been implementing the so-called Remedial Program wherein for the first semester of the student’s stay in the campus he is enrolled in a 9-hour per week remedial Math and another 9-hour per week remedial English. (Only upon passing both subjects is the student deemed qualified to be treated as a regular student)
								</p>
							</div>
						</div>
						<div class="xs:mb-[50px]">
							<!-- <h4 class="headings xl:h4 xs:h6 text-white-pure mt-5">THE ADMISSION PROCESS </h4> -->
							<div class="flex flex-col gap-[5px] paragraph p2 text-white-pure xl:mt-[10px] xs:mt[18px]">
								<a href="#" class="paragraph p1 text-white-pure w-[900px] ml-[50px] mt-[25px]">E.	FOR STUDENT FEES (BOR RES #50, Series 2005) </a>
							</div>
						</div>
						<!-- wait fo the design -->
						<!-- <div class="xl:block xs:hidden">
							
							<div class="flex">
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">Php 50.00/unit</p>
									<p class="paragraph p1 text-white-pure mt-[5px]">Tuition Fees</p>
								</div>
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">	Php 50.00</p>
									<p class="paragraph p1 text-white-pure mt-[5px]"> Athletic Fees </p>
								</div>
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">Php 30.00</p>
									<p class="paragraph p1 text-white-pure mt-[5px]">SPEAR </p>
								</div>
							</div>

							<div class="flex">
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">Php 50.00/unit</p>
									<p class="paragraph p1 text-white-pure mt-[5px]">Tuition Fees</p>
								</div>
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">Php 30.00</p>
									<p class="paragraph p1 text-white-pure mt-[5px]">SPEAR </p>
								</div>
								<div class=" bg-gradient-rusty-red p-10 max-w-[360px]">
									<p class="paragraph p1 text-white-pure mt-[5px]">Php 30.00</p>
									<p class="paragraph p1 text-white-pure mt-[5px]">SPEAR </p>
								</div>
							</div>
						</div> -->
						



						
						

					</div>

					

					
					
				</div>
			</div>
			<div class="text-center pb-[60px]">
				<p class="paragraph text-white-pure xl:p1 xs:p2 pt-20 mb-5">Need clarifications or help?</p>
				<a href="" class="bg-transparent border paragraph  xl:p1 xs:p2  gap-10 text-white-pure py-[10.5px] px-[60px] rounded-[40px]">Contact us now!</a>
			
			</div>
		</div>
<!-- end fold 03 -->

<!-- fold 04 -->
		<div class="bg-msu-deep-ocean  w-full px-[12.5%] pt-20">
			<div class="text-center">
				
				<h3 class="headings xl:h3 xs:h4 text-white-pure">Scholarship and Grants offered in the Campus</h3>
				<!-- <h3 class="headings xl:h3 xs:h4 pt-[27px] pl-[28.5%] pr-[28.5%]">Scholarships and Grants</h3> -->
			</div>

			<div class="flex gap-20 mt-[27px] ">
				<div class="p-1 text-center">
					<p class="paragraph xl:p1 xs:p2 text-white-pure">EXTERNALLY-FUNDED</p>
					<p class="paragraph  xl:w-[700px] xl:p1 xs:p2 text-silver mt-[40px]">
						This is a special scholarship for Fisheries, Marine Biology, Environmental Science and for Badjao students whose objectives are to attract more enrollees to the mandated programs, to increase the number of academically better students taking these programs, to help enhance efforts at gainfully strengthening such programs, and to augment the campus support for the Badjaos who comprise the main indigenous group in this province.
						<br><br>
						This special scholarship was first funded from the P5,000,000 allocated by the national government for this campus beginning AY 2014-15. Such was reflected in FY 2014 GAA (R.A. 10633).
						
					</p>
					<!-- <p class="paragraph  xl:p1 xs:p2 text-msu-crimson-ground text-center mt-[40px]">Click here to know more!</p> -->
				</div>
				<div class="p-1 text-center xl:block xs:hidden">
					<p class="paragraph  xl:p1 xs:p2 text-white-pure">INTERNALLY-FUNDED</p>
					<p class="paragraph  xl:w-[700px] xl:p1 xs:p2 text-silver mt-[40px]">
						
						1. Academic Scholarship
						<br>
						2. MSU Tawi-Tawi Scholarship for Science and Mathematics (SSM)<br>
						3. Cultural Community Grant (CCG)<br>
						4. Skill/Talent Study Grant (Tambuli Cultural Troupe, Band memebers and Athletes)<br>
						(Internally-funded)SCHOLARSHIP POLICIES (BOR RES #66, 2013)<br>
						<br><br>
					</p>
					<!-- <p class="paragraph  xl:p1 xs:p2 text-msu-crimson-ground text-center mt-[40px]">Click here to know more!</p> -->
				</div>
			</div>
			<p class="paragraph  xl:p1 xs:p2 text-msu-crimson-ground text-center mt-[40px] xl:block xs:hidden">Click here to know more!</p>

			<div class="mt-[86px] xl:px-[28.5px] xs:px-[12px] mb-[60px] xl:hidden xs:block">
				<div class="p-1 text-center">
					<p class="paragraph  xl:p1 xs:p2 text-white-pure">INTERNALLY-FUNDED
					</p>
					<p class="paragraph xl:p1 xs:p2 text-silver mt-[40px] ">
						Lorem ipsum dolor sit amet consectetur. Viverra feugiat sollicitudin sit lacus sagittis cursus at sodales nunc. Hendrerit lectus nibh cras faucibus maecenas. Aliquam viverra enim massa cras. Viverra turpis senectus viverra a eu turpis quis. Varius vestibulum urna in rhoncus laoreet.
						<br><br>
						Lorem ipsum dolor sit amet consectetur. Viverra feugiat sollicitudin sit lacus sagittis cursus at sodales nunc. Hendrerit lectus nibh cras faucibus maecenas. Aliquam viverra enim massa cras. Viverra turpis senectus viverra a eu turpis quis. Varius vestibulum urna in rhoncus laoreet.
					</p>
					<!-- <p class="paragraph  xl:p1 xs:p2 text-msu-crimson-ground text-center mt-[40px]">Click here to know more!</p> -->

				</div>
			</div>

			<div class="mt-[86px] xl:px-[28.5px] xs:px-[12px] mb-[60px]">
				<div class="p-1 text-center">
					<h3 class="headings xl:h3 xs:h4 text-white-pure">General Policies On Scholarships And Grants For
						The MSU Tawi-Tawi Campus</h3>
					<p class="paragraph  xl:p1 xs:p2 text-white-pure mt-[20px]">(TERTIARY LEVEL)</p>
					<p class="paragraph xl:p1 xs:p2 text-silver mt-[40px] ">
						Privileges granted to a select group of students in the campus are generally classified as scholarships or grants. A scholarship refers to privileges obtained on the basis of one’s high score in the MSU System Admission and Scholarship Examination (SASE) (administered annually throughout Mindanao) or very good scholastic performance. A grant, while not disregarding such factors, is based more on other attributes such as special skills or one’s ethnic origin.
					</p>
					<p class="paragraph  xl:p1 xs:p2 text-msu-crimson-ground text-center mt-[40px]">Click here to know more!</p>

				</div>
			</div>
		</div>
<!-- end fold 04 -->

<!-- fold 05 -->
		<div class="admissions-fold-05-gb-img w-full  pt-20">
			<div class="item-center">
				<h3 class="headings text-center text-msu-rusty-red xl:h3 xs:h4 xl:pt-[80px] xs:pt-[62px] pl-[12.5%] pr-[12.5%]">You can have any of these</h3>
			</div>

			<div class="place-items-center xs:pt-[48px] text-center paragraph xs:p2 text-msu-rusty-red xs:block xl:hidden ">
                <select id="programs" class=" border-b-msu-crimson-ground border-b-2 xs:w-[210px] xs:px-[10px]">
                    <option id=" " class="paragraph p2 text-black-pure ">Academic Scholarship</option>
                    <option id=" " class="paragraph p2 text-black-pure">MSU Tawi-Tawi Scholarship
						for Science and Mathematics
						(SSM)</option>
                    <option id=" " class="paragraph p2 text-black-pure">Special Privileges for
						Academic Excellence</option>
                    <option id=" " class="paragraph p2 text-black-pure">The Badjao Grant</option>
                    <option id=" " class="paragraph p2 text-black-pure">Skill/Talent Study Grant</option>
                    <option id=" " class="paragraph p2 text-black-pure">Fisheries Technology Study
						Grant (Fish Tech Grant)</option>
                </select>
            </div>
			
			<div class="xl:flex justify-center mt-10 xl:px-[12.5%]">
				<div class="m-5 xl:block xs:hidden">
					<div class="flex flex-col gap-[20px] paragraph text-graphite mt-[20px]">
						<a href="#" class="paragraph xl:p1 xs:p2 text-msu-maroon w-[255px] mt-10">Scholarships and Grants</a>
						<a href="#">MSU Tawi-Tawi Scholarship for Science and Mathematics (SSM)</a>
						<a href="#">Academic Scholarship for Non- Science / Mathematics Courses (NSM)</a>
						<a href="#">Academic Scholarship for Science and Mathematics Courses (SSM)</a>
						<a href="#">Special Muslim Grant (SMG)</a>
						<a href="#">Cultural Community Grant (CCG)</a>
						<a href="#">The Badjao Student Grant (Badjao Grant)</a>
						<a href="#">Talent/Skill Study Grant (TSG)</a>
						<a href="#">“On-the-Job Training” (OJT) Grant</a>
						<a href="#">SCUBA Training Grant (Scuba Grant)</a>
						<a href="#">Review for Licensure Examinations Grant (Review Grant)</a>
					</div>

				</div>
				
				<div class="m-5 xl:px-[12.5%] xs:px-[0%] ">
					<h4 class="headings h4 text-msu-maroon mt-10 xl:block xs:hidden">Scholarships and Grants</h4>
					<div class="paragraph p2  mt-[10px] text-black-pure">
						<p class="flex align-center paragraph xl:p1 xs:p2 pt-[27px] w-[900px]">
							Privileges granted to a select group of students in the MSU-Tawi-Tawi campus are generally classified as scholarships or grants.
							A scholarship refers to privileges obtained on the basis of one’s a sufficiently high score in the Mindanao State University System Admission and Scholarship Examination (MSU-SASE) or an academic performance deemed at least “very good”. A grant, requiring only a minimum level of scholastic proficiency, is based more on other attributes such as special skills or talents, indigent family background, or even one’s ethnic origin.    
						</p>
						
						<p class="paragraph  xl:p1 xs:p2 pt-[27px]">A. TYPES OF SCHOLARSHIPS AND REGULAR GRANTS; QUALIFICATIONS FOR 
							AWARDING; PRIVILEGES AND CONDITIONS FOR MAINTENANCE
						</p>
						<div class="flex flex-col gap-[20px] paragraph text-graphite mt-[20px] ml-[50px]">
							<a href="#">A1. MSU Tawi-Tawi Scholarship for Science and Mathematics (SSM)</a>
							<a href="#">A2. Academic Scholarship for Non- Science / Mathematics Courses (NSM)</a>
							<a href="#">A3. Academic Scholarship for Science and Mathematics Courses (SSM)</a>
							<a href="#">A4. Special Muslim Grant (SMG)</a>
							<a href="#">A5. Cultural Community Grant (CCG)</a>
							<a href="#">A6. The Badjao Student Grant (Badjao Grant)</a>
							<a href="#">A7. Talent/Skill Study Grant (TSG)</a>
						</div>

						<p class="paragraph  xl:p1 xs:p2 pt-[27px]">B. OTHER STUDENT GRANTS </p>
						<div class="flex flex-col gap-[20px] paragraph text-graphite mt-[20px] ml-[50px]">
							<a href="#">B1. “On-the-Job Training” (OJT) Grant</a>
							<a href="#">B2. SCUBA Training Grant (Scuba Grant)</a>
							<a href="#">B3. Review for Licensure Examinations Grant (Review Grant)</a>
						</div>

					</div>
				</div>
					
			</div>
			<div class="text-center pb-[79px] mt-[50px]">
				<p class="paragraph text-msu-crimson-ground xl:p1 xs:p2 mb-5">Need more help of information?</p>
				<a href="" class="bg-transparent border border-msu-crimson-ground paragraph xl:p1 xs:p2 gap-10 text-msu-crimson-ground py-[10.5px] px-[60px] rounded-[40px]">Contact us now!</a>
			
			</div>
		</div>
<!-- end fold 05 -->
		

<!--  Academic Calendar -->
		<AcademicCalendar />
<!-- end  Academic Calendar -->


<!-- Main video -->
		<MainVideo />
<!-- end Main video -->
		
<!-- FooterNaV -->
		<FooterNav />
<!-- end FooterNaV -->

<!-- Footer -->
		<Footer />
<!-- end Footer -->

	</main>
	
</Layout>
 