---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar";
import '../styles/css/global.css';
---

<Layout title="Welcome to Astro.">
	<main>
<!-- fold 01 - Header -->
		<Navbar client:visible />
<!-- end fold 01 -->

<!-- fold 02 -->
		<div class="bg-msu-dark-ocean h-[1080px] text-center w-full px-[12.5%] pt-20">
			<div class="item-center">
				<h4 class="headings h4 pt-[27px] pl-[28.5%] pr-[28.5%]">We give you an easy way to enroll for you chosen future</h4>
				<p class="paragraph text-silver p1 pt-[27px] pl-[28.5%] pr-[28.5%]">Lorem ipsum dolor sit amet consectetur. Sit justo semper sollicitudin nisl. Adipiscing amet gravida justo venenatis viverra morbi in. Eros tellus integer sit non amet amet.</p>
			
			</div>

			<div class="flex justify-center mt-[86px]">
				<div>
					<img src="/images/campus-mini1.png" alt="" class=" h-[200px]">
					
				</div>
				<div>
					<img src="/images/campus-mini2.png" alt="" class=" h-[200px]">
					
				</div>
				<div>
					<img src="/images/campus-mini3.png" alt="" class=" h-[200px]">
				</div>
				<div>
					<img src="/images/campus-mini1.png" alt="" class=" h-[200px]">
					
				</div>
				<div>
					<img src="/images/campus-mini2.png" alt="" class=" h-[200px]">
					
				</div>
				<div>
					<img src="/images/campus-mini3.png" alt="" class=" h-[200px]">
				</div>
			</div>

			<div class="grid grid-cols-3 justify-items-center mt-[27px]">
				<div class="p-5 max-w-[360px]">
					<h3 class="headings h3">200+</h3>
					<p class="paragraph p1 text-titanium mt-[5px]">Certifications</p>
				</div>
				<div class="p-5 max-w-[360px]">
					<h3 class="headings h3">20+</h3>
					<p class="paragraph p1 text-titanium mt-[5px]">Courses for Arts and Sciences</p>
				</div>
				<div class="p-5 max-w-[360px]">
					<h3 class="headings h3">18,000+</h3>
					<p class="paragraph p1 text-titanium mt-[5px]">Total graduates and counting</p>
				</div>
			</div>
			<div class="grid grid-cols-2 justify-items-center mt-[27px]">
				<div class="p-5 max-w-[360px]">
					<h3 class="headings h3">100+</h3>
					<p class="paragraph p1 text-titanium mt-[5px]">Acclaimed Researches</p>
				</div>
				<div class="p-5 max-w-[360px]">
					<h3 class="headings h3">20+</h3>
					<p class="paragraph p1 text-titanium mt-[5px]">Of the best teachers in the field</p>
				</div>
			</div>
		</div>
<!-- end fold 02 -->

<!-- fold 03 -->
		<div class="bg-msu-crimson-ground w-full px-[12.5%] pt-20 ">
			<div class="item-center">
				<h3 class="headings text-center text-msu-gold h3 pt-[27px] pl-[12.5%] pr-[12.5%]">Admission Procedures</h3>
			</div>
			
			<div class="flex mt-[27px]  justify-center">
				<div class="flex">
					<div class="flex flex-col  gap-[5px] m-5">
						<p class="paragraph p1 text-msu-gold w-[180px]">MSU SASE</p>
						<div class="flex flex-col gap-[5px] paragraph p2 text-white-pure mt-[10px]">
							<a href="#">Undergraduate Studies</a>
							<a href="#">Transferee</a>
							<a href="#">Returning or Shifting</a>
							<a href="#">Remedial Programs</a>
							<a href="#">Student Fees</a>
						</div>
					</div>
					<div class="grid justify-center gap-[10px]">
					
						<div class="max-w-[1020px]">
							<h4 class="headings h4 text-white-pure mt-5">MSU SASE Passers</h4>
							<div class="flex flex-col gap-[5px] paragraph p2 text-white-pure mt-[10px]">
								<p class="paragraph text-silver p1 pt-[27px]">
									Lorem ipsum dolor sit amet consectetur. Viverra feugiat sollicitudin sit lacus sagittis cursus at sodales nunc. Hendrerit lectus nibh cras faucibus maecenas. Aliquam viverra enim massa cras. Viverra turpis senectus viverra a eu turpis quis. Varius vestibulum urna in rhoncus laoreet.
								</p>
				
							</div>
						</div>
						<div class="flex">
							<div class="bg-gradient-maroon p-10 max-w-[360px]">
								<p class="paragraph p1 text-white-pure mt-[5px]">Step 01</p>
								<p class="paragraph p1 text-white-pure mt-[5px]">Step details, where to go and who to approach</p>
							</div>
							<div class="bg-gradient-maroon p-10 max-w-[360px]">
								<p class="paragraph p1 text-white-pure mt-[5px]">Step 02</p>
								<p class="paragraph p1 text-white-pure mt-[5px]">Step details, where to go and who to approach</p>
							</div>
							<div class="bg-gradient-maroon p-10 max-w-[360px]">
								<p class="paragraph p1 text-white-pure mt-[5px]">Step 03</p>
								<p class="paragraph p1 text-white-pure mt-[5px]">Step details, where to go and who to approach</p>
							</div>
						</div>

						<div class="flex">
							<div class="bg-gradient-maroon p-10 max-w-[360px]">
								<p class="paragraph p1 text-white-pure mt-[5px]">Step 04</p>
								<p class="paragraph p1 text-white-pure mt-[5px]">Step details, where to go and who to approach</p>
							</div>
							<div class="bg-gradient-maroon p-10 max-w-[360px]">
								<p class="paragraph p1 text-white-pure mt-[5px]">Step 05</p>
								<p class="paragraph p1 text-white-pure mt-[5px]">Step details, where to go and who to approach</p>
							</div>
							<div class="bg-gradient-maroon p-10 max-w-[360px]">
								<p class="paragraph p1 text-white-pure mt-[5px]">Step 06</p>
								<p class="paragraph p1 text-white-pure mt-[5px]">Step details, where to go and who to approach</p>
							</div>
					</div>

					</div>

					
					
				</div>
			</div>
			<div class="text-center pb-[60px]">
				<p class="paragraph text-white-pure p1 pt-20 mb-5">Need clarifications or help?</p>
				<a href="" class="bg-transparent border paragraph p1 gap-10 text-white-pure py-[10.5px] px-[60px] rounded-[40px]">Contact us now!</a>
			
			</div>
		</div>
<!-- end fold 03 -->

<!-- fold 04 -->
		<div class="bg-msu-dark-ocean  w-full px-[12.5%] pt-20">
			<div class="text-center">
				<h3 class="headings h3 pt-[27px] pl-[28.5%] pr-[28.5%]">Scholarships and Grants</h3>
			</div>

			<div class="flex gap-20 mt-[27px] ">
				<div class="p-1">
					<p class="paragraph p1 text-white-pure text-center">EXTERNAL</p>
					<p class="paragraph p1 text-silver mt-[40px]">
						Lorem ipsum dolor sit amet consectetur. Viverra feugiat sollicitudin sit lacus sagittis cursus at sodales nunc. Hendrerit lectus nibh cras faucibus maecenas. Aliquam viverra enim massa cras. Viverra turpis senectus viverra a eu turpis quis. Varius vestibulum urna in rhoncus laoreet.
						<br><br>
						Lorem ipsum dolor sit amet consectetur. Viverra feugiat sollicitudin sit lacus sagittis cursus at sodales nunc. Hendrerit lectus nibh cras faucibus maecenas. Aliquam viverra enim massa cras. Viverra turpis senectus viverra a eu turpis quis. Varius vestibulum urna in rhoncus laoreet.
					</p>
				</div>
				<div class="p-1">
					<p class="paragraph p1 text-white-pure text-center">INTERNAL</p>
					<p class="paragraph p1 text-silver mt-[40px]">
						Lorem ipsum dolor sit amet consectetur. Viverra feugiat sollicitudin sit lacus sagittis cursus at sodales nunc. Hendrerit lectus nibh cras faucibus maecenas. Aliquam viverra enim massa cras. Viverra turpis senectus viverra a eu turpis quis. Varius vestibulum urna in rhoncus laoreet.
						<br><br>
						Lorem ipsum dolor sit amet consectetur. Viverra feugiat sollicitudin sit lacus sagittis cursus at sodales nunc. Hendrerit lectus nibh cras faucibus maecenas. Aliquam viverra enim massa cras. Viverra turpis senectus viverra a eu turpis quis. Varius vestibulum urna in rhoncus laoreet.
					</p>
				</div>
			</div>

			<div class="mt-[86px] pl-[28.5%] pr-[28.5%]">
				<div class="p-1">
					<h3 class="headings h3 text-white-pure text-center">Policies</h3>
					<p class="paragraph p1 text-silver mt-[40px] mb-[60px]">
						Lorem ipsum dolor sit amet consectetur. Viverra feugiat sollicitudin sit lacus sagittis cursus at sodales nunc. Hendrerit lectus nibh cras faucibus maecenas. Aliquam viverra enim massa cras. Viverra turpis senectus viverra a eu turpis quis. Varius vestibulum urna in rhoncus laoreet.
						<br><br>
						Lorem ipsum dolor sit amet consectetur. Viverra feugiat sollicitudin sit lacus sagittis cursus at sodales nunc. Hendrerit lectus nibh cras faucibus maecenas. Aliquam viverra enim massa cras. Viverra turpis senectus viverra a eu turpis quis. Varius vestibulum urna in rhoncus laoreet.
					</p>

				</div>
			</div>
		</div>
<!-- end fold 04 -->

<!-- fold 05 -->
		<div class="admissions-fold-05-gb-img w-full px-[12.5%] pt-20">
			<div class="item-center">
				<h3 class="headings text-center text-msu-maroon h3 pt-[27px] pl-[12.5%] pr-[12.5%]">You can have any of these</h3>
			</div>
			
			<div class="flex justify-center  ">
				<div class="m-5">
					<p class="paragraph p1 text-msu-maroon w-[255px]">Academic Scholarship</p>
					<div class="flex flex-col gap-[5px] paragraph text-graphite mt-[20px]">
						<a href="#" class=" mt-[20px]">MSU Tawi-Tawi Scholarship
							for Science and Mathematics
							(SSM)</a>
						<a href="#" class=" mt-[20px]">Special Privileges for
							Academic Excellence</a>
						<a href="#" class=" mt-[20px]">Cultural Community Grant
							(CCG)</a>
						<a href="#" class=" mt-[20px]">The Badjao Grant</a>
						<a href="#" class=" mt-[20px]">Skill/Talent Study Grant</a>
						<a href="#" class=" mt-[20px]">Fisheries Technology Study
							Grant (Fish Tech Grant)</a>
					</div>

				</div>
				
				<div class="m-5 pl-[12.5%] pr-[12.5%]">
					<h4 class="headings h4 text-msu-maroon mt-5">Academic Scholarship</h4>
					<div class="paragraph p2  mt-[10px] text-graphite">
						<p class=" text-graphite paragraph p1 pt-[27px]">
								Lorem ipsum dolor sit amet consectetur. Sit justo semper 
								sollicitudin nisl. Adipiscing amet gravida justo venenatis viverra morbi in. Eros tellus integer sit non amet amet.
						</p>
						<p class="paragraph p1 pt-[27px]">Requirements: </p>
						<ul class="gap-8 paragraph p1 text-graphite pt-[27px] p-10 mb-[20px]">
							<li class="mb-[12px]">Report Card (Form 137)</li>
							<li class="mb-[12px]">PSA Birth Certificate</li>
							<li class="mb-[12px]">SASE Report Rating</li>
							<li class="mb-[12px]">Certificate of Good Moral Character</li>
							<li class="mb-[12px]">Income Tax Return of Parents</li>
							<li class="mb-[12px]">Certificate of Indigency</li>
						</ul>
					</div>
				</div>
					
			</div>
			<div class="text-center pb-[60px]">
				<p class="paragraph text-black-pure p1 mb-5">Need more help of information?</p>
				<a href="" class="bg-transparent border border-black paragraph p1 gap-10 text-black-pure py-[10.5px] px-[60px] rounded-[40px]">Contact us now!</a>
			
			</div>
		</div>
<!-- end fold 05 -->
		

<!-- fold 06 -->
		<div class="bg-msu-shallow-ocean w-full px-[12.5%] flex justify-center flex-col pt-20">
			<div class="item-center">
				<h3 class="headings text-center text-white-pure h3 pt-[27px] pl-[12.5%] pr-[12.5%]">Academic Calendar</h3>
				
				<p class="paragraph flex justify-center text-silver p1 pt-[27px]">
					Lorem ipsum dolor sit amet consectetur. Viverra feugiat sollicitudin sit lacus sagittis cursus at sodales nunc. Hendrerit lectus nibh cras faucibus maecenas. Aliquam viverra enim massa cras. Viverra turpis senectus viverra a eu turpis quis. Varius vestibulum urna in rhoncus laoreet.
				</p>
		
				
			</div>
			
			<div class="item-center mt-[27px] pb-[60px]">
				<div class="item-center">

					<div class="grid grid-col-4 justify-center">
						<div class="flex">
							<div class="bg-gradient-ocean p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">Jan</p>
										<h3 class="headings h3">14</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
							<div class="bg-gradient-ocean p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">Jan</p>
										<h3 class="headings h3">14</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
							<div class="bg-gradient-ocean p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">Jan</p>
										<h3 class="headings h3">14</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
							<div class="bg-gradient-ocean p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">Jan</p>
										<h3 class="headings h3">14</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
						</div>
						<div class="flex">
							<div class="bg-gradient-ocean p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">Jan</p>
										<h3 class="headings h3">14</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
							<div class="bg-gradient-maroon p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">Apr</p>
										<h3 class="headings h3">01</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
							<div class="bg-gradient-ocean p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">Jan</p>
										<h3 class="headings h3">14</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
							<div class="bg-gradient-ocean p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">Jan</p>
										<h3 class="headings h3">14</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
						</div>
						<div class="flex">
							
							<div class="bg-gradient-ocean p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">Jan</p>
										<h3 class="headings h3">14</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
							<div class="bg-gradient-ocean p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">Jan</p>
										<h3 class="headings h3">14</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
							<div class="bg-gradient-ocean p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">Jan</p>
										<h3 class="headings h3">14</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
							<div class="bg-gradient-ocean p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">Jan</p>
										<h3 class="headings h3">14</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
						</div>
						<div class="flex">

							<div class="bg-gradient-ocean p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">Jan</p>
										<h3 class="headings h3">14</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
							<div class="bg-gradient-ocean p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">Jan</p>
										<h3 class="headings h3">14</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
							<div class="bg-gradient-ocean p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">Jan</p>
										<h3 class="headings h3">14</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
							<div class="bg-gradient-maroon p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">Dec</p>
										<h3 class="headings h3">25</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
						</div>
						
					</div>
					
				</div>
			</div>

		</div>
<!-- end fold 06 -->

<!-- fold 07 -->
		<div class="video-wrapper">
			<div class="video-container">
				<iframe width="100%" height="980"
					src="https://www.youtube.com/embed/0C7f8iq6f_w?autoplay=0&mute=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
				</iframe>
			</div>
		</div>
<!-- end fold 07 -->
		
<!-- footer-nav -->
		<div class="bg-msu-deep-ocean text-white-pure headings justify-center">
			<div class="mb-[60px] mt-[80px] ">
				<div class="flex px-[12.5%]  mb-[8.5%] justify-center">
					<img src="/images/article-img-1.png" alt="" class="ml-10 h-[200px]">
					<div class="ml-5">
						<h5 class="headings h5 max-w-[220px]">Article Long Title </h5>
						<p class="paragraph p2 max-w-[220px] text-white-pure mt-[15px] max-h-[152px]">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
					</div>

					<img src="/images/article-img-1.png" alt="" class="ml-10 h-[200px]">
					<div class="ml-5">
						<h5 class="headings h5 max-w-[220px]">Article Long Title </h5>
						<p class="paragraph p2 max-w-[220px] text-white-pure mt-[15px] max-h-[152px]">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
					</div>
					<img src="/images/article-img-1.png" alt="" class="ml-10 h-[200px]">
					<div class="ml-5">
						<h5 class="headings h5 max-w-[220px]">Article Long Title </h5>
						<p class="paragraph p2 max-w-[220px] text-white-pure mt-[15px] max-h-[152px]">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
					</div>
				</div>
				
				<img src="/images/rectangle.png" alt="" class="max-w-[360px] h-[20px] absolute">
				<div class="flex pl-[20.5%] pr-[20.5%] justify-center">
					
					<div>
						<ul>
							<li><h5 class="headings h5 max-w-[220px] mb-2">University </h5></li>
							<li><a href="#" class="paragraph p2 text-titanium mb-1">History </a></li>
							<li><a href="#" class="paragraph p2 text-titanium mb-1">Mission / Vission </a></li>
							<li><a href="#" class="paragraph p2 text-titanium mb-1">University Hymn </a></li>
							<li><a href="#" class="paragraph p2 text-titanium mb-1">Articles </a></li>
							<li><a href="#" class="paragraph p2 text-titanium mb-1">Events </a></li>
							<li><a href="#" class="paragraph p2 text-titanium mb-1">Gazette </a></li>
							<li><a href="#" class="paragraph p2 text-titanium mb-1">Annual Report </a></li>
						</ul>
					</div>
					<div class="ml-[12%]">
						<ul>
							<li><h5 class="headings h5 mb-2">Admissions </h5></li>	
							<li><a href="#" class="paragraph p2 text-titanium mb-1">MSU SASE </a></li>	
							<li><a href="#" class="paragraph p2 text-titanium mb-1">Undergraduate </a></li>	
							<li><a href="#" class="paragraph p2 text-titanium mb-1">Transferee </a></li>	
							<li><a href="#" class="paragraph p2 text-titanium mb-1">Returning / Shifting </a></li>	
							<li><a href="#" class="paragraph p2 text-titanium mb-1">Remedial Program </a></li>	
							<li><a href="#" class="paragraph p2 text-titanium mb-1">Student Fees </a></li>	
							<li><a href="#" class="paragraph p2 text-titanium mb-1">Scholarships & Grants </a></li>	
						</ul>
					</div>
					<div class="ml-[12%]">
						<ul>
							<li><h5 class="headings h5  w-200 mb-2">Programs </h5></li>
							<li><a href="#" class="paragraph p2 text-titanium mb-1 max-w-[520px] mt-[15px] max-h-[152px]">Intormation Technology </a></li>
							<li><a href="#" class="paragraph p2 text-titanium mb-1 max-w-[220px] mt-[15px] max-h-[152px]">Science & Arts </a></li>
							<li><a href="#" class="paragraph p2 text-titanium mb-1 max-w-[220px] mt-[15px] max-h-[152px]">Fisheries </a></li>
							<li><a href="#" class="paragraph p2 text-titanium mb-1 max-w-[220px] mt-[15px] max-h-[152px]">Education </a></li>
							<li><a href="#" class="paragraph p2 text-titanium mb-1 max-w-[220px] mt-[15px] max-h-[152px]">Oceanography </a></li>
							<li><a href="#" class="paragraph p2 text-titanium mb-1 max-w-[220px] mt-[15px] max-h-[152px]">Islami & Arabic Studies </a></li>
						</ul>
					</div>
					<div class="ml-[12%]">
						<ul>
							<li><h5 class="headings h5 max-w-[220px] mb-2">Admissions</h5></li>
							<li><a href="#" class="paragraph p2 text-titanium mb-1">Chancellor </a></li>
							<li><a href="#" class="paragraph p2 text-titanium mb-1">VC Admin & Finance </a></li>
							<li><a href="#" class="paragraph p2 text-titanium mb-1">Planning & Development </a></li>
							<li><a href="#" class="paragraph p2 text-titanium mb-1">IICT </a></li>
							<li><a href="#" class="paragraph p2 text-titanium mb-1">CAS </a></li>
							<li><a href="#" class="paragraph p2 text-titanium mb-1">COF </a></li>
							<li><a href="#" class="paragraph p2 text-titanium mb-1">COED </a></li>
							<li><a href="#" class="paragraph p2 text-titanium mb-1">IOES </a></li>
							<li><a href="#" class="paragraph p2 text-titanium mb-1">CIAS </a></li>
						</ul>
					</div>
					<div class="ml-[12%]">
						<ul>
							<li><h5 class="headings h5 max-w-[220px] mb-2">Legal </h5></li>
							<li><a href="#" class="paragraph p2 text-titanium mb-1">Terms </a></li>
							<li><a href="#" class="paragraph p2 text-titanium mb-1">Pricacy </a></li>
							<li><a href="#" class="paragraph p2 text-titanium mb-1">RA 6060 </a></li>
							<li><a href="#" class="paragraph p2 text-titanium mb-1">KRA2 </a></li>
						</ul>
						
						
						
						
						
					</div>
				</div>
			</div>
		</div>
<!-- end footer-nav -->

<!-- footer -->
		<div class="bg-msu-dark-ocean text-white-pure headings justify-center">
			<div class="flex mb-10 justify-center">
				<div class="items-center mt-20">
					<img src="/images/MSU Seal New (Official).png" alt="" class="ml-[28%] h-[152.99px] mr-5 mb-5">
					<div>
						<h4 class="headings h5 text-center">Mindanao State University</h4>
						<p class="paragraph p2 text-center">Tawi-Tawi College of Technology and Oceanography</p>
					</div>
				</div>

			</div>

			<div class="flex gap-8  mt-8 mb-8 justify-center">
				<div class="items-center mb-10">
					<img src="/images/Republika ng pilipinas.png" alt=""  class="ml-[8%]">
				</div>
				<div class="items-center mb-10">
					<img src="/images/transparency_seal.png" alt="" class="ml-[8%]">
				</div>
				<div class="items-center mb-10">
					<img src="/images/FOI-logo.png" alt="" class="ml-[8%]">
				</div>

			</div>

			<div class="flex flex-col-5 px-[12.5%] justify-center">
				<div class="flex flex-col gap-8 max-w-[300px] mr-[100px]">
					<div class="mb-10">	
						<div class="flex h5 mb-5">
							University Address
						</div>
							
						<div class="paragraph p2">Boheh Sallang, Sanga-Sanga
							Bongao, Tawi-Tawi 7500</div>
					</div>
					<div class="mb-5">	
						<div class="h5 mb-5">Main Office</div>
						<div class="paragraph p2">MSU Manila Information and Liaison Office
							Rm 203, Leticia Bldg.
							1804 Taft Avenue Corner J. Nakpil St.
							Malate, Manila</div>

					</div>
				</div>

				<div class="flex flex-col gap-8 max-w-[450px] mr-[100px]">
					<div class="mb-10">	
						<div class="h5 mb-5">Chancellor</div>
						<div class="paragraph p2">+63 917 3107843 <br> info@msutawi-tawi.edu.ph</div>
					</div>
					<div>	
						<div class="h5 mb-5">Admissions</div>
						<div class="paragraph p2">+63 917 3107843 <br> info@msutawi-tawi.edu.ph</div>

					</div>
				</div>

				<div class="flex flex-col gap-8 max-w-[450px] mr-[100px] ">
					<div class="mb-10">	
						<div class="h5 mb-5">Registrar</div>
						<div class="paragraph p2">+63 917 3107843 <br> info@msutawi-tawi.edu.ph</div>
					</div>
					<div>	
						<div class="h5 mb-5">Guidance</div>
						<div class="paragraph p2">+63 917 3107843 <br> info@msutawi-tawi.edu.ph</div>

					</div>
				</div>

				<div class="flex flex-col gap-8 max-w-[300px]">
					<div class=" gap-8 ml-5 mb-20">	
						<div class="paragraph p2">For other inquiries regarding biddings for projects and other business transactions please visit the link below</div>
					</div>
					
					<div class=" gap-8 text-center">
						<a href="#" class="bg-msu-maroon text-white-pure py-[8.5px] px-[25.5px] rounded-[40px] paragraph p1">Project Biddings</a>
					</div>
				</div>

			</div>
			
			<div class="flex gap-8  mt-8 justify-center">
				<div class="items-center mb-10">
					<img src="/images/social media/linkin.png" alt=""  class="ml-[8%]">
				</div>
				<div class="items-center mb-10">
					<img src="/images/social media/instagram.png" alt=""  class="ml-[8%]">
				</div>
				<div class="items-center mb-10">
					<img src="/images/social media/facebook.png" alt=""  class="ml-[8%]">
				</div>
				<div class="items-center mb-10">
					<img src="/images/social media/tweeter.png" alt=""  class="ml-[8%]">
				</div>
				<div class="items-center mb-10">
					<img src="/images/social media/youtube.png" alt=""  class="ml-[8%]">
				</div>

			</div>
			
			<div class="flex gap-8 mt-8 justify-center">
				<div class="items-center">
					<div>
						<p class="paragraph p2 text-center text-msu-shallow-ocean">© 2023 Mindanao State University - Tawi-Tawi College of Technology and Oceanography</p>
						<p class="paragraph p2 text-center text-msu-shallow-ocean mt-3">All rights reserved.</p>
					</div>
				</div>

			</div>

		</div>
<!-- end footer -->

	</main>
	
</Layout>
 