---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar";
import '../styles/css/global.css';

const currentPath = Astro.url.pathname;
---

<Layout title="Welcome to Astro.">
	<main>
		<Navbar path={currentPath} client:visible />


        <div class=' bg-msu-shallow-ocean h-[40px] xl:px-[12.5%] xs:px-[3.85%]'>
            <p class="paragraph p2 py-[10px] text-white-pure"><a href="/home">Home</a> / <a href="/publications">Publications</a>  / Academic Calendar </p>
        </div>

<!-- annual report -->
        <div class="hero-main-img pt-[80px] pb-[60px]">
            <h3 class="headings h3 text-white-pure text-center">Annual Reports</h3>

            <div class="flex justify-center mt-[80px]">
                <div class="flex flex-col ">
                    <img src="/images/gazette1.png" class=" w-[424px] mr-[68px]" alt="">
                </div>
                <div class="flex flex-col mt-[18px]">
                    <div class="flex">
                        <div class=" ">
                            <img src="/images/gazette1.png" class="w-[200px] mr-[37px]" alt="">
                        </div>
                        <div class="w-[200px]">
                            <img src="/images/gazette2.png" alt="">
                        </div>
                    </div>
                    <div class="flex">
                        <div class="">
                            <img src="/images/gazette1.png" class="w-[200px] mr-[37px]" alt="">
                        </div>
                        <div class="w-[200px]">
                            <img src="/images/gazette2.png" alt="">
                        </div>
                    </div>
                </div>
                
                <div class="mt-[20px]">
                    <div class=" ml-[38px] xl:max-w-[480px] xs:max-w-[350px]">
                        <h4 class="headings h4 text-write-pure">2023, 1st Quarter (January to March)</h4>
                        <p class="paragraph p2 text-white-pure mt-[40px]">
                            Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                            Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                            Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                            Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                        </p><br><br>
                        <p class="paragraph p2 text-white-pure">
                            Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                            Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                            Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                            Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                        </p>
                    </div>
                </div>
            </div>

        </div>
<!-- end annual report -->

<!-- previous report -->
        <div class=" bg-msu-crimson-ground px-[12.5%] pt-[70px] pb-[60px]">
            <p class="paragraph p1 text-white-pure ">Previous Releases</p>

            <div class="flex justify-center mt-[40px] ">
                <div class="flex flex-col">
                    <div class="flex gap-[37px]">
                        <div class="flex-col gap-[20]">
                            <p class="paragraph p2 text-white-pure ml-[12px]">2022</p>
                            <img src="/images/gazette1.png" class="w-[203px]" alt="">
                            <p class="paragraph p2 text-white-pure ml-[12px] w-[200px]">
                                Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                                Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                            </p>
                        </div>
                        <div class="flex-col gap-[20]">
                            <p class="paragraph p2 text-white-pure ml-[12px]">2022</p>
                            <img src="/images/gazette1.png" class="w-[203px]" alt="">
                            <p class="paragraph p2 text-white-pure ml-[12px] w-[200px]">
                                Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                                Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                            </p>
                        </div>
                        <div class="flex-col gap-[20]">
                            <p class="paragraph p2 text-white-pure ml-[12px]">2022</p>
                            <img src="/images/gazette1.png" class="w-[203px]" alt="">
                            <p class="paragraph p2 text-white-pure ml-[12px] w-[200px]">
                                Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                                Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                            </p>
                        </div>
                        <div class="flex-col gap-[20]">
                            <p class="paragraph p2 text-white-pure ml-[12px]">2022</p>
                            <img src="/images/gazette1.png" class="w-[203px]" alt="">
                            <p class="paragraph p2 text-white-pure ml-[12px] w-[200px]">
                                Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                                Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                            </p>
                        </div>
                        <div class="flex-col gap-[20]">
                            <p class="paragraph p2 text-white-pure ml-[12px]">2022</p>
                            <img src="/images/gazette1.png" class="w-[203px]" alt="">
                            <p class="paragraph p2 text-white-pure ml-[12px] w-[200px]">
                                Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                                Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                            </p>
                        </div>
                        <div class="flex-col gap-[20]">
                            <p class="paragraph p2 text-white-pure ml-[12px]">2022</p>
                            <img src="/images/gazette1.png" class="w-[203px]" alt="">
                            <p class="paragraph p2 text-white-pure ml-[12px] w-[200px]">
                                Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                                Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                            </p>
                        </div>
                    </div>
                    <div class="flex">
                    </div>
                </div>
            </div>

        </div>
<!-- end previous report -->

                


    </main>
	
</Layout>