---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar";
import MainVideo from "../components/MainVideo";
import FooterNav from "../components/FooterNav";
import Footer from "../components/Footer";
import '../styles/css/global.css';


const currentPath = Astro.url.pathname;
---

<Layout title="Welcome to Astro.">
	<main>
		<Navbar path={currentPath} client:visible />
        <div class='bg-gradient-ocean h-[100px] relative bottom-[100px] rotate-180'></div>
        <div class="absolute top-[180px] w-full">
            <div class=' h-[40px] xl:px-[12.5%] xs:px-[3.85%]'>
                <p class="paragraph p2 py-[10px] text-titanium"><a href="/home">Home</a> / <a href="/publications">Publications</a>  / Annual Report </p>
            </div>
            <div class="pt-[80px]">
                <h3 class="headings h3 text-white-pure text-center">Annual Report</h3>
    
                <div class="flex justify-center mt-[80px]">
                    <div class="flex flex-col ">
                        <img src="/images/gazette1.png" class=" w-[424px] mr-[68px]" alt="">
                    </div>
                    <div class="flex flex-col mt-[18px]">
                        <div class="flex gap-[37px]">
                            <div class="mb-[10px]">
                                <img src="/images/gazette1.png" class="w-[200px] " alt="">
                            </div>
                            <div class="w-[200px]">
                                <img src="/images/gazette2.png" alt="">
                            </div>
                        </div>
                        <div class="flex gap-[37px]">
                            <div class="">
                                <img src="/images/gazette1.png" class="w-[200px]" alt="">
                            </div>
                            <div class="w-[200px]">
                                <img src="/images/gazette2.png" alt="">
                            </div>
                        </div>
                    </div>
                    
                    <div class="mt-[20px]">
                        <div class=" ml-[38px] xl:max-w-[480px] xs:max-w-[350px]">
                            <h4 class="headings h4 text-write-pure">2023, 1st Quarter (January to March)</h4>
                            <p class="paragraph p2 text-white-pure mt-[40px]">
                                Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                                Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                                Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                                Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                            </p><br><br>
                            <p class="paragraph p2 text-white-pure">
                                Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                                Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                                Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                                Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                            </p>
                        </div>
                    </div>
                </div>
    
            </div>
            <div class="flex flex-col justify-center bg-msu-maroon px-[12.5%] mt-[20px]">
    
                <div class="flex justify-center pt-[71px] ">
                    <div class="flex flex-col">
                        <p class="paragraph p1 text-white-pure  pb-[40px] ml-[12px]">Previous Releases</p>
                        
                        <div class="flex flex-col mb-[120px]">
                            <div class="flex gap-[37px]">
                                <div class="flex-col gap-[20]">
                                    <p class="paragraph p2 text-white-pure ml-[12px]">2022</p>
                                    <img src="/images/gazette1.png" class="w-[203px]" alt="">
                                    <p class="paragraph p2 text-white-pure ml-[12px] w-[200px]">
                                        Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                                        Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                                    </p>
                                </div>
                                <div class="flex-col gap-[20]">
                                    <p class="paragraph p2 text-white-pure ml-[12px]">2022</p>
                                    <img src="/images/gazette1.png" class="w-[203px]" alt="">
                                    <p class="paragraph p2 text-white-pure ml-[12px] w-[200px]">
                                        Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                                        Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                                    </p>
                                </div>
                                <div class="flex-col gap-[20]">
                                    <p class="paragraph p2 text-white-pure ml-[12px]">2022</p>
                                    <img src="/images/gazette1.png" class="w-[203px]" alt="">
                                    <p class="paragraph p2 text-white-pure ml-[12px] w-[200px]">
                                        Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                                        Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                                    </p>
                                </div>
                                <div class="flex-col gap-[20]">
                                    <p class="paragraph p2 text-white-pure ml-[12px]">2022</p>
                                    <img src="/images/gazette1.png" class="w-[203px]" alt="">
                                    <p class="paragraph p2 text-white-pure ml-[12px] w-[200px]">
                                        Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                                        Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                                    </p>
                                </div>
                                <div class="flex-col gap-[20]">
                                    <p class="paragraph p2 text-white-pure ml-[12px]">2022</p>
                                    <img src="/images/gazette1.png" class="w-[203px]" alt="">
                                    <p class="paragraph p2 text-white-pure ml-[12px] w-[200px]">
                                        Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                                        Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                                    </p>
                                </div>
                                <div class="flex-col gap-[20]">
                                    <p class="paragraph p2 text-white-pure ml-[12px]">2022</p>
                                    <img src="/images/gazette1.png" class="w-[203px]" alt="">
                                    <p class="paragraph p2 text-white-pure ml-[12px] w-[200px]">
                                        Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                                        Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>


<!-- fold Main video -->

        <MainVideo path={currentPath} client:visible />
<!-- end Main video -->


<!-- FooterNaV -->
        <FooterNav path={currentPath} client:visible />
<!-- end FooterNaV -->

<!-- Footer -->
		<Footer path={currentPath} client:visible />
<!-- end Footer -->
                    
        </div>
        



    </main>
	
</Layout>