---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar";
import AcademicCalendar from "../components/AcademicCalendar.astro";
import MainVideo from "../components/MainVideo.astro";
import FooterNav from "../components/FooterNav.astro";
import Footer from "../components/Footer.astro";
import '../styles/css/global.css';

const currentPath = Astro.url.pathname;
---

<Layout title="Welcome to Astro.">
	<main>
<!-- fold 01 - Header -->
		<Navbar path={currentPath} client:visible />
<!-- end fold 01 -->

<!-- fold 02 -->
		<div class="bg-msu-ocean text-center xl:px-[12.5%] xl:pt-[80px] xs:pt-[40px]  xl:pb-[68px] xs:pb-[48px]">
            <div class="flex gap-[240px] ">

                <div class="flex  xl:w-[960px] xs:w-full   xs:px-[15px]">

                        <div class="flex flex-col gap-[60px] ">
                            
                            <div class="flex flex-col xl:gap-[80px] xs:gap-[40px]">  
                                <div class="flex flex-col gap-[10px]">
                                    <h3 class="headings text-white-pure xl:h3 xs:h5 text-left">
                                        Professor III
                                    </h3> 
                                </div>
                                <div class="flex xl:flex-row  ">   
                                    
                                    <div class="flex flex-col xl:gap-[40px] xs:gap-[20px] xl:w-full ">
                                        <div class="flex place-items-center ">
                                            <h4 class="headings text-white-pure xl:h4 xs:h6 text-left">
                                                Job Details
                                            </h4> 
                                        </div>
                                        
                                        <div class="flex xl:flex-row xs:flex-col xl:gap-[240px] xs:gap-[20px] place-items-enter ">
                                            <div class="flex xl:w-[780px]  xs:w-[360px]">
                                                <p class="paragraph text-white-pure xl:p1 xs:p2 text-left">
                                                    Lorem ipsum dolor sit amet consectetur. Sit justo semper sollicitudin nisl. Adipiscing amet gravida justo venenatis viverra morbi in. 
                                                    Eros tellus integer sit non amet amet. Sit justo semper sollicitudin nisl. Adipiscing amet gravida justo venenatis viverra morbi in. Eros tellus integer sit non amet 
                                                </p>
                                            </div>
                                            <div class="flex xl:flex-col xs:flex-col xl:gap-[20px] xs:gap-[10px] justify-center ">
                                                <p class="paragraph text-white-pure xl:p1 xs:p2   text-left">
                                                    Salary: P36,000 per month
                                                </p>
                                                <p class="paragraph text-white-pure xl:p1 xs:p2  text-left">
                                                    Duration: 1 Year minimun
                                                </p>
                                                <p class="paragraph text-white-pure xl:p1 xs:p2  text-left">
                                                    Status: Full time
                                                </p>
                                                <p class="paragraph text-white-pure xl:p1 xs:p2 text-left">
                                                    Experience: Fresh graduate
                                                </p>
                                                
                                            </div>
                                        </div>

                        
                                    </div>
                                </div>
                                <div class="flex xl:flex-row  ">   
                                    
                                    <div class="flex flex-col xl:gap-[40px] xs:gap-[20px] xl:w-full ">
                                        <div class="flex place-items-center ">
                                            <h4 class="headings text-white-pure xl:h4 xs:h6 text-left">
                                                Responsibilities
                                            </h4> 
                                        </div>
                                        <div class="flex xl:flex-col xs:flex-col xl:p-4 gap-[10px] ">
                                            <li class="paragraph text-white-pure text-left xl:p1 xs:p2">Lorem ipsum dolor sit amet consectetur. </li>
                                            <li class="paragraph text-white-pure text-left xl:p1 xs:p2">Lorem ipsum dolor sit amet consectetur. </li>
                                            <li class="paragraph text-white-pure text-left xl:p1 xs:p2">Lorem ipsum dolor sit amet consectetur. </li>
                                            <li class="paragraph text-white-pure text-left xl:p1 xs:p2">Lorem ipsum dolor sit amet consectetur. </li>
                                            <li class="paragraph text-white-pure text-left xl:p1 xs:p2">Lorem ipsum dolor sit amet consectetur. </li>
                                            
                                        </div>

                        
                                    </div>
                                </div>
                                    

                                        
                                        
                                        <div class="flex xl:flex-row xs:flex-col xl:gap-[240px] xs:gap-[40px] ">
                                            <div class="flex flex-col xl:gap-[40px] xs:gap-[20px]   xl:w-[780px] xs:w-[360px] ">
                                                <div class="flex place-items-center ">
                                                    <h4 class="headings text-white-pure xl:h4 xs:h6 text-left">
                                                        Requirements
                                                    </h4> 
                                                </div>
                                                <div class="flex xl:flex-col xs:flex-col xl:p-4 gap-[10px] ">
                                                    <li class="paragraph text-white-pure text-left xl:p1 xs:p2">Transcript of Records </li>
                                                    <li class="paragraph text-white-pure text-left xl:p1 xs:p2">Resume or Curriculum Vitae </li>
                                                    <li class="paragraph text-white-pure text-left xl:p1 xs:p2">NBI or Police Clearance </li>
                                                    <li class="paragraph text-white-pure text-left xl:p1 xs:p2">Diploma </li>
                                                    <li class="paragraph text-white-pure text-left xl:p1 xs:p2">Cover Letter </li>
                                                    
                                                </div>
                                            </div>
                                            <div class="flex xl:flex-col xs:flex-col justify-center xl:items-start xs:items-center">
                                                <div class="flex ">
                                                    <a href="/application" class="paragraph  xs:w-[460px] xl:p2 xs:p2 bg-msu-blue-horizon text-white-pure xl:py-[38px] xs:py-[38px]  xl:px-[77px] xs:msx-[77px] border border-titanium">Drag or Upload Requirements here</a>
                                                    
                                                </div>
                                                <div class="flex  xl:mt-[40px] xs:mt-[40px] ">
                                                    <a href="/application" class="paragraph xl:p2 xs:p2 bg-msu-maroon text-white-pure xl:py-[14px] xs:py-[18px] xl:px-[48px] xs:px-[160px]  rounded-[34px]">Submit</a>
                                                    
                                                    
                                                </div>
                                                
                                            </div>
                                        </div>

                        

                            </div>
                            
                        </div>

                </div>

            </div>
		</div>
<!-- end fold 02 -->

<!-- Footer -->
		<Footer path={currentPath} client:visible />
<!-- end Footer -->

	</main>
	
</Layout>
 