---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar";
import FooterNav from "../components/FooterNav.astro";
import Footer from "../components/Footer.astro";
import DataTableComponent from '../api/DataTableComponent.jsx';
import '../styles/css/global.css';

const currentPath = Astro.url.pathname;
import { getBidding } from '../api/api';

const bidding = await getBidding();
---

<Layout title="MSU | Tawi-Tawi College of Technology and Oceanography">
  <main>
    <Navbar path={currentPath} client:visible />

    <!-- Approval Section -->
    <section class="bg-white-pure w-full xl:px-[12.5%] xs:px-[5%] py-[60px]">
      <h4 class="xl:h4 xs:h5 text-msu-maroon text-center font-semibold mb-6">
        Approval for Posting
      </h4>

      <!-- Render React Component -->
      <DataTableComponent data={bidding} client:visible />
    </section>

    <!-- FooterNav -->
    <FooterNav />
    <!-- Footer -->
    <Footer />
  </main>
</Layout>
