---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar";
import FooterNav from "../components/FooterNav";
import Footer from "../components/Footer";
import '../styles/css/global.css';

const currentPath = Astro.url.pathname;
---

<Layout title="Welcome to Astro.">
	<main>
		<Navbar path={currentPath} client:visible />


        <div class="flex justify-end mt-[120px]">
            <div class="mr-[120px]">
                <h3 class="headings h3 max-w-[720px]">A Brief History</h3>
                <p class="paragraph p1 text-white-pure max-w-[720px] mt-20">Starting in 1964 as Mindanao State University Preparatory High School in Bongao, Tawi-Tawi, a mere adjunct to MSU Marawi Preparatory High School, MSU Tawi-Tawi College of Technology and Oceanography has grown into an institution of academic excellence. More secondary schools were established from 1967 to 1977 in the outlying island municipalities of Tawi-Tawi. By 1990, 20 high schools were put up throughout the province. In 1984, MSU-TCTO Science High School and MSU-TCTO Child Development Center – Laboratory Elementary School were established.</p>
                <p class="paragraph p1 text-white-pure max-w-[720px] mt-10">Republic Act 6060 gave birth to MSU-Sulu College of Technology and Oceanography on August 4, 1969, initially offering degree programs and diploma in Fisheries Technology.</p>
            </div>
            <div>
                <img src="/images/the-campus-2.png" alt="" class="h-[640px] object-cover object-center" />
            </div>
        </div>
        <div class="flex justify-start mt-20">
            <div class="mr-[120px]">
                <img src="/images/the-campus-2.png" alt="" class="h-[640px] object-cover object-center" />
            </div>
            <div>
                <p class="paragraph p1 text-white-pure max-w-[720px]">In 1973, Tawi-Tawi became a separate province from Sulu, and MSU-SCTO became MSU-Tawi-Tawi College of Technology and Oceanography per BP Blg. 197. In 1990 it became an autonomous university campus.</p>
                <p class="paragraph p1 text-white-pure max-w-[720px] mt-10">In its more than four decades of existence, it has steadfastly pursued its vision to be the center of excellence in Fisheries, Marine and Maritime Sciences and Engineering, and Oceanography, in its mission to give Muslims and other cultural minorities access to quality education and develop such other programs as will promote Muslim welfare and hasten socio-economic development of the southernmost region of the country.</p>
                <p class="paragraph p1 text-white-pure max-w-[720px] mt-10">MSU-TCTO is comprised of the following academic units: the Graduate School, College of Fisheries, College of Arts and Sciences, College of Education, Institute of Environmental and Oceanography Studies, College of Islamic and Arabic Studies, and the Institute of Information and Communications Technology.</p>
            </div>
        </div>
        <div class="flex justify-center mt-20 xl:px-[12.5%] xs:px-[3.85%]">
            <img src="/images/the-campus-2.png" alt="" class="h-[360px] object-cover object-center" />
            <img src="/images/the-campus-2.png" alt="" class="h-[360px] object-cover object-center" />
            <img src="/images/the-campus-2.png" alt="" class="h-[360px] object-cover object-center" />
        </div>
        <div class="flex flex-col items-center mt-20">
            <p class="paragraph p1 text-white-pure max-w-[720px]">The extension services of the college include providing capability building trainings and functional literacy programs to the Tawi-Tawians. The local folks are empowered through education and entrepreneurial development.</p>
            <p class="paragraph p1 text-white-pure max-w-[720px] mt-10">The college has continued to undertake researches in fisheries aquaculture, and marine related sciences, as well as in the social sciences. These initiatives are designed to promote sustainable utilization and rational management of the marine and fisheries resources of the area, with the aim of improving the standard of living of the people of Southern Philippines.</p>
        </div>
        <div class="bg-msu-maroon pb-20">
            <div class="flex justify-center bg-gradient-ocean py-[111px]">
                <h3 class="headings h3 max-w-[720px] text-center">
                    That was us before.
                    This is us now!
                </h3>
            </div>
            <div class="flex justify-center">
                <img src="/images/campus-now-1.png" alt="" class="h-[980px] object-cover object-center" />
                <div>
                    <img src="/images/campus-now-2.png" alt="" class="h-[490px] object-cover object-center" />
                    <img src="/images/campus-now-3.png" alt="" class="h-[490px] object-cover object-center" />
                </div>
            </div>
            <div class="flex flex-col items-center mt-20">
                <h3 class="headings h3 max-w-[720px] text-center">A lot has changed through the years!</h3>
                <p class="paragraph p1 text-white-pure max-w-[720px] mt-20">Lorem ipsum dolor sit amet consectetur. At sapien diam cras pellentesque aliquam adipiscing. Morbi consectetur et rhoncus id turpis tortor. Sed aliquam potenti porta tellus. Ut consequat ut tempor senectus. Accumsan accumsan orci vel lacus diam sed ut elit.<br /><br />
                    Pretium viverra et amet egestas dolor vitae magna venenatis sit. Orci morbi pharetra pulvinar purus pretium enim sagittis sit nullam. Quam blandit mi mi ut rhoncus aenean. Ut lectus metus dictum fames sed. Aliquam nam amet luctus duis euismod et.
                </p>
                <a href="" class="paragraph p1 text-white-pure py-[10.5px] px-[90px] mt-[50px] border rounded-[40px]">Check our Campus Gallery</a>
            </div>
        </div>
        <div class="bg-white-pure flex flex-col items-center text-center pb-[71px]">
            <h3 class="headings h3 text-msu-maroon max-w-[720px] mt-20">The same vision with a better mission</h3>
            <h4 class="headings h4 text-msu-rusty-red max-w-[720px] mt-20">VISION</h4>
            <p class="paragraph p1 text-black-pure max-w-[720px] mt-10">A university in the Sulu Archipelago renowned for Fisheries, Marine and Environmental Science and other disciplines.</p>
            <h4 class="headings h4 text-msu-rusty-red max-w-[720px] mt-20">MISSION</h4>
            <p class="paragraph p1 text-black-pure max-w-[720px] mt-10">
                To fulfill its mandate, MSU-TCTO shall:<br /><br />
                a) Provide relevant quality education especially to Muslims and other indigenous groups;<br /><br />
                
                b) Promote environmental conservation and sustainable utilization of fisheries and marine resources;<br /><br />
                
                c) Develop and transfer new knowledge and innovative technology to the community; and<br /><br />
                
                d) Engage stakeholders in peace and socio-economic development endeavors.
            </p>
        </div>

        <div class="bg-black-pure h-[1080px]">
            <div class="flex flex-col items-center gap-[80px]">
                <div class="">
                    <h4 class="headings text-msu-maroon h3 mt-[80px] w-[718px] text-center">The MSU Hymn</h4>
                </div>
                <div class="flex gap-[120px]"> 
                    <div class="">
                        <iframe class="flex mb-[90px] rounded-[40px] border" width="721" height="490"
                            src="https://www.youtube.com/embed/0C7f8iq6f_w?autoplay=0&mute=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        </iframe>
                        <figure>
                            <audio controls class="h-[60px] w-[720px]">
                             <source src="/audio/magsayaulit.mp3" type="audio/mpeg">
                            </audio>
                        </figure>
                    </div>

                    <div>
                        <p class="paragraph p1 w-[400px] text-white-pure">
                            Silahis ang katulad mong
                            nagsabog ng liwanag
                            <br> <br>
                            Ng pag-asa't hangarin
                            ng pag-unlad.
                            <br> <br>
        
                            Ang pook ng Mindanao
                            tinanglaw at pinalad,
                            <br> <br>
        
                            Nang ika'y isilang
                            na dakila ang hangad.
                            <br> <br>
        
                            Ating ipagkapuri
                            Itong Pamantasan,
                            <br> <br>
        
                            Ang buhay at pag-ibig
                            sa kanya'y iaalay;
                            <br> <br>
        
                            Saan man naroroon
                            ay bigyang karangalan,
                            <br> <br>
        
                            Dakilang paaralan
                            Pamantasang Mindanao.
                        </p>
                    </div>
                </div>  
                
            </div>
        </div>

        <div class="bg-msu-maroon h-[540px]">
            <div class="flex flex-col items-center gap-[80px]">
                <div class="">
                    <h4 class="headings text-white-pure h3 mt-[80px] w-[1438px] text-center">A Center of Excellence & Development</h4>
                </div>
                <div class="flex flex-col gap-[5px]">
                    <p class="paragraph p1 text-center text-msu-golden-fog">Center of Excellence in Field</p>
                    <p class="paragraph p1 text-center text-msu-golden-fog">Center of Excellence in Field</p>
                    <p class="paragraph p1 text-center text-msu-golden-fog">Center of Excellence in Field</p>
                    <p class="paragraph p1 text-center text-msu-golden-fog">Center of Excellence in Field</p>
                    <p class="paragraph p1 text-center text-msu-golden-fog">Center of Excellence in Field</p>
                    <p class="paragraph p1 text-center text-msu-golden-fog">Center of Excellence in Field</p>
                </div>
            
            </div>
        </div>
        <div class="text-center mb-[120px] ">
            <div class="flex flex-col items-center gap-[120px]">
                <h3 class="headings h3 mt-[80px] mb-[120px] w-[960px]">More courses offered in more areas of knowledge</h3>
            
            </div>

            <div class="flex flex-col gap-[120px] mb-[120px]">
            

                <div class="flex flex-col gap-[40px]  xl:mb-[40px]">
                    <div class="gap-[330px] flex xl:flex-row xs:flex-col xl:px-[12.5%] xs:px-[3.85%] xl:mb-[10px] justify-center ">
                        <img src="/images/College Logo/LOGO CAS.png" alt="" class="xl:w-[150px] xl:h-[150px] ">
                        <img src="/images/College Logo/LOGO CIAS.png" alt="" class="xl:w-[150px] xl:h-[150px] ">
                        <img src="/images/College Logo/LOGO COED.png" alt="" class="xl:w-[150px] xl:h-[150px] ">
                    </div>
                    <div class="flex xl:flex-row xs:flex-col xl:px-[12.5%] xs:px-[3.85%] justify-center ">
                        <p class="paragraph xl:p1 text-white-pure w-[480px] flex justify-center">College of Arts and Sciences</p>
                        <p class="paragraph xl:p1 text-white-pure w-[480px] flex justify-center ">College of Islamic & Arabic Studies</p>
                        <p class="paragraph xl:p1 text-white-pure w-[480px] flex justify-center">College of Education</p>
                    </div>
    
                </div>
                
    
                <div class="flex flex-col  gap-[40px] xl:mb-[40px]">
                    <div class="gap-[330px] flex xl:flex-row xs:flex-col xl:px-[12.5%] xs:px-[3.85%] xl:mb-[10px] justify-center ">
                        <img src="/images/College Logo/LOGO IICT.png" alt="" class="xl:w-[150px] xl:h-[150px] ">
                        <img src="/images/College Logo/LOGO COF.png" alt="" class="xl:w-[150px] xl:h-[150px] ">
                        <img src="/images/College Logo/LOGO IOES.png" alt="" class="xl:w-[150px] xl:h-[150px] ">
                    </div>
                    <div class="flex xl:flex-row xs:flex-col xl:px-[12.5%] xs:px-[3.85%] justify-center ">
                        <p class="paragraph xl:p1 text-white-pure w-[480px] flex justify-center">Institute of Information and Communication Technology</p>
                        <p class="paragraph xl:p1 text-white-pure w-[480px] flex justify-center ">College of Fisheries</p>
                        <p class="paragraph xl:p1 text-white-pure w-[480px] flex justify-center">Institute of Oceanography and Environmental Science</p>
                    </div>
    
                </div>

            </div>
            <div class="flex flex-col gap-[49px] justify-center">
                <div class="flex justify-center">
                    <a href="#" class="paragraph p1 bg-white-pure w-[480px] py-[12.5px] px-[30.5px] rounded-[40px]">Check our Enrollment Procedures</a>
                    </div>
                <div class="flex justify-center">
                    <a href="#" class="paragraph p1 bg-transparent text-white-pure w-[480px] py-[12.5px] px-[30.5px] rounded-[40px] border border-msu-white-pure">Administrative Offices</a>
                </div>
            </div>
        </div>
        
        <div class="video-wrapper">
            <div class="video-container">
                <iframe width="100%" height="980"
                    src="https://www.youtube.com/embed/0C7f8iq6f_w?autoplay=0&mute=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        </div>


<!-- FooterNaV -->
        <FooterNav path={currentPath} client:visible />
<!-- end FooterNaV -->

<!-- Footer -->
		<Footer path={currentPath} client:visible />
<!-- end Footer -->


    </main>
	
</Layout>