---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar";
import '../styles/css/global.css';

const currentPath = Astro.url.pathname;
---

<Layout title="Welcome to Astro.">
	<main>
		<Navbar path={currentPath} client:visible />


        <div class='bg-msu-dark-ocean h-[40px] xl:px-[12.5%] xs:px-[3.85%]'>
            <p class="paragraph p2 py-[10px] text-white-pure"><a href="/">Home</a> / The Campus</p>
        </div>
        <div class="flex justify-end mt-[120px]">
            <div class="mr-[120px]">
                <h3 class="headings h3 max-w-[720px]">A Brief History</h3>
                <p class="paragraph p1 text-white-pure max-w-[720px] mt-20">Starting in 1964 as Mindanao State University Preparatory High School in Bongao, Tawi-Tawi, a mere adjunct to MSU Marawi Preparatory High School, MSU Tawi-Tawi College of Technology and Oceanography has grown into an institution of academic excellence. More secondary schools were established from 1967 to 1977 in the outlying island municipalities of Tawi-Tawi. By 1990, 20 high schools were put up throughout the province. In 1984, MSU-TCTO Science High School and MSU-TCTO Child Development Center – Laboratory Elementary School were established.</p>
                <p class="paragraph p1 text-white-pure max-w-[720px] mt-10">Republic Act 6060 gave birth to MSU-Sulu College of Technology and Oceanography on August 4, 1969, initially offering degree programs and diploma in Fisheries Technology.</p>
            </div>
            <div>
                <img src="/images/the-campus-2.png" alt="" class="h-[640px] object-cover object-center" />
            </div>
        </div>
        <div class="flex justify-start mt-20">
            <div class="mr-[120px]">
                <img src="/images/the-campus-2.png" alt="" class="h-[640px] object-cover object-center" />
            </div>
            <div>
                <p class="paragraph p1 text-white-pure max-w-[720px]">In 1973, Tawi-Tawi became a separate province from Sulu, and MSU-SCTO became MSU-Tawi-Tawi College of Technology and Oceanography per BP Blg. 197. In 1990 it became an autonomous university campus.</p>
                <p class="paragraph p1 text-white-pure max-w-[720px] mt-10">In its more than four decades of existence, it has steadfastly pursued its vision to be the center of excellence in Fisheries, Marine and Maritime Sciences and Engineering, and Oceanography, in its mission to give Muslims and other cultural minorities access to quality education and develop such other programs as will promote Muslim welfare and hasten socio-economic development of the southernmost region of the country.</p>
                <p class="paragraph p1 text-white-pure max-w-[720px] mt-10">MSU-TCTO is comprised of the following academic units: the Graduate School, College of Fisheries, College of Arts and Sciences, College of Education, Institute of Environmental and Oceanography Studies, College of Islamic and Arabic Studies, and the Institute of Information and Communications Technology.</p>
            </div>
        </div>
        <div class="flex justify-center mt-20 xl:px-[12.5%] xs:px-[3.85%]">
            <img src="/images/the-campus-2.png" alt="" class="h-[360px] object-cover object-center" />
            <img src="/images/the-campus-2.png" alt="" class="h-[360px] object-cover object-center" />
            <img src="/images/the-campus-2.png" alt="" class="h-[360px] object-cover object-center" />
        </div>
        <div class="flex flex-col items-center mt-20">
            <p class="paragraph p1 text-white-pure max-w-[720px]">The extension services of the college include providing capability building trainings and functional literacy programs to the Tawi-Tawians. The local folks are empowered through education and entrepreneurial development.</p>
            <p class="paragraph p1 text-white-pure max-w-[720px] mt-10">The college has continued to undertake researches in fisheries aquaculture, and marine related sciences, as well as in the social sciences. These initiatives are designed to promote sustainable utilization and rational management of the marine and fisheries resources of the area, with the aim of improving the standard of living of the people of Southern Philippines.</p>
        </div>
        <div class="bg-msu-maroon pb-20">
            <div class="flex justify-center bg-gradient-ocean py-[111px]">
                <h3 class="headings h3 max-w-[720px] text-center">
                    That was us before.
                    This is us now!
                </h3>
            </div>
            <div class="flex justify-center">
                <img src="/images/campus-now-1.png" alt="" class="h-[980px] object-cover object-center" />
                <div>
                    <img src="/images/campus-now-2.png" alt="" class="h-[490px] object-cover object-center" />
                    <img src="/images/campus-now-3.png" alt="" class="h-[490px] object-cover object-center" />
                </div>
            </div>
            <div class="flex flex-col items-center mt-20">
                <h3 class="headings h3 max-w-[720px] text-center">A lot has changed through the years!</h3>
                <p class="paragraph p1 text-white-pure max-w-[720px] mt-20">Lorem ipsum dolor sit amet consectetur. At sapien diam cras pellentesque aliquam adipiscing. Morbi consectetur et rhoncus id turpis tortor. Sed aliquam potenti porta tellus. Ut consequat ut tempor senectus. Accumsan accumsan orci vel lacus diam sed ut elit.<br /><br />
                    Pretium viverra et amet egestas dolor vitae magna venenatis sit. Orci morbi pharetra pulvinar purus pretium enim sagittis sit nullam. Quam blandit mi mi ut rhoncus aenean. Ut lectus metus dictum fames sed. Aliquam nam amet luctus duis euismod et.
                </p>
                <a href="" class="paragraph p1 text-white-pure py-[10.5px] px-[90px] mt-[50px] border rounded-[40px]">Check our Campus Gallery</a>
            </div>
        </div>
        <div class="bg-white-pure flex flex-col items-center text-center pb-[71px]">
            <h3 class="headings h3 text-msu-maroon max-w-[720px] mt-20">The same vision with a better mission</h3>
            <h4 class="headings h4 text-msu-rusty-red max-w-[720px] mt-20">VISION</h4>
            <p class="paragraph p1 text-black-pure max-w-[720px] mt-10">A university in the Sulu Archipelago renowned for Fisheries, Marine and Environmental Science and other disciplines.</p>
            <h4 class="headings h4 text-msu-rusty-red max-w-[720px] mt-20">MISSION</h4>
            <p class="paragraph p1 text-black-pure max-w-[720px] mt-10">
                To fulfill its mandate, MSU-TCTO shall:<br /><br />


        <div class="bg-silver h-[1080px]">
            <div class="flex flex-col items-center gap-[80px]">
                <div class="">
                    <h4 class="headings text-msu-maroon h3 mt-[80px] w-[718px] text-center">The MSU Hymn</h4>
                </div>
                <div class="flex gap-[120px]"> 
                    <div class="">
                        <iframe class="flex mb-[90px] rounded-[40px] border" width="721" height="490"
                            src="https://www.youtube.com/embed/0C7f8iq6f_w?autoplay=0&mute=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        </iframe>
                        <figure>
                            <audio controls class="h-[60px] w-[720px]">
                             <source src="/audio/magsayaulit.mp3" type="audio/mpeg">
                            </audio>
                        </figure>
                    </div>

                    <div>
                        <p class="paragraph p1 w-[400px]">
                            Silahis ang katulad mong
                            nagsabog ng liwanag
                            <br> <br>
                            Ng pag-asa't hangarin
                            ng pag-unlad.
                            <br> <br>
        
                            Ang pook ng Mindanao
                            tinanglaw at pinalad,
                            <br> <br>
        
                            Nang ika'y isilang
                            na dakila ang hangad.
                            <br> <br>
        
                            Ating ipagkapuri
                            Itong Pamantasan,
                            <br> <br>
        
                            Ang buhay at pag-ibig
                            sa kanya'y iaalay;
                            <br> <br>
        
                            Saan man naroroon
                            ay bigyang karangalan,
                            <br> <br>
        
                            Dakilang paaralan
                            Pamantasang Mindanao.
                        </p>
                    </div>
                </div>  
                
            </div>
        </div>

        <div class="bg-msu-dark-ocean h-[540px]">
            <div class="flex flex-col items-center gap-[80px]">
                <div class="">
                    <h4 class="headings text-msu-gold h3 mt-[80px] w-[1438px] text-center">A Center of Excellence & Development</h4>
                </div>
                <div class="flex flex-col gap-[5px]">
                    <p class="paragraph p1 text-center text-msu-shallow-ocean">Center of Excellence in Field</p>
                    <p class="paragraph p1 text-center text-msu-shallow-ocean">Center of Excellence in Field</p>
                    <p class="paragraph p1 text-center text-msu-shallow-ocean">Center of Excellence in Field</p>
                    <p class="paragraph p1 text-center text-msu-shallow-ocean">Center of Excellence in Field</p>
                    <p class="paragraph p1 text-center text-msu-shallow-ocean">Center of Excellence in Field</p>
                    <p class="paragraph p1 text-center text-msu-shallow-ocean">Center of Excellence in Field</p>
                </div>
            
            </div>
        </div>
        

                a) Provide relevant quality education especially to Muslims and other indigenous groups;<br /><br />
                
                b) Promote environmental conservation and sustainable utilization of fisheries and marine resources;<br /><br />
                
                c) Develop and transfer new knowledge and innovative technology to the community; and<br /><br />
                
                d) Engage stakeholders in peace and socio-economic development endeavors.
            </p>
        </div>
        
        <div class="text-center mb-[120px] ">
            <div class="flex flex-col items-center gap-[120px]">
                <h3 class="headings h3 mt-[80px] mb-[120px] w-[960px]">More courses offered in more areas of knowledge</h3>
            
            </div>

            <div class="flex flex-col gap-[120px] mb-[120px]">
            

                <div class="flex flex-col gap-[40px]  xl:mb-[40px]">
                    <div class="gap-[330px] flex xl:flex-row xs:flex-col xl:px-[12.5%] xs:px-[3.85%] xl:mb-[10px] justify-center ">
                        <img src="/images/College Logo/LOGO CAS.png" alt="" class="xl:w-[150px] xl:h-[150px] ">
                        <img src="/images/College Logo/LOGO CIAS.png" alt="" class="xl:w-[150px] xl:h-[150px] ">
                        <img src="/images/College Logo/LOGO COED.png" alt="" class="xl:w-[150px] xl:h-[150px] ">
                    </div>
                    <div class="flex xl:flex-row xs:flex-col xl:px-[12.5%] xs:px-[3.85%] justify-center ">
                        <p class="paragraph xl:p1 text-white-pure w-[480px] flex justify-center">College of Arts and Sciences</p>
                        <p class="paragraph xl:p1 text-white-pure w-[480px] flex justify-center ">College of Islamic & Arabic Studies</p>
                        <p class="paragraph xl:p1 text-white-pure w-[480px] flex justify-center">College of Education</p>
                    </div>
    
                </div>
                
    
                <div class="flex flex-col  gap-[40px] xl:mb-[40px]">
                    <div class="gap-[330px] flex xl:flex-row xs:flex-col xl:px-[12.5%] xs:px-[3.85%] xl:mb-[10px] justify-center ">
                        <img src="/images/College Logo/LOGO IICT.png" alt="" class="xl:w-[150px] xl:h-[150px] ">
                        <img src="/images/College Logo/LOGO COF.png" alt="" class="xl:w-[150px] xl:h-[150px] ">
                        <img src="/images/College Logo/LOGO IOES.png" alt="" class="xl:w-[150px] xl:h-[150px] ">
                    </div>
                    <div class="flex xl:flex-row xs:flex-col xl:px-[12.5%] xs:px-[3.85%] justify-center ">
                        <p class="paragraph xl:p1 text-white-pure w-[480px] flex justify-center">Institute of Information and Communication Technology</p>
                        <p class="paragraph xl:p1 text-white-pure w-[480px] flex justify-center ">College of Fisheries</p>
                        <p class="paragraph xl:p1 text-white-pure w-[480px] flex justify-center">Institute of Oceanography and Environmental Science</p>
                    </div>
    
                </div>

            </div>
            <div class="flex flex-col gap-[49px] justify-center">
                <div class="flex justify-center">
                    <a href="#" class="paragraph p1 bg-white-pure w-[480px] py-[12.5px] px-[30.5px] rounded-[40px]">Check our Enrollment Procedures</a>
                    </div>
                <div class="flex justify-center">
                    <a href="#" class="paragraph p1 bg-transparent text-white-pure w-[480px] py-[12.5px] px-[30.5px] rounded-[40px] border border-msu-white-pure">Administrative Offices</a>
                </div>
            </div>
        </div>
        
        <div class="video-wrapper">
            <div class="video-container">
                <iframe width="100%" height="980"
                    src="https://www.youtube.com/embed/0C7f8iq6f_w?autoplay=0&mute=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        </div>

<!-- footer-nav -->
        <div class="bg-msu-deep-ocean text-white-pure">
            <div class="mb-[60px] xl:mt-[80px] xs:mt-[40px]">
                <div class="flex xl:flex-row xs:flex-col xl:px-[12.5%] xs:px-[3.85%] xl:mb-[140px] xs:[58px] justify-center items-center">
                    <div class="flex mb-[40px]">
                        <img src="/images/article-img-1.png" alt="" class="ml-10 xl:h-[200px] xs:h-[120px]">
                        <div class="ml-5">
                            <h5 class="headings xl:h5 xs:h6 max-w-[220px]">Article Long Title </h5>
                            <p class="paragraph xl:p2 xs:p3 max-w-[220px] text-white-pure mt-[15px] max-h-[142px] overflow-hidden">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
                        </div>
                    </div>
                    <div class="flex mb-[40px]">
                        <img src="/images/article-img-1.png" alt="" class="ml-10 xl:h-[200px] xs:h-[120px]">
                        <div class="ml-5">
                            <h5 class="headings xl:h5 xs:h6 max-w-[220px]">Article Long Title </h5>
                            <p class="paragraph xl:p2 xs:p3 max-w-[220px] text-white-pure mt-[15px] max-h-[142px] overflow-hidden">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
                        </div>
                    </div>
                    <div class="flex mb-[40px]">
                        <img src="/images/article-img-1.png" alt="" class="ml-10 xl:h-[200px] xs:h-[120px]">
                        <div class="ml-5">
                            <h5 class="headings xl:h5 xs:h6 max-w-[220px]">Article Long Title </h5>
                            <p class="paragraph xl:p2 xs:p3 max-w-[220px] text-white-pure mt-[15px] max-h-[142px] overflow-hidden">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
                        </div>
                    </div>
                </div>
                
                <img src="/images/rectangle.png" alt="" class="max-w-full h-[20px] absolute xs:hidden 3xl:block">
                <div class="flex xl:flex-row xs:flex-col justify-center xl:items-stretch xs:items-center xl:mx-[12.5%] xs:mx-[3.85%] px-[240px]">
                    <div class="flex xl:mt-0 xs:mt-10">
                        <ul class="min-w-[170px]">
                            <li><h5 class="headings h5 max-w-[220px] mb-2">University </h5></li>
                            <li><a href="#" class="paragraph p2 text-titanium mb-1">History </a></li>
                            <li><a href="#" class="paragraph p2 text-titanium mb-1">Mission / Vission </a></li>
                            <li><a href="#" class="paragraph p2 text-titanium mb-1">University Hymn </a></li>
                            <li><a href="#" class="paragraph p2 text-titanium mb-1">Articles </a></li>
                            <li><a href="#" class="paragraph p2 text-titanium mb-1">Events </a></li>
                            <li><a href="#" class="paragraph p2 text-titanium mb-1">Gazette </a></li>
                            <li><a href="#" class="paragraph p2 text-titanium mb-1">Annual Report </a></li>
                        </ul>
                        <ul class="xl:ml-[100px] xs:ml-[52px] min-w-[170px]">
                            <li><h5 class="headings h5 mb-2">Admissions </h5></li>	
                            <li><a href="#" class="paragraph p2 text-titanium mb-1">MSU SASE </a></li>	
                            <li><a href="#" class="paragraph p2 text-titanium mb-1">Undergraduate </a></li>	
                            <li><a href="#" class="paragraph p2 text-titanium mb-1">Transferee </a></li>	
                            <li><a href="#" class="paragraph p2 text-titanium mb-1">Returning / Shifting </a></li>	
                            <li><a href="#" class="paragraph p2 text-titanium mb-1">Remedial Program </a></li>	
                            <li><a href="#" class="paragraph p2 text-titanium mb-1">Student Fees </a></li>	
                            <li><a href="#" class="paragraph p2 text-titanium mb-1">Scholarships & Grants </a></li>	
                        </ul>
                    </div>
                    <div class="flex xl:mt-0 xs:mt-10 xl:ml-[100px] xs:ml-0">
                        <ul class="min-w-[170px]">
                            <li><h5 class="headings h5  w-200 mb-2">Programs </h5></li>
                            <li><a href="#" class="paragraph p2 text-titanium mb-1 max-w-[520px] mt-[15px] max-h-[152px]">Intormation Technology </a></li>
                            <li><a href="#" class="paragraph p2 text-titanium mb-1 max-w-[220px] mt-[15px] max-h-[152px]">Science & Arts </a></li>
                            <li><a href="#" class="paragraph p2 text-titanium mb-1 max-w-[220px] mt-[15px] max-h-[152px]">Fisheries </a></li>
                            <li><a href="#" class="paragraph p2 text-titanium mb-1 max-w-[220px] mt-[15px] max-h-[152px]">Education </a></li>
                            <li><a href="#" class="paragraph p2 text-titanium mb-1 max-w-[220px] mt-[15px] max-h-[152px]">Oceanography </a></li>
                            <li><a href="#" class="paragraph p2 text-titanium mb-1 max-w-[220px] mt-[15px] max-h-[152px]">Islami & Arabic Studies </a></li>
                        </ul>
                        <ul class="xl:ml-[100px] xs:ml-[52px] min-w-[170px]">
                            <li><h5 class="headings h5 max-w-[220px] mb-2">Admissions</h5></li>
                            <li><a href="#" class="paragraph p2 text-titanium mb-1">Chancellor </a></li>
                            <li><a href="#" class="paragraph p2 text-titanium mb-1">VC Admin & Finance </a></li>
                            <li><a href="#" class="paragraph p2 text-titanium mb-1">Planning & Development </a></li>
                            <li><a href="#" class="paragraph p2 text-titanium mb-1">IICT </a></li>
                            <li><a href="#" class="paragraph p2 text-titanium mb-1">CAS </a></li>
                            <li><a href="#" class="paragraph p2 text-titanium mb-1">COF </a></li>
                            <li><a href="#" class="paragraph p2 text-titanium mb-1">COED </a></li>
                            <li><a href="#" class="paragraph p2 text-titanium mb-1">IOES </a></li>
                            <li><a href="#" class="paragraph p2 text-titanium mb-1">CIAS </a></li>
                        </ul>
                    </div>
                    <div class="xl:mt-0 xs:mt-10 xl:ml-[100px] xs:ml-0">
                        <h5 class="headings h5 mb-2 text-center">Legal </h5>
                        <div class="flex xl:flex-col xs:flex-row items-center xl:gap-0 xs:gap-[137px]">
                            <div class="flex flex-col min-w-[70px]">
                                <a href="#" class="paragraph p2 text-titanium mb-1">Terms </a>
                                <a href="#" class="paragraph p2 text-titanium mb-1">Pricacy </a>
                            </div>
                            <div class="flex flex-col min-w-[70px]">
                                <a href="#" class="paragraph p2 text-titanium mb-1">RA 6060 </a>
                                <a href="#" class="paragraph p2 text-titanium mb-1">KRA2 </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
<!-- end footer-nav -->

<!-- footer -->
        <div class="bg-msu-dark-ocean text-white-pure justify-center xl:px-[12.5%] xs:px-[3.85%] xl:pt-20 xs:pt-10">
            <div class="flex flex-col justify-center items-center text-center">
                <img src="/images/MSU Seal New (Official).png" alt="" class="xl:h-[170px] xs:h-[127px] mb-10">
                <div>
                    <h4 class="headings xl:h4 xs:h5">Mindanao State University</h4>
                    <p class="paragraph xl:p1 xs:p2">Tawi-Tawi College of Technology and Oceanography</p>
                </div>
            </div>
            <div class="flex gap-5 xl:mt-20 xs:mt-9 xl:mb-[70px] xs:mb-[80px] justify-center">
                <img src="/images/Republika ng pilipinas.png" alt="" class="xl:h-[100px] xs:h-[75px]">
                <img src="/images/transparency_seal.png" alt="" class="xl:h-[100px] xs:h-[75px]">
                <img src="/images/FOI-logo.png" alt="" class="xl:h-[100px] xs:h-[75px]">
            </div>

            <div class="flex xl:flex-row xs:flex-col justify-center xl:text-left xs:text-center xl:items-start xs:items-center">
                <div class="flex flex-col max-w-[300px] xl:mr-[174px] xs:mr-0">
                    <div class="xl:mb-[50px] xs:mb-10">	
                        <div class="headings h5 mb-[10px]">
                            University Address
                        </div>
                        <div class="paragraph p2 text-titanium">Boheh Sallang, Sanga-Sanga
                            Bongao, Tawi-Tawi 7500</div>
                        </div>
                    <div class="mb-[50px]">	
                        <div class="headings h5 mb-[10px]">Main Office</div>
                        <div class="paragraph p2 text-titanium">MSU Manila Information and Liaison Office
                            Rm 203, Leticia Bldg.
                            1804 Taft Avenue Corner J. Nakpil St.
                            Malate, Manila
                        </div>
                    </div>
                </div>

                <div class="flex gap-[54px]">
                    <div class="flex flex-col max-w-[450px] xl:mr-10 xs:mr-0">
                        <div class="mb-[50px]">	
                            <div class="headings xl:h5 xs:h6 xl:mb-[10px] xs:mb-[5px]">Chancellor</div>
                            <div class="paragraph xl:p2 xs:p3 text-titanium">+63 917 3107843 <br> info@msutawi-tawi.edu.ph</div>
                        </div>
                        <div>	
                            <div class="headings xl:h5 xs:h6 xl:mb-[10px] xs:mb-[5px]">Admissions</div>
                            <div class="paragraph xl:p2 xs:p3 text-titanium">+63 917 3107843 <br> admission@msutawi-tawi.edu.ph</div>
                        </div>
                    </div>

                    <div class="flex flex-col max-w-[450px] xl:mr-[175px] xs:mr-0">
                        <div class="mb-[50px]">	
                            <div class="headings xl:h5 xs:h6 xl:mb-[10px] xs:mb-[5px]">Registrar</div>
                            <div class="paragraph xl:p2 xs:p3 text-titanium">+63 917 3107843 <br> registrar@msutawi-tawi.edu.ph</div>
                        </div>
                        <div>	
                            <div class="headings xl:h5 xs:h6 xl:mb-[10px] xs:mb-[5px]">Guidance</div>
                            <div class="paragraph xl:p2 xs:p3 text-titanium">+63 917 3107843 <br> guidance@msutawi-tawi.edu.ph</div>
                        </div>
                    </div>
                </div>
                
                <div class="flex flex-col xl:max-w-[360px] xs:max-w-[240px] xl:mt-0 xs:mt-10">
                    <div class="paragraph xl:p1 xs:p2 text-titanium mb-5">For other inquiries regarding biddings for projects and other business transactions please visit the link below</div>
                    <a href="#" class="bg-msu-maroon text-white-pure xl:py-[14.5px] xs:py-5 xl:px-[85.5px] xs:px-[61.5px] rounded-[40px] paragraph xl:p1 xs:p2">Project Biddings</a>
                </div>

            </div>
            
            <div class="flex gap-[33.33px] mt-8 justify-center">
                    <a href="#"><img src="/images/social media/linkin.png" alt=""></a>
                    <a href="#"></a><img src="/images/social media/instagram.png" alt=""></a>
                    <a href="#"></a><img src="/images/social media/facebook.png" alt=""></a>
                    <a href="#"></a><img src="/images/social media/tweeter.png" alt=""></a>
                    <a href="#"></a><img src="/images/social media/youtube.png" alt=""></a>
            </div>
            
            <div class="flex flex-col justify-center items-center xl:mt-[55px] xs:mt-[45px] pb-10">
                <div class="flex xl:flex-row xs:flex-col">
                    <p class="paragraph p2 text-center text-msu-shallow-ocean">© 2023 &nbsp;</p>
                    <p class="paragraph p2 text-center text-msu-shallow-ocean">Mindanao State University &nbsp;</p>
                    <p class="paragraph p2 text-center text-msu-shallow-ocean xl:block xs:hidden">- &nbsp;</p>
                    <p class="paragraph p2 text-center text-msu-shallow-ocean">Tawi-Tawi College of Technology and Oceanography</p>
                </div>
                <div>
                    <p class="paragraph p2 text-center text-msu-shallow-ocean mt-3">All rights reserved.</p>
                </div>
                    
                    
            </div>

        </div>
<!-- end footer -->


    </main>
	
</Layout>