---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar";
import FooterNav from "../components/FooterNav.astro";
import Footer from "../components/Footer.astro";
import '../styles/css/global.css';

const currentPath = Astro.url.pathname;
---

<Layout title="MSU | Tawi-Tawi College of Technology and Oceanography">
	<main>
<!-- fold 01 - Header -->
		<Navbar path={currentPath} client:visible />
<!-- end fold 01 -->

<!-- fold 02 -->
		<div class="bg-msu-ocean text-center xl:px-[12.5%] xl:pt-[80px] xs:pt-[0px] xs:px-[3.85%] xl:pb-[68px] xs:pb-[48px]">
            <div class="flex gap-[239px] ">

                <div class="flex w-full mt-10 mb-20">

                        <div class="flex flex-col gap-[60px] ">
                            <!-- <div class="flex flex-col ">   
                                    
                                    <div class="flex relative xl:mt-0 xs:mt-[15px] xl:w-fit xs:w-full xl:mb-[30px] xs:mb-[20px]">
                                        <input type="search" name="" value="Search for open positions" id=""
                                             class="bg-transparent border xs:rounded-[20px] xl:rounded-[40px] xs:w-full xl:w-[960px]  xl:py-[25px] xs:py-[12px] pl-12 pr-4  text-white-pure" />
                                        <img src="/images/search.png" alt="" class="absolute xl:top-[25px] xs:top-[12px] left-3 xl:hidden xs:block" />
                                    </div>

                            </div> -->

                            
                            <div class="flex flex-col xl:gap-[40px] xs:gap-[40px]">  
                                <div class="flex flex-col gap-[10px]">
                                    <h4 class="headings text-white-pure h4 mb-[10px] text-left">
                                        Open positions
                                    </h4> 
                                    <!-- <div class="flex xl:gap-[30px] xs:gap-[20px] mb-[10px]">  
                                        <p class="paragraph text-msu-crimson-ground p2 text-left ">
                                            All
                                        </p> 
                                        <p class="paragraph text-titanium p2 text-left ">
                                            Administrative
                                        </p> 
                                        <p class="paragraph text-titanium p2 text-left">
                                            Academic
                                        </p> 
    
                                    </div> -->
                                    <div class="flex">
                                        <p class="paragraph text-titanium p2 text-left">
                                            26 positions
                                            <!-- 0 results -->
                                        </p> 
                                    </div>
                                </div>

                                <!-- JOB 1 -->
                                <div class="flex xl:flex-row xs:flex-col xl:gap-[0px] xs:gap-[28px]">   
                                    <div class="flex xl:flex-col xs:flex-col xl:gap-[20px] xs:gap-[20px] xl:w-full ">
                                        <div class="flex gap-[20px] place-items-enter">
                                            <div class="flex place-items-center xl:w-[475px]">
                                                <h5 class="headings text-white-pure h5 text-left">
                                                    Planning Officer V
                                                </h5> 
                                            </div>
                                        </div>
                                        <div class="xl:flex xs:grid xs:grid-cols-4 gap-4">
                                          <!-- <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                            MSU-TCTOB-PLO5-1-1998
                                          </p>  -->
                                          <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                            Salary Grade 24
                                          </p> 
                                          <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                              Monthly Salary: 90,078
                                          </p>
                                          <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                            Master's Degree
                                          </p>
                                          <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                            24 hours of training in management and supervision
                                          </p>
                                          <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                            4 years in position/s involving management and supervision
                                          </p>
                                          <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border xl:rounded-[40px] xs:rounded-[20px]">
                                            Career Service (Professional) Second Level Eligibility or its equivalent
                                          </p>
                                          <!-- <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border xl:rounded-[40px] xs:rounded-[20px]">
                                            Manila Information and Liaison Office
                                          </p> -->
                                        </div>
                                    </div>
                                </div>

                                <!-- JOB 2 -->
                                <div class="flex xl:flex-row xs:flex-col xl:gap-[0px] xs:gap-[28px]">   
                                  <div class="flex xl:flex-col xs:flex-col xl:gap-[20px] xs:gap-[20px] xl:w-full ">
                                      <div class="flex gap-[20px] place-items-enter">
                                          <div class="flex place-items-center xl:w-[475px]">
                                              <h5 class="headings text-white-pure h5 text-left">
                                                  Supervising Administrative Officer
                                              </h5> 
                                          </div>
                                      </div>
                                      <div class="xl:flex xs:grid xs:grid-cols-4 gap-4">
                                          <!-- <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                            MSU-TCTOB-SADOF-7-2004
                                          </p>  -->
                                          <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                              Salary Grade 22
                                          </p> 
                                          <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                              Monthly Salary: 71,511
                                          </p>
                                          <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                              Bachelor's Degree
                                          </p>
                                          <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                              16 hours of relevant training
                                          </p>
                                          <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                              3 years of relevant experience
                                          </p>
                                          <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border xl:rounded-[40px] xs:rounded-[20px]">
                                              Career Service (Professional) Second Level Eligibility or its equivalent
                                          </p>
                                          <!-- <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border xl:rounded-[40px] xs:rounded-[20px]">
                                            Cashiering Section
                                          </p> -->
                                      </div>
                                  </div>
                                </div>

                                <!-- JOB 3 -->
                                <div class="flex xl:flex-row xs:flex-col xl:gap-[0px] xs:gap-[28px]">   
                                    
                                    <div class="flex xl:flex-col xs:flex-col xl:gap-[20px] xs:gap-[20px] xl:w-full ">
                                        <div class="flex gap-[20px] place-items-enter">
                                            <div class="flex place-items-center xl:w-[475px]">
                                                <h5 class="headings text-white-pure h5 text-left">
                                                    Administrative Officer IV
                                                </h5> 
                                            </div>
                                        </div>
                                        <!-- <div class="flex place-items-enter">
                                            <div class="flex place-items-center xl:w-[475px]">
                                                <p class="paragraph text-white-pure p2 text-left">
                                                    Lorem ipsum dolor sit amet consectetur. Fermentum feugiat consectetur sit ultrices vitae suscipit aliquet tellus nulla. Consequat sed eu auctor feugiat mus. Sed rutrum et ultricies ac euismod ullamcorper.
                                                </p>
                                            </div>
                                        </div> -->
                                        <div class="xl:flex xs:grid xs:grid-cols-4 gap-4">
                                            <!-- <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                              MSU-TCTOB-ADOF4-15-2004
                                            </p>  -->
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                Salary Grade 15
                                            </p> 
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                Monthly Salary: 36,619
                                            </p>
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                Bachelor's Degree
                                            </p>
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                4 hours of relevant training
                                            </p>
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                1 years of relevant experience
                                            </p>
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border xl:rounded-[40px] xs:rounded-[20px]">
                                                Career Service (Professional) Second Level Eligibility or its equivalent
                                            </p>
                                            <!-- <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border xl:rounded-[40px] xs:rounded-[20px]">
                                                Office of the Vice Chancellor for Research and Development
                                            </p> -->
                                        </div>
                                    </div>
                                    
                                    <!-- <div class="">
                                        <div class="flex ">
                                            <a href="​mailto:aly070296@gmail.com" target="_blank" class="paragraph xl:p1 xs:p2 msu-blue-horizon text-white-pure xl:py-[14px] xs:py-[14px] xl:px-[109px] xs:px-[109px] rounded-[40px]">Apply</a>
                                            
                                        </div>
                                        <div class="flex justify-center xl:mt-[40px]">
                                            <p class="paragraph text-titanium p2 text-left ">
                                                Share job link
                                            </p>
                                            
                                        </div>
                                    </div> -->
                                </div>

                                <!-- JOB 4 -->
                                <div class="flex xl:flex-row xs:flex-col xl:gap-[0px] xs:gap-[28px]">   
                                    
                                    <div class="flex xl:flex-col xs:flex-col xl:gap-[20px] xs:gap-[20px] xl:w-full ">
                                        <div class="flex gap-[20px] place-items-enter">
                                            <div class="flex place-items-center xl:w-[475px]">
                                                <h5 class="headings text-white-pure h5 text-left">
                                                    3 - School Librarian I
                                                </h5> 
                                            </div>
                                        </div>
                                        <!-- <div class="flex place-items-enter">
                                            <div class="flex place-items-center xl:w-[475px]">
                                                <p class="paragraph text-white-pure p2 text-left">
                                                    Lorem ipsum dolor sit amet consectetur. Fermentum feugiat consectetur sit ultrices vitae suscipit aliquet tellus nulla. Consequat sed eu auctor feugiat mus. Sed rutrum et ultricies ac euismod ullamcorper.
                                                </p>
                                            </div>
                                        </div> -->
                                        <div class="xl:flex xs:grid xs:grid-cols-4 gap-4">
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                Salary Grade 11
                                            </p> 
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                Monthly Salary: 27,000
                                            </p>
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                              Bachelor's Degree in Library Science or Information Science or Bachelor of Science in Education/ Arts major in Library Science
                                            </p>
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border xl:rounded-[40px] xs:rounded-[20px]">
                                              RA 1080 ( Registered Librarian)
                                            </p>
                                            <!-- <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border xl:rounded-[40px] xs:rounded-[20px]">
                                              Tubig-Indangan Community High School
                                            </p> -->
                                        </div>
                                    </div>
                                    
                                    <!-- <div class="">
                                        <div class="flex ">
                                            <a href="​mailto:aly070296@gmail.com" target="_blank" class="paragraph xl:p1 xs:p2 msu-blue-horizon text-white-pure xl:py-[14px] xs:py-[14px] xl:px-[109px] xs:px-[109px] rounded-[40px]">Apply</a>
                                            
                                        </div>
                                        <div class="flex justify-center xl:mt-[40px]">
                                            <p class="paragraph text-titanium p2 text-left ">
                                                Share job link
                                            </p>
                                            
                                        </div>
                                    </div> -->
                                </div>

                                <!-- JOB 5 -->
                                <div class="flex xl:flex-row xs:flex-col xl:gap-[0px] xs:gap-[28px]">   
                                    
                                    <div class="flex xl:flex-col xs:flex-col xl:gap-[20px] xs:gap-[20px] xl:w-full ">
                                        <div class="flex gap-[20px] place-items-enter">
                                            <div class="flex place-items-center xl:w-[475px]">
                                                <h5 class="headings text-white-pure h5 text-left">
                                                    Librarian
                                                </h5> 
                                            </div>
                                        </div>
                                        <!-- <div class="flex place-items-enter">
                                            <div class="flex place-items-center xl:w-[475px]">
                                                <p class="paragraph text-white-pure p2 text-left">
                                                    Lorem ipsum dolor sit amet consectetur. Fermentum feugiat consectetur sit ultrices vitae suscipit aliquet tellus nulla. Consequat sed eu auctor feugiat mus. Sed rutrum et ultricies ac euismod ullamcorper.
                                                </p>
                                            </div>
                                        </div> -->
                                        <div class="xl:flex xs:grid xs:grid-cols-4 gap-4">
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                Salary Grade 11
                                            </p> 
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                Monthly Salary: 27,000
                                            </p>
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                              Bachelor's Degree in Library Science or Information Science or Bachelor of Science in Education/ Arts major in Library Science
                                            </p>
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border xl:rounded-[40px] xs:rounded-[20px]">
                                              RA 1080 ( Registered Librarian)
                                            </p>
                                        </div>
                                    </div>
                                    
                                    <!-- <div class="">
                                        <div class="flex ">
                                            <a href="​mailto:aly070296@gmail.com" target="_blank" class="paragraph xl:p1 xs:p2 msu-blue-horizon text-white-pure xl:py-[14px] xs:py-[14px] xl:px-[109px] xs:px-[109px] rounded-[40px]">Apply</a>
                                            
                                        </div>
                                        <div class="flex justify-center xl:mt-[40px]">
                                            <p class="paragraph text-titanium p2 text-left ">
                                                Share job link
                                            </p>
                                            
                                        </div>
                                    </div> -->
                                </div>

                                <!-- JOB 6 -->
                                <div class="flex xl:flex-row xs:flex-col xl:gap-[0px] xs:gap-[28px]">   
                                    
                                    <div class="flex xl:flex-col xs:flex-col xl:gap-[20px] xs:gap-[20px] xl:w-full ">
                                        <div class="flex gap-[20px] place-items-enter">
                                            <div class="flex place-items-center xl:w-[475px]">
                                                <h5 class="headings text-white-pure h5 text-left">
                                                  Dormitory Manager II
                                                </h5> 
                                            </div>
                                        </div>
                                        <!-- <div class="flex place-items-enter">
                                            <div class="flex place-items-center xl:w-[475px]">
                                                <p class="paragraph text-white-pure p2 text-left">
                                                    Lorem ipsum dolor sit amet consectetur. Fermentum feugiat consectetur sit ultrices vitae suscipit aliquet tellus nulla. Consequat sed eu auctor feugiat mus. Sed rutrum et ultricies ac euismod ullamcorper.
                                                </p>
                                            </div>
                                        </div> -->
                                        <div class="xl:flex xs:grid xs:grid-cols-4 gap-4">
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                Salary Grade 11
                                            </p> 
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                Monthly Salary: 27,000
                                            </p>
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                              Bachelor's Degree
                                            </p>
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border xl:rounded-[40px] xs:rounded-[20px]">
                                                Career Service (Professional) Second Level Eligibility or its equivalent
                                            </p>
                                        </div>
                                    </div>
                                    
                                    <!-- <div class="">
                                        <div class="flex ">
                                            <a href="​mailto:aly070296@gmail.com" target="_blank" class="paragraph xl:p1 xs:p2 msu-blue-horizon text-white-pure xl:py-[14px] xs:py-[14px] xl:px-[109px] xs:px-[109px] rounded-[40px]">Apply</a>
                                            
                                        </div>
                                        <div class="flex justify-center xl:mt-[40px]">
                                            <p class="paragraph text-titanium p2 text-left ">
                                                Share job link
                                            </p>
                                            
                                        </div>
                                    </div> -->
                                </div>

                                <!-- JOB 7 -->
                                <div class="flex xl:flex-row xs:flex-col xl:gap-[0px] xs:gap-[28px]">   
                                    
                                    <div class="flex xl:flex-col xs:flex-col xl:gap-[20px] xs:gap-[20px] xl:w-full ">
                                        <div class="flex gap-[20px] place-items-enter">
                                            <div class="flex place-items-center xl:w-[475px]">
                                                <h5 class="headings text-white-pure h5 text-left">
                                                  Administrative Assistant II
                                                </h5> 
                                            </div>
                                        </div>
                                        <!-- <div class="flex place-items-enter">
                                            <div class="flex place-items-center xl:w-[475px]">
                                                <p class="paragraph text-white-pure p2 text-left">
                                                    Lorem ipsum dolor sit amet consectetur. Fermentum feugiat consectetur sit ultrices vitae suscipit aliquet tellus nulla. Consequat sed eu auctor feugiat mus. Sed rutrum et ultricies ac euismod ullamcorper.
                                                </p>
                                            </div>
                                        </div> -->
                                        <div class="xl:flex xs:grid xs:grid-cols-4 gap-4">
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                Salary Grade 8
                                            </p> 
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                Monthly Salary: 19,744
                                            </p>
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                Completion of two year studies in college
                                            </p>
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                4 hours of relevant training
                                            </p>
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                1 year of relevant experience
                                            </p>
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border xl:rounded-[40px] xs:rounded-[20px]">
                                                Career Service (Subprofessional) First Level Eligibility or its equivalent
                                            </p>
                                        </div>
                                    </div>
                                    
                                    <!-- <div class="">
                                        <div class="flex ">
                                            <a href="​mailto:aly070296@gmail.com" target="_blank" class="paragraph xl:p1 xs:p2 msu-blue-horizon text-white-pure xl:py-[14px] xs:py-[14px] xl:px-[109px] xs:px-[109px] rounded-[40px]">Apply</a>
                                            
                                        </div>
                                        <div class="flex justify-center xl:mt-[40px]">
                                            <p class="paragraph text-titanium p2 text-left ">
                                                Share job link
                                            </p>
                                            
                                        </div>
                                    </div> -->
                                </div>

                                <!-- JOB 8 -->
                                <div class="flex xl:flex-row xs:flex-col xl:gap-[0px] xs:gap-[28px]">   
                                    
                                    <div class="flex xl:flex-col xs:flex-col xl:gap-[20px] xs:gap-[20px] xl:w-full ">
                                        <div class="flex gap-[20px] place-items-enter">
                                            <div class="flex place-items-center xl:w-[475px]">
                                                <h5 class="headings text-white-pure h5 text-left">
                                                    2 - Aquacultural Technician I
                                                </h5> 
                                            </div>
                                        </div>
                                        <!-- <div class="flex place-items-enter">
                                            <div class="flex place-items-center xl:w-[475px]">
                                                <p class="paragraph text-white-pure p2 text-left">
                                                    Lorem ipsum dolor sit amet consectetur. Fermentum feugiat consectetur sit ultrices vitae suscipit aliquet tellus nulla. Consequat sed eu auctor feugiat mus. Sed rutrum et ultricies ac euismod ullamcorper.
                                                </p>
                                            </div>
                                        </div> -->
                                        <div class="xl:flex xs:grid xs:grid-cols-4 gap-4">
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                Salary Grade 6
                                            </p> 
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                Monthly Salary: 17,553
                                            </p>
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                Completion of two year studies in college
                                            </p>
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border xl:rounded-[40px] xs:rounded-[20px]">
                                                Career Service (Subprofessional) First Level Eligibility or its equivalent
                                            </p>
                                        </div>
                                    </div>
                                    
                                    <!-- <div class="">
                                        <div class="flex ">
                                            <a href="​mailto:aly070296@gmail.com" target="_blank" class="paragraph xl:p1 xs:p2 msu-blue-horizon text-white-pure xl:py-[14px] xs:py-[14px] xl:px-[109px] xs:px-[109px] rounded-[40px]">Apply</a>
                                            
                                        </div>
                                        <div class="flex justify-center xl:mt-[40px]">
                                            <p class="paragraph text-titanium p2 text-left ">
                                                Share job link
                                            </p>
                                            
                                        </div>
                                    </div> -->
                                </div>

                                <!-- JOB 9 -->
                                <div class="flex xl:flex-row xs:flex-col xl:gap-[0px] xs:gap-[28px]">   
                                    
                                    <div class="flex xl:flex-col xs:flex-col xl:gap-[20px] xs:gap-[20px] xl:w-full ">
                                        <div class="flex gap-[20px] place-items-enter">
                                            <div class="flex place-items-center xl:w-[475px]">
                                                <h5 class="headings text-white-pure h5 text-left">
                                                    Laboratory Technician I
                                                </h5> 
                                            </div>
                                        </div>
                                        <!-- <div class="flex place-items-enter">
                                            <div class="flex place-items-center xl:w-[475px]">
                                                <p class="paragraph text-white-pure p2 text-left">
                                                    Lorem ipsum dolor sit amet consectetur. Fermentum feugiat consectetur sit ultrices vitae suscipit aliquet tellus nulla. Consequat sed eu auctor feugiat mus. Sed rutrum et ultricies ac euismod ullamcorper.
                                                </p>
                                            </div>
                                        </div> -->
                                        <div class="xl:flex xs:grid xs:grid-cols-4 gap-4">
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                Salary Grade 6
                                            </p> 
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                Monthly Salary: 17,553
                                            </p>
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                Completion of two-year studies in College
                                            </p>
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border xl:rounded-[40px] xs:rounded-[20px]">
                                                CSC MC 10, S.2013 - Cat II, Laboratory Technician
                                            </p>
                                        </div>
                                    </div>
                                    
                                    <!-- <div class="">
                                        <div class="flex ">
                                            <a href="​mailto:aly070296@gmail.com" target="_blank" class="paragraph xl:p1 xs:p2 msu-blue-horizon text-white-pure xl:py-[14px] xs:py-[14px] xl:px-[109px] xs:px-[109px] rounded-[40px]">Apply</a>
                                            
                                        </div>
                                        <div class="flex justify-center xl:mt-[40px]">
                                            <p class="paragraph text-titanium p2 text-left ">
                                                Share job link
                                            </p>
                                            
                                        </div>
                                    </div> -->
                                </div>

                                <!-- JOB 10 -->
                                <div class="flex xl:flex-row xs:flex-col xl:gap-[0px] xs:gap-[28px]">   
                                    
                                    <div class="flex xl:flex-col xs:flex-col xl:gap-[20px] xs:gap-[20px] xl:w-full ">
                                        <div class="flex gap-[20px] place-items-enter">
                                            <div class="flex place-items-center xl:w-[475px]">
                                                <h5 class="headings text-white-pure h5 text-left">
                                                    5 - Administrative Aide VI
                                                </h5> 
                                            </div>
                                        </div>
                                        <!-- <div class="flex place-items-enter">
                                            <div class="flex place-items-center xl:w-[475px]">
                                                <p class="paragraph text-white-pure p2 text-left">
                                                    Lorem ipsum dolor sit amet consectetur. Fermentum feugiat consectetur sit ultrices vitae suscipit aliquet tellus nulla. Consequat sed eu auctor feugiat mus. Sed rutrum et ultricies ac euismod ullamcorper.
                                                </p>
                                            </div>
                                        </div> -->
                                        <div class="xl:flex xs:grid xs:grid-cols-4 gap-4">
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                Salary Grade 6
                                            </p> 
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                Monthly Salary: 17,553
                                            </p>
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                Completion of two-year studies in College
                                            </p>
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border xl:rounded-[40px] xs:rounded-[20px]">
                                                Career Service (Subprofessional) First Level Eligibility or its equivalent
                                            </p>
                                        </div>
                                    </div>
                                    
                                    <!-- <div class="">
                                        <div class="flex ">
                                            <a href="​mailto:aly070296@gmail.com" target="_blank" class="paragraph xl:p1 xs:p2 msu-blue-horizon text-white-pure xl:py-[14px] xs:py-[14px] xl:px-[109px] xs:px-[109px] rounded-[40px]">Apply</a>
                                            
                                        </div>
                                        <div class="flex justify-center xl:mt-[40px]">
                                            <p class="paragraph text-titanium p2 text-left ">
                                                Share job link
                                            </p>
                                            
                                        </div>
                                    </div> -->
                                </div>

                                <!-- JOB 11 -->
                                <div class="flex xl:flex-row xs:flex-col xl:gap-[0px] xs:gap-[28px]">   
                                    
                                    <div class="flex xl:flex-col xs:flex-col xl:gap-[20px] xs:gap-[20px] xl:w-full ">
                                        <div class="flex gap-[20px] place-items-enter">
                                            <div class="flex place-items-center xl:w-[475px]">
                                                <h5 class="headings text-white-pure h5 text-left">
                                                    4 - Administrative Aide IV
                                                </h5> 
                                            </div>
                                        </div>
                                        <!-- <div class="flex place-items-enter">
                                            <div class="flex place-items-center xl:w-[475px]">
                                                <p class="paragraph text-white-pure p2 text-left">
                                                    Lorem ipsum dolor sit amet consectetur. Fermentum feugiat consectetur sit ultrices vitae suscipit aliquet tellus nulla. Consequat sed eu auctor feugiat mus. Sed rutrum et ultricies ac euismod ullamcorper.
                                                </p>
                                            </div>
                                        </div> -->
                                        <div class="xl:flex xs:grid xs:grid-cols-4 gap-4">
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                Salary Grade 4
                                            </p> 
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                Monthly Salary: 15,586
                                            </p>
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                Completion of two year studies in college
                                            </p>
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border xl:rounded-[40px] xs:rounded-[20px]">
                                                Career Service (Subprofessional) First Level Eligibility or its equivalent
                                            </p>
                                        </div>
                                    </div>
                                    
                                    <!-- <div class="">
                                        <div class="flex ">
                                            <a href="​mailto:aly070296@gmail.com" target="_blank" class="paragraph xl:p1 xs:p2 msu-blue-horizon text-white-pure xl:py-[14px] xs:py-[14px] xl:px-[109px] xs:px-[109px] rounded-[40px]">Apply</a>
                                            
                                        </div>
                                        <div class="flex justify-center xl:mt-[40px]">
                                            <p class="paragraph text-titanium p2 text-left ">
                                                Share job link
                                            </p>
                                            
                                        </div>
                                    </div> -->
                                </div>

                                <!-- JOB 12 -->
                                <div class="flex xl:flex-row xs:flex-col xl:gap-[0px] xs:gap-[28px]">   
                                    
                                    <div class="flex xl:flex-col xs:flex-col xl:gap-[20px] xs:gap-[20px] xl:w-full ">
                                        <div class="flex gap-[20px] place-items-enter">
                                            <div class="flex place-items-center xl:w-[475px]">
                                                <h5 class="headings text-white-pure h5 text-left">
                                                    2 - Security Guard I
                                                </h5> 
                                            </div>
                                        </div>
                                        <!-- <div class="flex place-items-enter">
                                            <div class="flex place-items-center xl:w-[475px]">
                                                <p class="paragraph text-white-pure p2 text-left">
                                                    Lorem ipsum dolor sit amet consectetur. Fermentum feugiat consectetur sit ultrices vitae suscipit aliquet tellus nulla. Consequat sed eu auctor feugiat mus. Sed rutrum et ultricies ac euismod ullamcorper.
                                                </p>
                                            </div>
                                        </div> -->
                                        <div class="xl:flex xs:grid xs:grid-cols-4 gap-4">
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                Salary Grade 3
                                            </p> 
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                Monthly Salary: 14,678
                                            </p>
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                High School Graduate
                                            </p>
                                            <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                                Security Guard License
                                            </p>
                                        </div>
                                    </div>

                                        

                                
                                    
                                    <!-- <div class="">
                                        <div class="flex ">
                                            <a href="​mailto:aly070296@gmail.com" target="_blank" class="paragraph xl:p1 xs:p2 msu-blue-horizon text-white-pure xl:py-[14px] xs:py-[14px] xl:px-[109px] xs:px-[109px] rounded-[40px]">Apply</a>
                                            
                                        </div>
                                        <div class="flex justify-center xl:mt-[40px]">
                                            <p class="paragraph text-titanium p2 text-left ">
                                                Share job link
                                            </p>
                                            
                                        </div>
                                    </div> -->
                                </div>

                                <!-- JOB 13 -->
                                <div class="flex xl:flex-row xs:flex-col xl:gap-[0px] xs:gap-[28px]">   
                                    
                                  <div class="flex xl:flex-col xs:flex-col xl:gap-[20px] xs:gap-[20px] xl:w-full ">
                                      <div class="flex gap-[20px] place-items-enter">
                                          <div class="flex place-items-center xl:w-[475px]">
                                              <h5 class="headings text-white-pure h5 text-left">
                                                  3 - Administrative Aide I
                                              </h5> 
                                          </div>
                                      </div>
                                      <!-- <div class="flex place-items-enter">
                                          <div class="flex place-items-center xl:w-[475px]">
                                              <p class="paragraph text-white-pure p2 text-left">
                                                  Lorem ipsum dolor sit amet consectetur. Fermentum feugiat consectetur sit ultrices vitae suscipit aliquet tellus nulla. Consequat sed eu auctor feugiat mus. Sed rutrum et ultricies ac euismod ullamcorper.
                                              </p>
                                          </div>
                                      </div> -->
                                      <div class="xl:flex xs:grid xs:grid-cols-4 gap-4">
                                          <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                              Salary Grade 1
                                          </p> 
                                          <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                              Monthly Salary: 13,000
                                          </p>
                                          <p class="paragraph text-titanium p4 text-left xl:py-[8px]  xs:py-[8px]  xl:px-[10px]  xs:px-[10px] border  xl:rounded-[40px] xs:rounded-[20px]">
                                              Must be able to read and write
                                          </p>
                                      </div>
                                  </div>
                                </div>

                                

                                <div class="mt-10 text-left">
                                    <p class="paragraph p2 text-white-pure mb-5">Interested and qualified applicants should signify their interest in writing. Attach the following documents to the application letter and send to the address below not later than February 12, 2024.</p>
                                    <ul class="ml-5 mb-5">
                                        <li><p class="paragraph p2 text-white-pure">1. Fully accomplished Personal Data Sheet (PDS) with recent passport-sized picture (CS Form No. 212, Revised 2017) which can be downloaded at <a href="https://csc.gov.ph/downloads/category/223-csc-form-212-revised-2017-personal-data-sheet" target="_blank" class="text-msu-crimson-ground">www.csc.gov.ph</a>;</p></li>
                                        <li><p class="paragraph p2 text-white-pure ">2. Performance rating in the last rating period (if applicable);</p></li>
                                        <li><p class="paragraph p2 text-white-pure">3. Certified photocopy of certificate of eligibility/rating/license; and</p></li>
                                        <li><p class="paragraph p2 text-white-pure">4. Certified photocopy of Transcript of Records/ other credentials.</p></li>
                                    </ul>
                                    <p class="paragraph p2 text-white-pure mb-10">QUALIFIED APPLICANTS are advised to hand in or send through courier/email their application to:</p>
                                    <div class="text-center w-[400px] ml-10 mb-10 ">
                                        <p class="paragraph p2 text-white-pure underline"><strong>Chancellor MARY JOYCE Z. GUINTO-SALI, Ph.D.</strong></p>
                                        <p class="paragraph p2 text-white-pure underline">Thru: Dir. IBRAHIM S. MIGUEL</p>
                                        <p class="paragraph p2 text-white-pure underline">HRDO, MSU-TCTO, Sanga-Sanga, Bongao, Tawi-Tawi</p>
                                        <p class="paragraph p2 text-white-pure underline"><a href="mailto:hrdo@msutawi-tawi.edu.ph?subject=Application%20Letter" class="text-msu-crimson-ground">hrdo@msutawi-tawi.edu.ph</a></p>
                                    </div>
                                    <p class="paragraph p2 text-white-pure mb-5">APPLICATIONS WITH INCOMPLETE DOCUMENTS SHALL NOT BE ENTERTAINED.</p>
                                </div>

                            </div>
                            
                            <!-- <div class="flex">
                                <p class="paragraph text-titanium p2 mr-[30px] text-left">
                                    Page
                                </p> 
                                <p class="paragraph text-msu-crimson-ground p2 mr-[20px] text-left">
                                    0
                                </p> 
                                <p class="paragraph text-msu-crimson-ground p2 mr-[20px] text-left">
                                    1
                                </p> 
                                <p class="paragraph text-titanium p2 mr-[20px] text-left">
                                    2
                                </p> 
                                <p class="paragraph text-titanium p2 mr-[20px] text-left">
                                    3
                                </p> 
                                <p class="paragraph text-titanium p2 mr-[20px] text-left">
                                    4
                                </p> 
                                <p class="paragraph text-titanium p2 mr-[20px] text-left">
                                    5
                                </p> 
                                <p class="paragraph text-titanium p2 mr-[20px] text-left">
                                    6
                                </p> 
                                <p class="paragraph text-titanium p2 mr-[20px] text-left">
                                    7
                                </p> 
                                <p class="paragraph text-titanium p2 mr-[20px] text-left">
                                    8
                                </p>
                            </div> -->
                            
                        </div>

                </div>

                <!-- <div class="flex flex-col xl:block xs:hidden xl:pt-[260px]">
                    
                    <p class="paragraph text-white-pure p1  mb-[30px] text-left">
                        Classification
                    </p>
                    <p class="paragraph text-white-pure p2 mb-[20px] text-left">
                        Academic
                    </p>
                    <p class="paragraph text-white-pure p2 text-left">
                        Administrative
                    </p>

                    
                    <p class="paragraph text-white-pure p1 mt-[80px] mb-[30px] text-left">
                        Position
                    </p>
                    <p class="paragraph text-white-pure p2 mb-[20px] text-left">
                        Full time
                    </p>
                    <p class="paragraph text-white-pure p2 text-left">
                        Part time
                    </p>

                    
                    <p class="paragraph text-white-pure p1 mt-[80px] mb-[30px] text-left">
                        Office
                    </p>
                    <p class="paragraph text-white-pure p2 mb-[20px] text-left">
                        Chancellorship
                    </p>
                    <p class="paragraph text-white-pure p2 mb-[20px] text-left">
                        Vice-Chancellorship
                    </p>
                    <p class="paragraph text-white-pure p2 text-left">
                        College
                    </p>

                    
                    <p class="paragraph text-white-pure p1 mt-[80px] mb-[30px] text-left">
                        College
                    </p>
                    <p class="paragraph text-white-pure p2 mb-[20px] text-left">
                        CAS
                    </p>
                    <p class="paragraph text-white-pure p2 mb-[20px] text-left">
                        CIAS
                    </p>
                    <p class="paragraph text-white-pure p2 mb-[20px] text-left">
                        COED
                    </p>
                    <p class="paragraph text-white-pure p2 mb-[20px] text-left">
                        COF
                    </p>
                    <p class="paragraph text-white-pure p2 mb-[20px] text-left">
                        IICT
                    </p>
                    <p class="paragraph text-white-pure p2 text-left">
                        IOES
                    </p>
                </div> -->
            </div>
		</div>
<!-- end fold 02 -->

<!-- FooterNaV -->
		<FooterNav />
<!-- end FooterNaV -->

<!-- Footer -->
		<Footer />
<!-- end Footer -->

	</main>
	
</Layout>
 