---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar";
import FooterNav from "../components/FooterNav.astro";
import Footer from "../components/Footer.astro";
import '../styles/css/global.css';

const currentPath = Astro.url.pathname;
---

<Layout title="MSU | Tawi-Tawi College of Technology and Oceanography">
	<main>
		<Navbar path={currentPath} client:visible />

<!-- fold 02 -->
		<div class=" bg-msu-deep-ocean">
			<div class="text-center xl:px-[12.5%] xs:px-[3.85%] pt-[80px] xl:bg-none xs:bg-none">
                <h3 class="headings xl:h3 xs:h5 text-white-pure">College of Arts and Sciences</h3>
				<!-- <div class="bg-gradient-ocean h-20 rotate-180 xs:block xl:hidden"></div> -->
			</div>
            <div class="flex gap-x-[120px] gap-y-[35px] xl:flex-row xs:flex-col items-center xl:mb-20 xs:mb-10 xl:mt-20 xs:mt-10 xl:mx-[12.5%] xs:mx-[3.85%]">
                <div class="flex xl:gap-[120px] xs:gap-[35px] justify-center">
                    <div class="xl:w-[240px] xs:w-[115px] object-cover object-center">
                        <img src="/images/College Logo/LOGO CAS.png" >
                    </div>
                    <div class="xl:max-w-[480px] xs:max-w-[212px]">
                        <p class="paragraph xl:p1 xs:p2 text-white-pure">
                            The College of Arts and Sciences has continually been projecting its main function as the service college of the university and being faithful to its core mission and goals in giving quality services.
	                        <br />
                            <br />
                            Established in 1990, the College of Arts and Sciences is composed of five (5) departments which are the Language Department, Mathematics and Sciences Department, Social Sciences Department, GESECOM Department, and the SPEAR Department. It has also three (3) extension classes in Mapun, Ungus Matata, and Sibutu currently offering Senior High School programs.

                        </p>
                    </div>
                </div>
                <div class="flex xl:max-w-[480px] xs:max-w-[360px]">
                    <p class="paragraph xl:p1 xs:p2 text-white-pure">
                        In 2021, aside from the existing departments and extension classes of the college, the graduate programs such as Master of Public Administration, Master of Arts in English Language Teaching, and Master of Science in Teaching Mathematics were transferred to the College of Arts and Sciences for management and supervision.
                        <br />
                        <br />
	                    With the current offering of eight (8) undergraduate, two (2) diploma, and three (3) graduate programs, the college continues to explore possible future collaborations with different universities in the Philippines to ensure offering of relevant and quality education and to excel in research, innovation, development, and extension services and programs.

                    </p>
                </div>
            </div>
		</div>

		<div class=" bg-msu-gold xl:px-[12.5%] xs:px-[3.85%] xl:py-[80px] xs:pt-[70px]">
            <div class="grid grid-cols-2 text-center">
                <h4 class="headings xl:h4 xs:h5 text-black">Program</h4>
                <div class="text-start xl:pl-20">
                    <h4 class="headings xl:h4 xs:h5 text-black">Certifications</h4>
                </div>
                
            </div>
            <div class="grid grid-cols-2 text-center xl:pt-[40px] xs:pt-[20px] justify-center">
                <p class="paragraph xl:p1 xs:p2 text-black">
                    BS in Mathematics
                </p>
                <div class="text-start xl:pl-20">
                    <p class="paragraph xl:p1 xs:p2 text-black">
                        AACCUP Level 1 Accredited
                    </p>
                    <p class="paragraph xl:p1 xs:p2 text-black">
                        CHED Certificate of Program Compliance
                    </p>
                </div>
            </div>
            <div class="grid grid-cols-2 text-center xl:pt-[20px] xs:pt-[18px] justify-center">
                <p class="paragraph xl:p1 xs:p2 text-black">
                    BA in History
                </p>
                <div class="text-start xl:pl-20">
                    <p class="paragraph xl:p1 xs:p2 text-black">
                        AACCUP Level 1 Accredited
                    </p>
                    <p class="paragraph xl:p1 xs:p2 text-black">
                        CHED Certificate of Program Compliance
                    </p>
                </div>
            </div>
            <div class="grid grid-cols-2 text-center xl:pt-[40px] xs:pt-[20px] justify-center">
                <p class="paragraph xl:p1 xs:p2 text-black">
                    BA in English Language Studies
                </p>
                <div class="text-start xl:pl-20">
                    <p class="paragraph xl:p1 xs:p2 text-black">
                        AACCUP Level 1 Accredited
                    </p>
                    <p class="paragraph xl:p1 xs:p2 text-black">
                        CHED Certificate of Program Compliance
                    </p>
                </div>
            </div>
            <div class="grid grid-cols-2 text-center xl:pt-[40px] xs:pt-[20px] justify-center">
                <p class="paragraph xl:p1 xs:p2 text-black">
                    BA in Political Science
                </p>
                <div class="text-start xl:pl-20">
                    <p class="paragraph xl:p1 xs:p2 text-black">
                        AACCUP Level 1 Accredited
                    </p>
                    <p class="paragraph xl:p1 xs:p2 text-black">
                        CHED Certificate of Program Compliance
                    </p>
                </div>
            </div>
            <div class="grid grid-cols-2 text-center xl:pt-[40px] xs:pt-[20px] justify-center">
                <p class="paragraph xl:p1 xs:p2 text-black">
                    BA in Statistics
                </p>
                <div class="text-start xl:pl-20">
                    <p class="paragraph xl:p1 xs:p2 text-black">
                        CHED Certificate of Program Compliance
                    </p>
                </div>
            </div>
		</div>
        
        <div class="flex justify-center mt-20 xl:px-[12.5%] xs:px-[0px]">
            <img src="/images/cas/image2.png" alt="" class="xl:h-[360px] object-cover object-center" />
            <img src="/images/cas/image4.png" alt="" class="xl:h-[360px] object-cover object-center xl:block xs:hidden" />
            <img src="/images/cas/image3.png" alt="" class="xl:h-[360px] object-cover object-center xl:block xs:hidden" />
        </div>
            
        <div class="flex gap-[30px] justify-center mt-[40px] mb-[57px] ">
            <!-- <a href="#" class="border-transparent xl:py-[10px] xl:hidden xs:block xs:py-[8px] xs:px-[8px]  xl:rounded-[40px] xs:rounded-[40px] border-white border-2"></a> -->
            <a href="#" class=" bg-white xl:py-[10px] xl:hidden xs:block xs:py-[8px] xs:px-[8px] rounded-[40px] border-white border-2"></a>
            <a href="#" class="border-transparent xl:py-[10px] xl:hidden xs:block xs:py-[8px] xs:px-[8px] rounded-[40px] border-white border-2"></a>
            <a href="#" class="border-transparent xl:py-[10px] xl:hidden xs:block xs:py-[8px] xs:px-[8px] rounded-[40px] border-white border-2"></a>
        </div>
        <div class="flex-col text-center pb-[60px]">
            <a href="" class="bg-transparent border paragraph xl:p1 xs:p2 gap-10 text-white-pure xl:py-[10.5px] xs:py-5 xl:px-[60px] xs:px-[61.5px] rounded-[40px]">Check our College Gallery</a>
        
        </div>

        
        <div class="flex flex-col align-cneter bg-gradient-maroon w-full xl:px-[12.5%] xs:px-[5.5%] ">
            <div class="item-center">
                <h3 class="headings text-center text-white-pure xl:h3 xs:h5 px-[12.5%]  xl:pt-[80px] xs:pt-[40px]">Our Programs</h3>
            </div>
            
            <div class="place-items-center xs:pt-[48px] xs:pb-[48px] text-center xs:block xl:hidden">
                <select id="programs" class=" flex xs:flex-col xs:msu-drop-white-shadow text-white-pure xs:px-[9px] xs:py-[9px]  xl:hidden xs:block">
                    <option id="cas" class="paragraph p2 text-black-pure">College of Arts and Science</option>
                    <option id="cias" class="paragraph p2 text-black-pure">College of Islamic & Arabic Studies</option>
                    <option id="coed" class="paragraph p2 text-black-pure">College of Education</option>
                    <option id="cof" class="paragraph p2 text-black-pure">College of Fisheries</option>
                    <option id="iict" class="paragraph p2 text-black-pure">Institute of Information and Communication Technology</option>
                    <option id="ioes" class="paragraph p2 text-black-pure">Institute of Oceanography and Environmental Science</option>
                </select>
            </div>
            <div id="cas" class="xl:pb-[120px]">
                
                <div class="flex place-items-center xl:gap-[90px] xs:gap-[23px] xl:p-5 xs:pt-[48px] text-center">
                    <img src="/images/College Logo/LOGO CAS.png" class="xl:w-[200px] xs:w-[150px]" alt="">
                    <h4 class="headings xl:h4 xs:h5 text-white-pure mt-5"><a href="/cas">College of Arts and Sciences</a></h4>
                </div>
                <div class="xl:flex place-items-top gap-[175px] xl:p-5 xs:pt-[32px] xs:pl-[97px]">
                    <div class="xl:w-[200px] xs:w-0"> </div>
                    <div class="flex flex-col paragraph xl:p1 xs:p2 text-silver">
                        <a href="#" class=""> Master in Public Administration </a>
                        <a href="#" class=""> Master of Science in Teaching Mathematics </a>
                        <a href="https://drive.google.com/file/d/1-nR4D-JxwCTGbQnqUWM1zACgGk-QF4ME/view?usp=drive_link" class=""> Master of Arts in English Language Teaching </a>
                        <a href="https://drive.google.com/file/d/1nnhyYyiE3kl3SUm-LC5218bhlJUwHk3_/view?usp=drive_link" class=""> Bachelor of Public Management </a>
                        <a href="https://drive.google.com/file/d/1opvINEN2o8nhu30Kq6PAZhUwHdBIEOYm/view?usp=drive_link" class=""> Bachelor of Science in Business Management </a>
                        <a href="https://drive.google.com/file/d/1nVHOCbhiUkXvxmpzWnoXZxjMhoYwipG7/view?usp=drive_link" class=""> Bachelor of Arts in Literary and Cultural Studies </a>
                        <a href="https://drive.google.com/file/d/1-q3se6aH5VEn8mHv2PNM6vrKO_wAcuEg/view?usp=drive_link" class=""> Bachelor of Arts in English Language Studies</a>
                        <a href="#" class=""> Bachelor of Arts in History</a>
                        <a href="#" class=""> Bachelor of Arts in Political Science</a>
                        <a href="#" class=""> Bachelor of Science in Mathematics</a>
                        <a href="#" class=""> Bachelor of Science in Statistics </a>
                        <a href="#" class=""> Professional Diploma Physical Education</a>
                        <a href="https://drive.google.com/file/d/1p04fYLXUYcL7LUQIN6-9tjKrqgbOyNRu/view?usp=drive_link" class=""> Diploma in Office Management</a>

                    </div>
                </div>
            </div>

            <div class="text-center xl:pb-[80px] xs:pb-[48px]" id="college_contact_details_cas">
                <p class="paragraph text-silver xl:p1 xs:p2 pt-20 mb-5">Need clarifications or help?</p>
                <!-- <a href="" class="bg-transparent border paragraph xl:p1 xs:p2 gap-10 text-silver py-[10.5px] px-[60px] rounded-[40px]"> -->
                    <div class="paragraph xl:p1 xs:p2 text-silver">
                        Email Address: msutctocas@msutawi-tawi.edu.ph
                        <br />
                        Contact #: 0917-134-7952
                        <br />
                        Contact #: 0905-242-2820
                    </div>
                    
                    <!-- </a> -->
            
            </div>
        
        </div>
<!-- end fold 02 -->

        
        
        <div class=" bg-msu-deep-ocean  ">
            <h3 class="headings xl:h3 xs:h4 text-white-pure text-center xl:my-[80px] xs:mt-[72px] ">Our Facilities & Equipments</h3>
            <div class="flex flex-row xl:gap-[50px] xl:px-[240px] xs:pt-20  xs:px-[0px]">
                <div class="flex xl:flex-row  justify-center  xl:gap-[120px] xs:gap-[41px] ">
                    <div class="flex justify-center  xs:px-[0px] xl:block xs:hidden ">
                        <img src="/images/cas/image2.png" alt="" class="xl:h-[360px] object-cover object-center" />
                    </div>
                    <!-- <div class="xl:block xs:hidden">
                        
                        <p class="flex paragraph p1 text-titanium xl:w-[720px] xs:px-[27px] ">
                            Lorem ipsum dolor sit amet consectetur. Dui eros integer varius bibendum eu. Venenatis nulla amet tincidunt at orci enim. Sit nunc massa tempus placerat risus maecenas. Faucibus duis feugiat parturient enim ullamcorper nunc. Consequat vulputate turpis ullamcorper felis dignissim. Pharetra et duis duis ultrices id velit ut. Vulputate platea porta consectetur risus turpis amet. Luctus massa eu urna maecenas eros pretium. Pellentesque senectus dolor id quam nec. Nulla nunc integer facilisi arcu porttitor. Maecenas quam lectus quis convallis erat. Vitae enim vulputate dolor quisque ipsum. Et vel maecenas justo quis nulla nibh duis.
                        </p>
                    </div> -->
                </div>
                <div class="flex xl:flex-row xs:flex-col justify-center  xl:gap-[120px] xs:gap-[41px]  ">
                    <div class="flex justify-center  xs:px-[0px] xl:block xs:hidden">
                        <img src="/images/cas/image5.png" alt="" class="xl:h-[360px] object-cover object-center" />
                    </div>
                    <!-- <div class="xl:block xs:hidden">
                        
                        <p class="flex paragraph p1 text-titanium xl:w-[720px] xs:px-[27px]">
                            Lorem ipsum dolor sit amet consectetur. Dui eros integer varius bibendum eu. Venenatis nulla amet tincidunt at orci enim. Sit nunc massa tempus placerat risus maecenas. Faucibus duis feugiat parturient enim ullamcorper nunc. Consequat vulputate turpis ullamcorper felis dignissim. Pharetra et duis duis ultrices id velit ut. Vulputate platea porta consectetur risus turpis amet. Luctus massa eu urna maecenas eros pretium. Pellentesque senectus dolor id quam nec. Nulla nunc integer facilisi arcu porttitor. Maecenas quam lectus quis convallis erat. Vitae enim vulputate dolor quisque ipsum. Et vel maecenas justo quis nulla nibh duis.
                        </p>
                    </div> -->
                </div>


                <div class="flex xl:flex-row xs:flex-col justify-center  xl:gap-[120px] xs:gap-[41px]">
                    <div class="xl:mt-0 xs:mt-0  xs:px-[0px]">
                        <!-- <img src="/images/the-campus-2.png" alt="" class="h-[360px] object-cover object-center" /> -->
                        <div class="flex justify-center  xs:px-[0px]">
                            <img src="/images/cas/image1.png" alt="" class="xl:h-[360px] object-cover object-center" />
                        </div>
                        <div class="flex gap-[30px] justify-center mt-[40px]  ">
                            <!-- <a href="#" class="border-transparent xl:py-[10px] xl:hidden xs:block xs:py-[8px] xs:px-[8px]  xl:rounded-[40px] xs:rounded-[40px] border-white border-2"></a> -->
                            <a href="#" class=" bg-white xl:py-[10px] xl:hidden xs:block xs:py-[8px] xs:px-[8px] rounded-[40px] border-white border-2"></a>
                            <a href="#" class="border-transparent xl:py-[10px] xl:hidden xs:block xs:py-[8px] xs:px-[8px] rounded-[40px] border-white border-2"></a>
                            <a href="#" class="border-transparent xl:py-[10px] xl:hidden xs:block xs:py-[8px] xs:px-[8px] rounded-[40px] border-white border-2"></a>
                        </div>
                    </div>
                    <!-- <div class="">
                        
                        <p class="flex paragraph p1 text-titanium xl:w-[720px] xs:px-[27px]">
                            Lorem ipsum dolor sit amet consectetur. Dui eros integer varius bibendum eu. Venenatis nulla amet tincidunt at orci enim. Sit nunc massa tempus placerat risus maecenas. Faucibus duis feugiat parturient enim ullamcorper nunc. Consequat vulputate turpis ullamcorper felis dignissim. Pharetra et duis duis ultrices id velit ut. Vulputate platea porta consectetur risus turpis amet. Luctus massa eu urna maecenas eros pretium. Pellentesque senectus dolor id quam nec. Nulla nunc integer facilisi arcu porttitor. Maecenas quam lectus quis convallis erat. Vitae enim vulputate dolor quisque ipsum. Et vel maecenas justo quis nulla nibh duis.
                        </p>
                    </div> -->
                </div>
                <!-- <div class="text-center xl:py-[80px] xs:py-[50px]">
                    <a href="" class="bg-transparent border paragraph p1 text-titanium py-[10.5px] px-[60px] rounded-[40px]">See more of our facilities</a>
                
                </div> -->
            </div>
        </div>
<!-- end fold 03 -->

<!-- FooterNaV -->
        <FooterNav />
<!-- end FooterNaV -->

<!-- Footer -->
		<Footer />
<!-- end Footer -->

	</main>
	
</Layout>
