---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar";
import '../styles/css/global.css';

const currentPath = Astro.url.pathname;
---

<Layout title="Welcome to Astro.">
	<main>
		<Navbar path={currentPath} client:visible />
        <div class='bg-gradient-ocean h-[100px] relative bottom-[100px] rotate-180'></div>
        <div class="absolute top-[180px] w-full">
            <div class='bg-msu-shallow-ocean h-[40px] xl:px-[12.5%] xs:px-[3.85%]'>
                <p class="paragraph p2 py-[10px] text-white-pure"><a href="/home">Home</a> / <a href="/publications">Publications</a>  / Gazette </p>
            </div>
            <div class="pt-[80px]">
                <h3 class="headings h3 text-white-pure text-center">Annual Reports</h3>
    
                <div class="flex justify-center mt-[80px]">
                    <div class="flex flex-col">
                        <img src="/images/gazette1.png" class=" w-[412px] mr-[68px]" alt="">
                    </div>
                    
                    <div class="mt-[20px]">
                        <div class="xl:max-w-[480px] xs:max-w-[350px]">
                            <h4 class="headings h4 text-write-pure">2023, 1st Quarter (January to March)</h4>
                            <p class="paragraph p2 text-white-pure mt-[40px]">
                                Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                                Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                                Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                                Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                            </p><br><br>
                            <p class="paragraph p2 text-white-pure">
                                Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                                Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                                Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                                Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                            </p>
                        </div>
                    </div>
                </div>
    
            </div>
            <div class=" bg-msu-dark-ocean mt-[20px]">
                <div class="flex justify-center">
                    <div class="flex flex-col mr-[32px]">
                    
                    <p class="paragraph p1 text-white-pure  pt-[71px]">Previous Releases</p>
                    <p class="paragraph p1 text-white-pure  pt-[40px]">2022</p>
                    <p class="paragraph p1 text-white-pure  pt-[20px]">2021</p>
                    <p class="paragraph p1 text-white-pure  pt-[20px]">2020</p>
                    <p class="paragraph p1 text-white-pure  pt-[20px]">2019</p>
                    <p class="paragraph p1 text-white-pure  pt-[20px]">2018</p>
                    <p class="paragraph p1 text-white-pure  pt-[20px]">2017</p>
                    <p class="paragraph p1 text-white-pure  pt-[20px]">2016</p>

                    </div>
    
                    <div class="flex justify-center mt-[140px] ">
                        <div class="flex flex-col mb-[120px]">
                            <div class="flex gap-[37px]">
                                <div class="flex-col gap-[20]">
                                    <p class="paragraph p2 text-white-pure ml-[12px]">2022, 4th Quarter</p>
                                    <img src="/images/gazette1.png" class="w-[203px]" alt="">
                                    <p class="paragraph p2 text-titanium ml-[12px] w-[200px]">
                                        Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                                        Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                                    </p>
                                </div>
                                <div class="flex-col gap-[20]">
                                    <p class="paragraph p2 text-white-pure ml-[12px]">2022, 3rd Quarter</p>
                                    <img src="/images/gazette1.png" class="w-[203px]" alt="">
                                    <p class="paragraph p2 text-titanium ml-[12px] w-[200px]">
                                        Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                                        Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                                    </p>
                                </div>
                                <div class="flex-col gap-[20]">
                                    <p class="paragraph p2 text-white-pure ml-[12px]">2022, 2nd Quarter</p>
                                    <img src="/images/gazette1.png" class="w-[203px]" alt="">
                                    <p class="paragraph p2 text-titanium ml-[12px] w-[200px]">
                                        Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                                        Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                                    </p>
                                </div>
                                <div class="flex-col gap-[20]">
                                    <p class="paragraph p2 text-white-pure ml-[12px]">2022, 1st Quarter</p>
                                    <img src="/images/gazette1.png" class="w-[203px]" alt="">
                                    <p class="paragraph p2 text-titanium ml-[12px] w-[200px]">
                                        Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                                        Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>


<!-- fold 06 -->
            <div class="video-wrapper">
                <div class="video-container">
                    <iframe width="100%" height="980"
                        src="https://www.youtube.com/embed/0C7f8iq6f_w?autoplay=0&mute=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
            </div>
<!-- end fold 06 -->

<!-- footer-nav -->
            <div class="bg-msu-deep-ocean text-white-pure">
                <div class="mb-[60px] xl:mt-[80px] xs:mt-[40px]">
                    <div class="flex xl:flex-row xs:flex-col xl:px-[12.5%] xs:px-[3.85%] xl:mb-[140px] xs:[58px] justify-center items-center">
                        <div class="flex mb-[40px]">
                            <img src="/images/article-img-1.png" alt="" class="ml-10 xl:h-[200px] xs:h-[120px]">
                            <div class="ml-5">
                                <h5 class="headings xl:h5 xs:h6 max-w-[220px]">Article Long Title </h5>
                                <p class="paragraph xl:p2 xs:p3 max-w-[220px] text-white-pure mt-[15px] max-h-[142px] overflow-hidden">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
                            </div>
                        </div>
                        <div class="flex mb-[40px]">
                            <img src="/images/article-img-1.png" alt="" class="ml-10 xl:h-[200px] xs:h-[120px]">
                            <div class="ml-5">
                                <h5 class="headings xl:h5 xs:h6 max-w-[220px]">Article Long Title </h5>
                                <p class="paragraph xl:p2 xs:p3 max-w-[220px] text-white-pure mt-[15px] max-h-[142px] overflow-hidden">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
                            </div>
                        </div>
                        <div class="flex mb-[40px]">
                            <img src="/images/article-img-1.png" alt="" class="ml-10 xl:h-[200px] xs:h-[120px]">
                            <div class="ml-5">
                                <h5 class="headings xl:h5 xs:h6 max-w-[220px]">Article Long Title </h5>
                                <p class="paragraph xl:p2 xs:p3 max-w-[220px] text-white-pure mt-[15px] max-h-[142px] overflow-hidden">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
                            </div>
                        </div>
                    </div>
                    
                    <img src="/images/rectangle.png" alt="" class="max-w-full h-[20px] absolute xs:hidden 3xl:block">
                    <div class="flex xl:flex-row xs:flex-col justify-center xl:items-stretch xs:items-center xl:mx-[12.5%] xs:mx-[3.85%] px-[240px]">
                        <div class="flex xl:mt-0 xs:mt-10">
                            <ul class="min-w-[170px]">
                                <li><h5 class="headings h5 max-w-[220px] mb-2">University </h5></li>
                                <li><a href="#" class="paragraph p2 text-titanium mb-1">History </a></li>
                                <li><a href="#" class="paragraph p2 text-titanium mb-1">Mission / Vission </a></li>
                                <li><a href="#" class="paragraph p2 text-titanium mb-1">University Hymn </a></li>
                                <li><a href="#" class="paragraph p2 text-titanium mb-1">Articles </a></li>
                                <li><a href="#" class="paragraph p2 text-titanium mb-1">Events </a></li>
                                <li><a href="#" class="paragraph p2 text-titanium mb-1">Gazette </a></li>
                                <li><a href="#" class="paragraph p2 text-titanium mb-1">Annual Report </a></li>
                            </ul>
                            <ul class="xl:ml-[100px] xs:ml-[52px] min-w-[170px]">
                                <li><h5 class="headings h5 mb-2">Admissions </h5></li>	
                                <li><a href="#" class="paragraph p2 text-titanium mb-1">MSU SASE </a></li>	
                                <li><a href="#" class="paragraph p2 text-titanium mb-1">Undergraduate </a></li>	
                                <li><a href="#" class="paragraph p2 text-titanium mb-1">Transferee </a></li>	
                                <li><a href="#" class="paragraph p2 text-titanium mb-1">Returning / Shifting </a></li>	
                                <li><a href="#" class="paragraph p2 text-titanium mb-1">Remedial Program </a></li>	
                                <li><a href="#" class="paragraph p2 text-titanium mb-1">Student Fees </a></li>	
                                <li><a href="#" class="paragraph p2 text-titanium mb-1">Scholarships & Grants </a></li>	
                            </ul>
                        </div>
                        <div class="flex xl:mt-0 xs:mt-10 xl:ml-[100px] xs:ml-0">
                            <ul class="min-w-[170px]">
                                <li><h5 class="headings h5  w-200 mb-2">Programs </h5></li>
                                <li><a href="#" class="paragraph p2 text-titanium mb-1 max-w-[520px] mt-[15px] max-h-[152px]">Intormation Technology </a></li>
                                <li><a href="#" class="paragraph p2 text-titanium mb-1 max-w-[220px] mt-[15px] max-h-[152px]">Science & Arts </a></li>
                                <li><a href="#" class="paragraph p2 text-titanium mb-1 max-w-[220px] mt-[15px] max-h-[152px]">Fisheries </a></li>
                                <li><a href="#" class="paragraph p2 text-titanium mb-1 max-w-[220px] mt-[15px] max-h-[152px]">Education </a></li>
                                <li><a href="#" class="paragraph p2 text-titanium mb-1 max-w-[220px] mt-[15px] max-h-[152px]">Oceanography </a></li>
                                <li><a href="#" class="paragraph p2 text-titanium mb-1 max-w-[220px] mt-[15px] max-h-[152px]">Islami & Arabic Studies </a></li>
                            </ul>
                            <ul class="xl:ml-[100px] xs:ml-[52px] min-w-[170px]">
                                <li><h5 class="headings h5 max-w-[220px] mb-2">Admissions</h5></li>
                                <li><a href="#" class="paragraph p2 text-titanium mb-1">Chancellor </a></li>
                                <li><a href="#" class="paragraph p2 text-titanium mb-1">VC Admin & Finance </a></li>
                                <li><a href="#" class="paragraph p2 text-titanium mb-1">Planning & Development </a></li>
                                <li><a href="#" class="paragraph p2 text-titanium mb-1">IICT </a></li>
                                <li><a href="#" class="paragraph p2 text-titanium mb-1">CAS </a></li>
                                <li><a href="#" class="paragraph p2 text-titanium mb-1">COF </a></li>
                                <li><a href="#" class="paragraph p2 text-titanium mb-1">COED </a></li>
                                <li><a href="#" class="paragraph p2 text-titanium mb-1">IOES </a></li>
                                <li><a href="#" class="paragraph p2 text-titanium mb-1">CIAS </a></li>
                            </ul>
                        </div>
                        <div class="xl:mt-0 xs:mt-10 xl:ml-[100px] xs:ml-0">
                            <h5 class="headings h5 mb-2 text-center">Legal </h5>
                            <div class="flex xl:flex-col xs:flex-row items-center xl:gap-0 xs:gap-[137px]">
                                <div class="flex flex-col min-w-[70px]">
                                    <a href="#" class="paragraph p2 text-titanium mb-1">Terms </a>
                                    <a href="#" class="paragraph p2 text-titanium mb-1">Pricacy </a>
                                </div>
                                <div class="flex flex-col min-w-[70px]">
                                    <a href="#" class="paragraph p2 text-titanium mb-1">RA 6060 </a>
                                    <a href="#" class="paragraph p2 text-titanium mb-1">KRA2 </a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
<!-- end footer-nav -->

<!-- footer -->
            <div class="bg-msu-dark-ocean text-white-pure justify-center xl:px-[12.5%] xs:px-[3.85%] xl:pt-20 xs:pt-10">
                <div class="flex flex-col justify-center items-center text-center">
                    <img src="/images/MSU Seal New (Official).png" alt="" class="xl:h-[170px] xs:h-[127px] mb-10">
                    <div>
                        <h4 class="headings xl:h4 xs:h5">Mindanao State University</h4>
                        <p class="paragraph xl:p1 xs:p2">Tawi-Tawi College of Technology and Oceanography</p>
                    </div>
                </div>
                <div class="flex gap-5 xl:mt-20 xs:mt-9 xl:mb-[70px] xs:mb-[80px] justify-center">
                    <img src="/images/Republika ng pilipinas.png" alt="" class="xl:h-[100px] xs:h-[75px]">
                    <img src="/images/transparency_seal.png" alt="" class="xl:h-[100px] xs:h-[75px]">
                    <img src="/images/FOI-logo.png" alt="" class="xl:h-[100px] xs:h-[75px]">
                </div>

                <div class="flex xl:flex-row xs:flex-col justify-center xl:text-left xs:text-center xl:items-start xs:items-center">
                    <div class="flex flex-col max-w-[300px] xl:mr-[174px] xs:mr-0">
                        <div class="xl:mb-[50px] xs:mb-10">	
                            <div class="headings h5 mb-[10px]">
                                University Address
                            </div>
                            <div class="paragraph p2 text-titanium">Boheh Sallang, Sanga-Sanga
                                Bongao, Tawi-Tawi 7500</div>
                            </div>
                        <div class="mb-[50px]">	
                            <div class="headings h5 mb-[10px]">Main Office</div>
                            <div class="paragraph p2 text-titanium">MSU Manila Information and Liaison Office
                                Rm 203, Leticia Bldg.
                                1804 Taft Avenue Corner J. Nakpil St.
                                Malate, Manila
                            </div>
                        </div>
                    </div>

                    <div class="flex gap-[54px]">
                        <div class="flex flex-col max-w-[450px] xl:mr-10 xs:mr-0">
                            <div class="mb-[50px]">	
                                <div class="headings xl:h5 xs:h6 xl:mb-[10px] xs:mb-[5px]">Chancellor</div>
                                <div class="paragraph xl:p2 xs:p3 text-titanium">+63 917 3107843 <br> info@msutawi-tawi.edu.ph</div>
                            </div>
                            <div>	
                                <div class="headings xl:h5 xs:h6 xl:mb-[10px] xs:mb-[5px]">Admissions</div>
                                <div class="paragraph xl:p2 xs:p3 text-titanium">+63 917 3107843 <br> admission@msutawi-tawi.edu.ph</div>
                            </div>
                        </div>

                        <div class="flex flex-col max-w-[450px] xl:mr-[175px] xs:mr-0">
                            <div class="mb-[50px]">	
                                <div class="headings xl:h5 xs:h6 xl:mb-[10px] xs:mb-[5px]">Registrar</div>
                                <div class="paragraph xl:p2 xs:p3 text-titanium">+63 917 3107843 <br> registrar@msutawi-tawi.edu.ph</div>
                            </div>
                            <div>	
                                <div class="headings xl:h5 xs:h6 xl:mb-[10px] xs:mb-[5px]">Guidance</div>
                                <div class="paragraph xl:p2 xs:p3 text-titanium">+63 917 3107843 <br> guidance@msutawi-tawi.edu.ph</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="flex flex-col xl:max-w-[360px] xs:max-w-[240px] xl:mt-0 xs:mt-10">
                        <div class="paragraph xl:p1 xs:p2 text-titanium mb-5">For other inquiries regarding biddings for projects and other business transactions please visit the link below</div>
                        <a href="#" class="bg-msu-maroon text-white-pure xl:py-[14.5px] xs:py-5 xl:px-[85.5px] xs:px-[61.5px] rounded-[40px] paragraph xl:p1 xs:p2">Project Biddings</a>
                    </div>

                </div>
                
                <div class="flex gap-[33.33px] mt-8 justify-center">
                        <a href="#"><img src="/images/social media/linkin.png" alt=""></a>
                        <a href="#"></a><img src="/images/social media/instagram.png" alt=""></a>
                        <a href="#"></a><img src="/images/social media/facebook.png" alt=""></a>
                        <a href="#"></a><img src="/images/social media/tweeter.png" alt=""></a>
                        <a href="#"></a><img src="/images/social media/youtube.png" alt=""></a>
                </div>
                
                <div class="flex flex-col justify-center items-center xl:mt-[55px] xs:mt-[45px] pb-10">
                    <div class="flex xl:flex-row xs:flex-col">
                        <p class="paragraph p2 text-center text-msu-shallow-ocean">© 2023 &nbsp;</p>
                        <p class="paragraph p2 text-center text-msu-shallow-ocean">Mindanao State University &nbsp;</p>
                        <p class="paragraph p2 text-center text-msu-shallow-ocean xl:block xs:hidden">- &nbsp;</p>
                        <p class="paragraph p2 text-center text-msu-shallow-ocean">Tawi-Tawi College of Technology and Oceanography</p>
                    </div>
                    <div>
                        <p class="paragraph p2 text-center text-msu-shallow-ocean mt-3">All rights reserved.</p>
                    </div>
                        
                        
                </div>

            </div>
<!-- end footer -->
                    
        </div>
        



    </main>
	
</Layout>