---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar";
import MainVideo from "../components/MainVideo.astro";
import FooterNav from "../components/FooterNav.astro";
import Footer from "../components/Footer.astro";
import '../styles/css/global.css';

const currentPath = Astro.url.pathname;

import { urlForImage } from '../api/api';

import { getYear } from '../js/date';
import { getWordMonth } from '../js/date';
import { get3LettersMonth } from '../js/date';
import { getDay } from '../js/date';

import { getLatestGazette } from '../api/api';
import { getYearGazette } from '../api/api';

const latestGazette = await getLatestGazette();
const yearGazette = await getYearGazette();
---

<Layout title="MSU | Tawi-Tawi College of Technology and Oceanography">
	<main>
		<Navbar path={currentPath} client:visible />
        <div class='bg-gradient-ocean h-[100px] relative bottom-[100px] rotate-180'></div>
        <div class="absolute top-[180px] w-full">
            <div class='h-[40px] xl:px-[12.5%] xs:px-[3.85%]'>
                <p class="paragraph p2 py-[10px] text-titanium xl:block xs:hidden"><a href="/home">Home</a> / <a href="/publications">Publications</a>  / Gazette </p>
            </div>
            <div class="xl:pt-[80px]">
                <h3 class="headings xl:h3 xs:h4 text-white-pure text-center xs:mb-[45px]">Gazette</h3>
    
                <div class="flex xl:flex-row xs:flex-col xl:ml-[480px] xl:mt-[80px] ">
                    <div class="flex ">
                        <img src={ urlForImage(latestGazette.mainImage.asset.url).url() } class="xl:w-[412px] xl:px-[0%] xs:px-[100px] xl:mr-[68px] xs:mb-[45px] " alt="">
                    </div>
                    
                    <div class="flex flex-col mt-[20px] xl:text-start xs:text-start">
                        <div class="flex  xl:max-w-[480px] xl:px-[47px] xs:px-[124px] xs:justify-center  ">
                            <h4 class="headings xl:h4 xs:h5 text-write-pure">{ getYear(latestGazette.publishedAt) }, { latestGazette.gazetteQuarter.gazetteQuarter }</h4>
                        
                        </div>
                        <div class="flex xl:flex-col xs:flex-col xl:max-w-[480px] xs:px-[47px]">
                            <p class="paragraph p2 text-white-pure mt-[40px] xl:max-h-[400px] xs:max-h-[62px] overflow-hidden">
                                { latestGazette.body[0].children[0].text }
                            </p>
                        </div>
                    </div>
                </div>
                    
                <div class="flex xs:justify-center xs:my-[32px] xs:mx-[74px] xl:hidden xs:block  ">
					<a href="#" class="bg-gradient-sky-space text-white-pure  xs:py-5  xs:px-[61.5px] rounded-[40px] paragraph xl:p1 xs:p2 xl:hidden xs:block">Read Now</a>
				</div>
                <div class="flex gap-[30px] justify-center mt-[40px] ">
                    <a href="#" class=" bg-white xl:py-[10px] xl:px-[10px] xl:hidden xs:block xs:py-[8px] xs:px-[8px] rounded-[40px] border-white border-2"></a>
                    <a href="#" class="border-transparent xl:py-[10px] xl:hidden xs:block xl:px-[10px] xs:py-[8px] xs:px-[8px] rounded-[40px] border-white border-2"></a>
                    <a href="#" class="border-transparent xl:py-[10px] xl:hidden xs:block xl:px-[10px] xs:py-[8px] xs:px-[8px] rounded-[40px] border-white border-2"></a>
                
                    
                </div>
                <div class="flex xs:flex-col xs:items-center xs:mt-[48px]  xl:mt-[0px] ">
                    <div class="flex">
                        <p class="paragraph xs:p2 text-white-pure   xl:hidden xs:block">PREVIOUS RELEASES</p>
                    </div> 
                    <div class="flex">
                        <select class=" flex  xs:flex-col xs:msu-drop-white-shadow  xs:w-[181px]  text-white-pure xs:px-[19px] xs:py-3 rounded-[40px] xl:hidden xs:block">
                            <option class="paragraph p2 text-black-pure">2023</option>
                            <option class="paragraph p2 text-black-pure">2022</option>
                            <option class="paragraph p2 text-black-pure">2021</option>
                            <option class="paragraph p2 text-black-pure">2020</option>
                            <option class="paragraph p2 text-black-pure">2019</option>
                            <option class="paragraph p2 text-black-pure">2018</option>
                        </select>
                    </div> 
                    
                </div>
    
            </div>
            <div class=" xl:flex-row xs:flex-col bg-msu-ocean mt-[49px] flex xl:pl-[242px] mb-[120px]">
                <div class="flex xl:flex-col xs:flex-col xl:mr-[10px] xs:mr-[0px] ">
                    <p id="gazette" class="paragraph p1 text-white-pure  pt-[71px] xl:block xs:hidden">Previous Releases</p>
                    <p id="2022" class="paragraph p2 text-white-pure  pt-[40px] xl:block xs:hidden">2022</p>
                    <p id="2021" class="paragraph p2 text-white-pure  pt-[20px] xl:block xs:hidden">2021</p>
                    <p id="2020" class="paragraph p2 text-white-pure  pt-[20px] xl:block xs:hidden">2020</p>
                    <p id="2019" class="paragraph p2 text-white-pure  pt-[20px] xl:block xs:hidden">2019</p>
                    <p id="2018" class="paragraph p2 text-white-pure  pt-[20px] xl:block xs:hidden">2018</p>
                    <p id="2017" class="paragraph p2 text-white-pure  pt-[20px] xl:block xs:hidden">2017</p>
                    <p id="2016" class="paragraph p2 text-white-pure  pt-[20px] xl:block xs:hidden">2016</p>
                </div>

                

                <div id="gazette" class="flex xl:justify-center xl:mt-[140px] xs:mt-[40px]  ">
                    <div class="flex xl:flex-col ">
                        <!-- gazette year -->
                        <div id="2022" class="flex xl:flex-row  xs:flex-col xl:gap-[20px]">
                            <div id="4thQuarther" class="flex xl:flex-col xl:gap-[2px] xs:gap-[30px] xs:mx-[30px] ">
                                <div class="flex flex-col">
                                    <p id="gazetteDate" class="paragraph p2 text-white-pure xl:ml-[12px] xl:block xs:hidden">2022, 4th Quarter</p>
                                    <img src="/images/gazette1.png" class="xl:w-[220px] xs:w-[1000px]" alt="">
                                </div> 
                                <div class="flex xl:flex-col xs:flex-col xl:py-[0px] xs:py-[10px] xs:gap-[10px]  xl:gap-[0px] ">
                                    
                                    <div class="flex xl:flex-col xs:flex-row xs:gap-[37px]">
                                        <h6 id="gazetteTitle" class="headings h6 text-white-pure xl:ml-[12px] xl:hidden xs:block">Sample title search of a document, article</h6>
                                    </div>  
                                    <div class="flex xl:flex-col xs:flex-row xs:gap-[37px]">
                                   
                                        <p id="gazetteBody" class="paragraph p2 text-silver xl:ml-[12px] xl:w-[205px] ">
                                            Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                                            Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                                        </p>
                                     </div> 
                                  
                                    <div class="flex xl:flex-col xs:flex-row xs:gap-[37px]">
                                        <p id="gazetteDate" class="paragraph p2 text-silver  xl:hidden xs:block">Article</p>
                                        <p id="gazetteDate" class="paragraph p2 text-silver  xl:hidden xs:block">2021 Feb 01</p>
                                    </div> 
                                </div> 
                         
                            </div>
                            <div id="3rdQuarther" class="flex xl:flex-col xl:gap-[2px] xs:gap-[30px] xs:mx-[30px] ">
                                <div class="flex flex-col">
                                    <p id="gazetteDate" class="paragraph p2 text-white-pure xl:ml-[12px] xl:block xs:hidden">2022, 3rd Quarter</p>
                                    <img src="/images/gazette1.png" class="xl:w-[220px] xs:w-[1000px]" alt="">
                                </div> 
                                <div class="flex xl:flex-col xs:flex-col xl:py-[0px] xs:py-[10px] xs:gap-[10px]  xl:gap-[0px] ">
                                    
                                    <div class="flex xl:flex-col xs:flex-row xs:gap-[37px]">
                                        <h6 id="gazetteTitle" class="headings h6 text-white-pure xl:ml-[12px] xl:hidden xs:block">Sample title search of a document, article</h6>
                                    </div>  
                                    <div class="flex xl:flex-col xs:flex-row xs:gap-[37px]">
                                   
                                        <p id="gazetteBody" class="paragraph p2 text-silver xl:ml-[12px] xl:w-[205px] ">
                                            Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                                            Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                                        </p>
                                     </div> 
                                  
                                    <div class="flex xl:flex-col xs:flex-row xs:gap-[37px]">
                                        <p id="gazetteDate" class="paragraph p2 text-silver  xl:hidden xs:block">Article</p>
                                        <p id="gazetteDate" class="paragraph p2 text-silver  xl:hidden xs:block">2021 Feb 01</p>
                                    </div> 
                                </div> 
                         
                            </div>
                            <div id="2ndQuarther" class="flex xl:flex-col xl:gap-[2px] xs:gap-[30px] xs:mx-[30px] ">
                                <div class="flex flex-col">
                                    <p id="gazetteDate" class="paragraph p2 text-white-pure xl:ml-[12px] xl:block xs:hidden">2022, 2nd Quarter</p>
                                    <img src="/images/gazette1.png" class="xl:w-[220px] xs:w-[1000px]" alt="">
                                </div> 
                                <div class="flex xl:flex-col xs:flex-col xl:py-[0px] xs:py-[10px] xs:gap-[10px]  xl:gap-[0px] ">
                                    
                                    <div class="flex xl:flex-col xs:flex-row xs:gap-[37px]">
                                        <h6 id="gazetteTitle" class="headings h6 text-white-pure xl:ml-[12px] xl:hidden xs:block">Sample title search of a document, article</h6>
                                    </div>  
                                    <div class="flex xl:flex-col xs:flex-row xs:gap-[37px]">
                                   
                                        <p id="gazetteBody" class="paragraph p2 text-silver xl:ml-[12px] xl:w-[205px] ">
                                            Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                                            Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                                        </p>
                                     </div> 
                                  
                                    <div class="flex xl:flex-col xs:flex-row xs:gap-[37px]">
                                        <p id="gazetteDate" class="paragraph p2 text-silver  xl:hidden xs:block">Article</p>
                                        <p id="gazetteDate" class="paragraph p2 text-silver  xl:hidden xs:block">2021 Feb 01</p>
                                    </div> 
                                </div> 
                         
                            </div>
                            <div id="1stQuarther" class="flex xl:flex-col xl:gap-[2px] xs:gap-[30px] xs:mx-[30px] ">
                                <div class="flex flex-col">
                                    <p id="gazetteDate" class="paragraph p2 text-white-pure xl:ml-[12px] xl:block xs:hidden">2022, 1st Quarter</p>
                                    <img src="/images/gazette1.png" class="xl:w-[220px] xs:w-[1000px]" alt="">
                                </div> 
                                <div class="flex xl:flex-col xs:flex-col xl:py-[0px] xs:py-[10px] xs:gap-[10px]  xl:gap-[0px] ">
                                    
                                    <div class="flex xl:flex-col xs:flex-row xs:gap-[37px]">
                                        <h6 id="gazetteTitle" class="headings h6 text-white-pure xl:ml-[12px] xl:hidden xs:block">Sample title search of a document, article</h6>
                                    </div>  
                                    <div class="flex xl:flex-col xs:flex-row xs:gap-[37px]">
                                   
                                        <p id="gazetteBody" class="paragraph p2 text-silver xl:ml-[12px] xl:w-[205px] ">
                                            Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                                            Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                                        </p>
                                     </div> 
                                  
                                    <div class="flex xl:flex-col xs:flex-row xs:gap-[37px]">
                                        <p id="gazetteDate" class="paragraph p2 text-silver  xl:hidden xs:block">Article</p>
                                        <p id="gazetteDate" class="paragraph p2 text-silver  xl:hidden xs:block">2021 Feb 01</p>
                                    </div> 
                                </div> 
                         
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="flex xs:flex-col xs:items-center xs:mt-[48px] xs:gap-[9px] xl:mt-[0px] ">
                    <div class="flex">
                        <p class="paragraph xs:p2 text-white-pure   xl:hidden xs:block">Can’t see what you’re looking for?</p>
                    </div> 
                    <div class="flex">
                        <a href="#" class="bg-gradient-sky-space text-white-pure  xs:py-5  xs:px-[74px] rounded-[40px] paragraph xl:p1 xs:p2 xl:hidden xs:block">Search Article</a>
                    </div> 
                    
                </div>
    
            </div>
                    


<!-- fold Main video -->

    <MainVideo />
<!-- end Main video -->


<!-- FooterNaV -->
        <FooterNav />
<!-- end FooterNaV -->

<!-- Footer -->
		<Footer />
<!-- end Footer -->
                    
        </div>
        



    </main>
	
</Layout>