---
import Layout from '../layouts/Layout.astro';
import '../styles/css/global.css';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="h-[100px] w-full bg-msu-deep-ocean text-white-pure headings h1 flex justify-between items-center">
			<div class="flex items-center ml-[12.5%]">
				<img src="/images/MSU Seal New (Official).png" alt="" class="h-[72.99px] mr-5">
				<div>
					<h4 class="headings h5">Mindanao State University</h4>
					<p class="paragraph p2">Tawi-Tawi College of Technology and Oceanography</p>
				</div>
			</div>
			<div class="mr-[12.5%]">
				<p class="paragraph p3 pb-1">+63 910 291 0605</p>
				<p class="paragraph p3">admissions@msutawi-tawi.edu.ph</p>
			</div>
		</div>
		<div class="hero-main-img">
			<div class="bg-gradient-ocean flex justify-between items-center h-[80px] text-white-pure">
				<div class="flex gap-20 ml-[12.5%]">
					<a href="#" class="paragraph p2">Admissions</a>
					<a href="#">Programs</a>
					<a href="#">Offices</a>
					<a href="#">Publication</a>
					<a href="#">The Campus</a>
				</div>
				<div class="mr-[12.5%]">
					<input type="search" name="" id="">
				</div>
				
			</div>
		</div>

		
		<footer>
			<div class="bg-msu-dark-ocean text-white-pure footer justify-center">
				
				<div class="flex gap-20  mt-20 mb-20 justify-center">
					<div class="items-center mb-10">
						<img src="/images/MSU Seal New (Official).png" alt="" class="ml-[28%] h-[152.99px] mr-5 mb-5">
						<div>
							<h4 class="headings h5 text-center">Mindanao State University</h4>
							<p class="paragraph p2 text-center">Tawi-Tawi College of Technology and Oceanography</p>
						</div>
					</div>

				</div>


				<div class="cards">
					<div class="card">
						<div class="mb-5">	
							<div class="flex h5 mb-5">
								University Address
							</div>
								
							<div class="paragraph p2">Boheh Sallang, Sanga-Sanga
								Bongao, Tawi-Tawi 7500</div>
						</div>
						<div>	
							<div class="h5 mb-5">Main Office</div>
							<div class="paragraph p2">MSU Manila Information and Liaison Office
								Rm 203, Leticia Bldg.
								1804 Taft Avenue Corner J. Nakpil St.
								Malate, Manila</div>
	
						</div>
					</div>
					<div class="card">
						<div class="mb-5">	
							<div class="h5 mb-5">Chancellor</div>
							<div class="paragraph p2">+63 917 3107843 <br> info@msutawi-tawi.edu.ph</div>
						</div>
						<div>	
							<div class="h5 mb-5">Admissions</div>
							<div class="paragraph p2">+63 917 3107843 <br> info@msutawi-tawi.edu.ph</div>
	
						</div>
					</div>
					<div class="card">
						<div class="mb-5">	
							<div class="h5 mb-5">Registrar</div>
							<div class="paragraph p2">+63 917 3107843 <br> info@msutawi-tawi.edu.ph</div>
						</div>
						<div>	
							<div class="h5 mb-5">Guidance</div>
							<div class="paragraph p2">+63 917 3107843 <br> info@msutawi-tawi.edu.ph</div>
	
						</div>
					</div>
					<div class="card">
						<div class="mb-5">	
							<div class="paragraph p2">For other inquiries regarding biddings for projects and other business transactions please visit the link below</div>
						</div>
					</div>

				</div>




				<!-- <div class="flex ml-[12.5%]  mb-6">
					<div class="cards mb-1">	
						<div class="h5 mb-5">University Address</div>
						<div class="paragraph p2">Boheh Sallang, Sanga-Sanga
							Bongao, Tawi-Tawi 7500</div>

						
					</div>
					<div class="cards mb-1">	
						<div class="h5 mb-5">Chancellor</div>
						<div class="paragraph p2">+63 917 3107843 <br> info@msutawi-tawi.edu.ph</div>

					</div>
					<div class="cards mb-1">	
						<div class="h5 mb-5">Registrar</div>
						<div class="paragraph p2">+63 917 3107843 <br> info@msutawi-tawi.edu.ph</div>

					</div>
				</div>

				<div class="flex ml-[12.5%] mb-6">
					<div class="cards">	
						<div class="h5 mb-5">Main Office</div>
						<div class="paragraph p2">MSU Manila Information and Liaison Office
							Rm 203, Leticia Bldg.
							1804 Taft Avenue Corner J. Nakpil St.
							Malate, Manila</div>

					</div>
					<div class="cards">	
						<div class="h5 mb-5">Admissions</div>
						<div class="paragraph p2">+63 917 3107843 <br> info@msutawi-tawi.edu.ph</div>

					</div>
					<div class="cards">	
						<div class="h5 mb-5">Guidance</div>
						<div class="paragraph p2">+63 917 3107843 <br> info@msutawi-tawi.edu.ph</div>

					</div>
				</div> -->

			</div>
			
		</footer>
	</main>
	
</Layout>
