---
import Layout from '../layouts/Layout.astro';
import '../styles/css/global.css';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="h-[100px] w-full bg-msu-deep-ocean text-white-pure headings h1 flex justify-between items-center">
			<div class="flex items-center ml-[12.5%]">
				<img src="/images/MSU Seal New (Official).png" alt="" class="h-[72.99px] mr-5">
				<div>
					<h4 class="headings h5">Mindanao State University</h4>
					<p class="paragraph p2">Tawi-Tawi College of Technology and Oceanography</p>
				</div>
			</div>
			<div class="mr-[12.5%]">
				<p class="paragraph p3 pb-1">+63 910 291 0605</p>
				<p class="paragraph p3">admissions@msutawi-tawi.edu.ph</p>
			</div>
		</div>
		<div class="hero-main-img">
			<div class="bg-gradient-ocean flex justify-between items-center h-[80px] text-white-pure">
				<div class="flex gap-20 ml-[12.5%]">
					<a href="#" class="paragraph p2">Admissions</a>
					<a href="#">Programs</a>
					<a href="#">Offices</a>
					<a href="#">Publication</a>
					<a href="#">The College</a>
				</div>
				<div class="mr-[12.5%]">
					<input type="search" name="" id="">
				</div>
				
			</div>
		</div>
	</main>
	
</Layout>
