---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar";
import ChancellorMessage from "../components/ChancellorMessage.astro";
import MainVideo from "../components/MainVideo.astro";
import FooterNav from "../components/FooterNav.astro";
import Footer from "../components/Footer.astro";
import '../styles/css/global.css';

const currentPath = Astro.url.pathname;

import { urlForImage } from '../api/api';
import { getYear } from '../js/date';
import { getWordMonth } from '../js/date';
import { getDay } from '../js/date';

import { get3LatestArticle } from '../api/api';
import { getLatestFeaturedArticle } from '../api/api';
import { get4UpcomingEvents } from '../api/api';
import { get3LatestGazette } from '../api/api';
import { get3LatestAnnualReport } from '../api/api';

const threeLatestArticles = await get3LatestArticle();
const latestFeaturedArticle = await getLatestFeaturedArticle();
const fourUpcomingEvents = await get4UpcomingEvents();
const threeLatestGazette = await get3LatestGazette();
const threeLatestAnnualReport = await get3LatestAnnualReport();
---

<Layout title="MSU | Tawi-Tawi College of Technology and Oceanography">
	<main>
		<Navbar path={currentPath} client:visible />
		<div class="flex xl:flex-row xs:flex-col justify-center xl:bottom-[80px] xl:h-[640px] xl:mx-[12.5%] xs:mx-0 relative">
			<div class="bg-msu-deep-ocean flex xl:flex-row xs:flex-col justify-center xl:pr-5">
				{
					<div>
						<img src={ urlForImage(latestFeaturedArticle.mainImage.asset.url).url() } alt="" class="xl:w-[960px] xl:h-[720px] xs:h-[480px] xs:w-full object-cover object-center" />
						<div class="grid justify-center xl:absolute xl:top-[519px] xs:relative xl:px-10 xs:px-5 xl:pt-0 xs:pt-10">
							<a href="">
								<h4 class="headings xl:h4 xs:h5 xl:max-w-[680px] xl:max-h-[86px] overflow-hidden">
									{ latestFeaturedArticle.title }
								</h4>
							</a>
							<p class="paragraph p2 mt-5 text-titanium xl:max-w-[680px] xl:max-h-[60px] xs:max-h-[95px] overflow-hidden">
								{ latestFeaturedArticle.body[0].children[0].text }
							</p>
						</div>
					</div>
				}
				
				<div class="grid justify-center xl:mt-[-20px] xs:mt-[40px] mx-5 xl:pb-0 xs:pb-20">
					{
						threeLatestArticles.map((article: {
							title: unknown; 
                            body: [
                                {
                                    children: [
                                        {
                                            text: unknown;
                                        }
                                    ]
                                }
                            ];
                            mainImage: {
                                asset: {
                                    url: string
                                };
                            };
                            slug: {
                                current: unknown;
                            };
						}) => (
							<div class="flex mt-10">
								<img src={ urlForImage(article.mainImage.asset.url).url() } alt="" class="xl:h-[200px] xl:w-[200px] xs:h-[175px] xs:w-[175px] object-cover object-center" />
								<div class="ml-5">
									<a href={`/${article.slug.current}`}><h5 class="headings xl:h5 xs:h6 xl:max-w-[220px] xl:max-h-[48px] xs:max-w-[165px] xs:max-h-[29px] overflow-hidden">{ article.title }</h5></a>
									<p class="paragraph p2 xl:max-w-[220px] xl:max-h-[141px] xs:max-w-[165px] xs:max-h-[122px] text-titanium xl:mt-[15px] xs:mt-[10px] max-h-[156px] overflow-hidden">
										{ article.body[0].children[0].text }
									</p>
								</div>
							</div>
						))
					}
				</div>
			</div>
		</div>
		<div class="bg-black-pure w-full xl:px-[12.5%] xs:px-[3.85%]">
			<h5 class="headings h5 text-center xl:pt-[27px] xs:pt-[30px]">Upcoming Events</h5>
			<div class="grid xl:grid-cols-4 md:grid-cols-2 xs:grid-cols-1 mt-[27px]">
				{
					fourUpcomingEvents.map((calendar: {
						title: unknown;
						date: unknown;
						body: [
							{
								children: [
									{
										text: unknown;
									}
								]
							}
						];
						semester: {
							semester: unknown;
						};
						holiday: {
							holiday: unknown;
						};
					}) => {
						if (calendar.holiday.holiday === 'Academic Holiday') {
							return <div class="bg-gradient-ocean flex xl:flex-col xs:flex-row xl:gap-0 xs:gap-[50px] p-10">
								<div>
									<p class="paragraph xl:p1 xs:p2 text-white-pure xl:mb-0 xs:mb-[10px]">{ getWordMonth(calendar.date) }</p>
									<h2 class="headings xl:h2 xs:h3">{ getDay(calendar.date) }</h2>
								</div>
								<div>
									<p class="paragraph xl:p1 xs:p2 text-titanium xl:mt-[5px] xl:mb-0 xs:mb-[10px]">{ calendar.title }</p>
									<p class="paragraph p3 text-titanium xl:max-h-[48px] xs:max-h-[60px] overflow-hidden">
										{
											calendar.body[0].children[0].text
										}
									</p>
								</div>
							</div>
						} else if (calendar.holiday.holiday === 'National Holiday') {
							return <div class="bg-gradient-maroon flex xl:flex-col xs:flex-row xl:gap-0 xs:gap-[50px] p-10">
								<div>
									<p class="paragraph xl:p1 xs:p2 text-white-pure xl:mb-0 xs:mb-[10px]">{ getWordMonth(calendar.date) }</p>
									<h2 class="headings xl:h2 xs:h3">{ getDay(calendar.date) }</h2>
								</div>
								<div>
									<p class="paragraph xl:p1 xs:p2 text-titanium xl:mt-[5px] xl:mb-0 xs:mb-[10px]">{ calendar.title }</p>
									<p class="paragraph p3 text-titanium xl:max-h-[48px] xs:max-h-[60px] overflow-hidden">
										{
											calendar.body[0].children[0].text
										}
									</p>
								</div>
							</div>
						}
						
					})
				}
			</div>
		</div>
		<div class="xl:campuslife-bg-img xs:bg-transparent">
			<div class="flex xl:flex-row xs:flex-col xl:px-[12.5%] xs:px-[3.85%] pt-20 xl:bg-none xs:campuslife-bg-img">
				<h3 class="headings xl:h3 xs:h4 xl:w-[414px] xl:text-jusity xs:text-center">Experience MSU-TCTO’s Campus Life</h3>
				<div class=" xs:ml-0 xl:mt-0 xs:mt-10">
					<p class="paragraph xl:p1 xs:p2 xl:w-[840px] text-titanium xl:mb-[41px] xs:mb-[58px]">
						As an innovative research university, MSU-TCTO offers a vibrant campus life at the heart of the Sulu Archipelago. Experience diverse cultures, engage in the rich heritage of Tawi-Tawians, and participate in community engagements. Your campus experiences will change your mind and enrich your heart forever.
					</p>
					<div class="flex xl:flex-row xs:flex-col">
						<a href="" class="bg-msu-maroon text-white-pure xl:py-[14.5px] xs:py-5 xl:w-[360px] text-center rounded-[40px] paragraph xl:p1 xs:p2">Explore The Campus</a>
						<a href="" class="text-white-pure xl:py-[14.5px] xs:py-5 xl:w-[360px] text-center rounded-[40px] xl:ml-10 xl:mt-0 xs:mt-[10px] paragraph xl:p1 xs:p2 border">Campus History</a>
					</div>
				</div>
				<div class="bg-gradient-ocean h-20 rotate-180 xs:block xl:hidden"></div>
			</div>
			<div class="flex xl:flex-row xs:flex-col justify-center xl:mt-[86px] xl:pb-[141px] xs:pb-[85px] xl:px-[12.5%] xs:px-[3.85%]">
				<div class="xs:mb-[61px] xl:mb-0">
					<img src="/images/campus-mini1.png" class="w-full" alt="">
					<div class="m-5">
						<h5 class="headings h5 text-white-pure">Explore Academic Programs</h5>
						<div class="flex flex-col gap-[5px] paragraph p2 text-white-pure mt-[10px]">
							<a href="#">Information Technology</a>
							<a href="#">Science and Arts</a>
							<a href="#">Fishery</a>
							<a href="#">Education</a>
							<a href="#">Oceanography</a>
							<a href="#">Islamic & Arabic Studies</a>
							<a href="#">Post-graduate</a>
						</div>
					</div>
				</div>
				<div class="xs:mb-[61px] xl:mb-0">
					<img src="/images/campus-mini2.png" class="w-full" alt="">
					<div class="m-5">
						<h5 class="headings h5 text-white-pure mt-5">Admission and Scholarships</h5>
						<div class="flex flex-col gap-[5px] paragraph p2 text-white-pure mt-[10px]">
							<a href="#">SASE</a>
							<a href="#">Undergraduate</a>
							<a href="#">Transferee</a>
							<a href="#">Returning / Shifting</a>
							<a href="#">Remedial Program</a>
							<a href="#">Student Fees</a>
							<a href="#">Scholarships and Grants</a>
						</div>
					</div>
				</div>
				<div>
					<img src="/images/campus-mini3.png" class="w-full" alt="">
					<div class="m-5">
						<h5 class="headings h5 text-white-pure mt-5">Visit Our Offices</h5>
						<div class="flex flex-col gap-[5px] paragraph p2 text-white-pure mt-[10px]">
							<a href="#">Office of the Chancellor</a>
							<a href="#">Admin and Finance</a>
							<a href="#">Planning and Development</a>
							<a href="#">Administrative Offices</a>
							<a href="#">Academic Offices</a>
							<a href="#">Roster of Faculties</a>
						</div>
					</div>
				</div>
			</div>
		</div>


<!-- Chancellor Message -->
		<ChancellorMessage />
<!-- end Chancellor Message -->
		

<!-- fold 05 -->
		<div class="bg-msu-deep-ocean xl:px-[12.5%] xs:px-[3.85%] xl:pt-10 xs:pt-20 xl:pb-[101px] xs:pb-[95px] text-center">
			<h3 class="headings xl:h3 xs:h4 text-white-pure">The Pub</h3>
			<div class="flex xl:flex-row xs:flex-col justify-center items-center">
				<div class="xl:mt-10 xs:mt-20">
					<h4 class="headings xl:h4 xs:h5 text-white-pure">Gazette</h4>
					<div class="relative xl:w-[480px] xs:w-[300px]">
						<!-- Add msu-drop-shadow on other image other than this gazette -->
						<img src={ urlForImage(threeLatestGazette[0].mainImage.asset.url).url() } class="absolute xl:w-[412px] xs:w-[392px] z-20" alt="" />
						<img src={ urlForImage(threeLatestGazette[1].mainImage.asset.url).url() } class="absolute xl:w-[412px] xs:w-[392px] top-[15px] left-[15px] z-10" alt="" />
						<img src={ urlForImage(threeLatestGazette[2].mainImage.asset.url).url() } class="absolute xl:w-[412px] xs:w-[392px] top-[30px] left-[30px] z-0" alt="" />
					</div>
					<div class="xl:max-w-[480px] xs:max-w-[350px] text-left">
						<p class="paragraph p2 text-titanium xl:mt-[650px] xs:mt-[470px] xl:h-[80px] xs:h-[95px] overflow-hidden">{ threeLatestGazette[0].body[0].children[0].text }</p>
					</div>
				</div>
				<div class="xl:mt-10 xs:mt-20 xl:ml-[240px]">
					<h4 class="headings h4 text-white-pure">Annual Report</h4>
					<div class="relative xl:w-[480px] xs:w-[300px]">
						<!-- Add msu-drop-shadow on other image other than this gazette -->
						<img src={ urlForImage(threeLatestAnnualReport[0].mainImage.asset.url).url() } class="absolute xl:w-[412px] xs:w-[392px] z-20" alt="">
						<img src={ urlForImage(threeLatestAnnualReport[1].mainImage.asset.url).url() } class="absolute xl:w-[412px] xs:w-[392px] top-[15px] left-[15px] z-10" alt="">
						<img src={ urlForImage(threeLatestAnnualReport[2].mainImage.asset.url).url() } class="absolute xl:w-[412px] xs:w-[392px] top-[30px] left-[30px] z-0" alt="">
					</div>
					<div class="xl:max-w-[480px] xs:max-w-[350px] text-left">
						<p class="paragraph p2 text-titanium xl:mt-[650px] xs:mt-[470px] xl:h-[80px] xs:h-[95px] overflow-hidden">{ threeLatestAnnualReport[0].body[0].children[0].text }</p>
					</div>
				</div>
			</div>
		</div>
<!-- end fold 05 -->
		
	
<!-- fold 06 -->
		<MainVideo />
		
<!-- FooterNaV -->
		<FooterNav />
<!-- end FooterNaV -->
<!-- Footer -->
		<Footer />
<!-- end Footer -->

	</main>
	
</Layout>
