---
import Layout from '../layouts/Layout.astro';
import '../styles/css/global.css';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="h-[100px] w-full bg-msu-deep-ocean text-white-pure headings h1 flex justify-between items-center pl-[12.5%] pr-[12.5%]">
			<div class="flex items-center">
				<img src="/images/MSU Seal New (Official).png" alt="" class="h-[72.99px] mr-5">
				<div>
					<h4 class="headings h5">Mindanao State University</h4>
					<p class="paragraph p2">Tawi-Tawi College of Technology and Oceanography</p>
				</div>
			</div>
			<div>
				<p class="paragraph p2 pb-1">+63 910 291 0605</p>
				<p class="paragraph p2">admissions@msutawi-tawi.edu.ph</p>
			</div>
		</div>
		<div class="hero-main-img relative">
			<div class="bg-gradient-ocean flex justify-between items-center h-[80px] text-white-pure pl-[12.5%] pr-[12.5%]">
				<div class="flex gap-20">
					<a href="#" class="paragraph p2">Admissions</a>
					<a href="#" class="paragraph p2">Programs</a>
					<a href="#" class="paragraph p2">Offices</a>
					<a href="#" class="paragraph p2">Publication</a>
					<a href="#" class="paragraph p2">The Campus</a>
				</div>
				<div class="relative">
					<input type="search" name="" id="" class="bg-transparent border rounded-[20px] w-[360px] h-10 pl-12 pr-4 text-center">
					<img src="/images/search.png" alt="" class="absolute top-[6px] left-3">
				</div>
			</div>
			<div class="mt-[478px] pl-[12.5%] pr-[12.5%]">
				<h3 class="headings h3">
					Four decades<br>
					of steadfast Excellence<br>
					in Marine Sciences
				</h3>
				<div class="mt-5">
					<a href="#" class="bg-msu-maroon text-white-pure py-[14.5px] px-[115.5px] rounded-[40px] paragraph p1">Enroll Now</a>
					<a href="#" class="text-white-pure py-[14.5px] px-[115.5px] rounded-[40px] ml-10 paragraph p1 border">Our Course Offerings</a>
				</div>
			</div>
			<div class="flex justify-center mt-[135px] pl-[12.5%] pr-[12.5%] relative">
				<div>
					<img src="/images/main-article.png" alt="" class="h-[720px]">
					<div class="absolute top-[519px] pl-10">
						<h4 class="headings h4 max-w-[680px]">
							Four decades of steadfast
							Excellence in Marine Sciences
						</h4>
						<p class="paragraph p2 mt-5 text-titanium max-w-[680px]">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
					</div>
				</div>
				<div class="mt-5 ml-5">
					<div class="flex">
						<img src="/images/article-img-1.png" alt="" class="h-[200px]">
						<div class="ml-5">
							<h5 class="headings h5 max-w-[220px]">Article Long Title </h5>
							<p class="paragraph p2 max-w-[220px] text-white-pure mt-[15px] max-h-[152px]">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
						</div>
					</div>
					<div class="flex mt-10">
						<img src="/images/article-img-1.png" alt="" class="h-[200px]">
						<div class="ml-5">
							<h5 class="headings h5 max-w-[220px]">Article Long Title </h5>
							<p class="paragraph p2 max-w-[220px] text-white-pure mt-[15px] max-h-[152px]">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
						</div>
					</div>
					<div class="flex mt-10">
						<img src="/images/article-img-1.png" alt="" class="h-[200px]">
						<div class="ml-5">
							<h5 class="headings h5 max-w-[220px]">Article Long Title </h5>
							<p class="paragraph p2 max-w-[220px] text-white-pure mt-[15px] max-h-[152px]">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
						</div>
					</div>
				</div>
			</div>		
		</div>
		<div class="bg-msu-dark-ocean h-[440px] w-full mt-[695px] pl-[12.5%] pr-[12.5%]">
			<h5 class="headings h5 text-center pt-[27px]">Upcoming Events</h5>
			<div class="grid grid-cols-4 justify-items-center mt-[27px]">
				<div class="p-10 max-w-[360px]">
					<p class="paragraph p1 text-white-pure">June</p>
					<h2 class="headings h2">18</h2>
					<p class="paragraph p1 text-titanium mt-[5px]">Event Title 2023</p>
					<p class="paragraph p3 text-titanium">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
				</div>
				<div class="p-10 max-w-[360px]">
					<p class="paragraph p1 text-white-pure">June</p>
					<h2 class="headings h2">18</h2>
					<p class="paragraph p1 text-titanium mt-[5px]">Event Title 2023</p>
					<p class="paragraph p3 text-titanium">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
				</div>
				<div class="p-10 max-w-[360px]">
					<p class="paragraph p1 text-white-pure">June</p>
					<h2 class="headings h2">18</h2>
					<p class="paragraph p1 text-titanium mt-[5px]">Event Title 2023</p>
					<p class="paragraph p3 text-titanium">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
				</div>
				<div class="p-10 max-w-[360px]">
					<p class="paragraph p1 text-white-pure">June</p>
					<h2 class="headings h2">18</h2>
					<p class="paragraph p1 text-titanium mt-[5px]">Event Title 2023</p>
					<p class="paragraph p3 text-titanium">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
				</div>
			</div>
		</div>
		<div class="campuslife-bg-img">

		</div>

		
		<footer>
			
			<div class="bg-msu-dark-ocean text-white-pure footer justify-center">
				
				<div class="flex mb-10 justify-center">
					<div class="items-center mb-10  mt-[70px]">
						<img src="/images/MSU Seal New (Official).png" alt="" class="ml-[28%] h-[152.99px] mr-5 mb-5">
						<div>
							<h4 class="headings h5 text-center">Mindanao State University</h4>
							<p class="paragraph p2 text-center">Tawi-Tawi College of Technology and Oceanography</p>
						</div>
					</div>

				</div>

				<div class="flex gap-8  mt-8 mb-8 justify-center">
					<div class="items-center mb-10">
						<img src="/images/Republika ng pilipinas.png" alt=""  class="ml-[8%]">
					</div>
					<div class="items-center mb-10">
						<img src="/images/transparency_seal.png" alt="" class="ml-[8%]">
					</div>
					<div class="items-center mb-10">
						<img src="/images/FOI-logo.png" alt="" class="ml-[8%]">
					</div>

				</div>


				<div class="cards">
					<div class="card">
						<div class="mb-10">	
							<div class="flex h5 mb-5">
								University Address
							</div>
								
							<div class="paragraph p2">Boheh Sallang, Sanga-Sanga
								Bongao, Tawi-Tawi 7500</div>
						</div>
						<div class="mb-5">	
							<div class="h5 mb-5">Main Office</div>
							<div class="paragraph p2">MSU Manila Information and Liaison Office
								Rm 203, Leticia Bldg.
								1804 Taft Avenue Corner J. Nakpil St.
								Malate, Manila</div>
	
						</div>
					</div>


					<div class="card ml-[35%]">
						<div class="mb-10">	
							<div class="h5 mb-5">Chancellor</div>
							<div class="paragraph p2">+63 917 3107843 <br> info@msutawi-tawi.edu.ph</div>
						</div>
						<div>	
							<div class="h5 mb-5">Admissions</div>
							<div class="paragraph p2">+63 917 3107843 <br> info@msutawi-tawi.edu.ph</div>
	
						</div>
					</div>
					<div class="card">
						<div class="mb-10">	
							<div class="h5 mb-5">Registrar</div>
							<div class="paragraph p2">+63 917 3107843 <br> info@msutawi-tawi.edu.ph</div>
						</div>
						<div>	
							<div class="h5 mb-5">Guidance</div>
							<div class="paragraph p2">+63 917 3107843 <br> info@msutawi-tawi.edu.ph</div>
	
						</div>
					</div>
					<div class="card">
						<div class="mb-5 ml-5">	
							<div class="paragraph p2">For other inquiries regarding biddings for projects and other business transactions please visit the link below</div>
						</div>
						
						<div class="mt-5" align="center">
							<a href="#" class="bg-msu-maroon text-white-pure py-[8.5px] px-[25.5px] rounded-[40px] paragraph p1">Project Biddings</a>
						</div>
					</div>

				</div>
				

				<div class="flex gap-8  mt-8 mb-8 justify-center">
					<div class="items-center mb-10">
						<img src="/images/social media/linkin.png" alt=""  class="ml-[8%]">
					</div>
					<div class="items-center mb-10">
						<img src="/images/social media/instagram.png" alt=""  class="ml-[8%]">
					</div>
					<div class="items-center mb-10">
						<img src="/images/social media/facebook.png" alt=""  class="ml-[8%]">
					</div>
					<div class="items-center mb-10">
						<img src="/images/social media/tweeter.png" alt=""  class="ml-[8%]">
					</div>
					<div class="items-center mb-10">
						<img src="/images/social media/youtube.png" alt=""  class="ml-[8%]">
					</div>
				</div>
				
				
				<div class="flex  mt-5 mb-10 justify-center">
					<div class="items-center mb-10">
						<div>
							<p class="paragraph p2 text-center text-msu-shallow-ocean">© 2023 Mindanao State University - Tawi-Tawi College of Technology and Oceanography</p>
							<p class="paragraph p2 text-center text-msu-shallow-ocean mt-5">All rights reserved.</p>
						</div>
					</div>

				</div>

			</div>
			
		</footer>
	</main>
	
</Layout>
