---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar";
import '../styles/css/global.css';
---

<Layout title="Welcome to Astro.">
	<main>
		<Navbar client:visible />
		<div class="flex xl:flex-row xs:flex-col justify-center xl:bottom-[70px] xl:h-[650px] xl:mx-[12.5%] xs:mx-0 relative">
			<div class="bg-msu-deep-ocean flex xl:flex-row xs:flex-col justify-center xl:pr-5">
				<div>
					<img src="/images/main-article.png" alt="" class="xl:h-[720px] xs:w-full object-cover object-center" />
					<div class="grid justify-center xl:absolute xl:top-[519px] xs:relative xl:px-10 xs:px-5 xl:pt-0 xs:pt-10">
						<h4 class="headings xl:h4 xs:h5 max-w-[680px]">
							Four decades of steadfast
							Excellence in Marine Sciences
						</h4>
						<p class="paragraph p2 mt-5 text-titanium max-w-[680px]">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
					</div>
				</div>
				<div class="grid justify-center xl:mt-5 xs:mt-20 mx-5 xl:pb-0 xs:pb-20">
					<div class="flex">
						<img src="/images/article-img-1.png" alt="" class="xl:h-[200px] xs:h-[179px] object-cover object-center" />
						<div class="ml-5">
							<h5 class="headings xl:h5 xs:h6 xl:max-w-[220px] xs:max-w-[165px]">Article Long Title </h5>
							<p class="paragraph p2 xl:max-w-[220px] xs:max-w-[165px] text-titanium xl:mt-[15px] xs:mt-[10px] max-h-[156px] overflow-clip">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
						</div>
					</div>
					<div class="flex mt-10">
						<img src="/images/article-img-1.png" alt="" class="xl:h-[200px] xs:h-[179px] object-cover object-center" />
						<div class="ml-5">
							<h5 class="headings xl:h5 xs:h6 xl:max-w-[220px] xs:max-w-[165px]">Article Long Title </h5>
							<p class="paragraph p2 xl:max-w-[220px] xs:max-w-[165px] text-titanium xl:mt-[15px] xs:mt-[10px] max-h-[156px] overflow-clip">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
						</div>
					</div>
					<div class="flex mt-10">
						<img src="/images/article-img-1.png" alt="" class="xl:h-[200px] xs:h-[179px] object-cover object-center" />
						<div class="ml-5">
							<h5 class="headings xl:h5 xs:h6 xl:max-w-[220px] xs:max-w-[165px]">Article Long Title </h5>
							<p class="paragraph p2 xl:max-w-[220px] xs:max-w-[165px] text-titanium xl:mt-[15px] xs:mt-[10px] max-h-[156px] overflow-clip">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bg-msu-dark-ocean w-full xl:px-[12.5%] xs:px-[3.85%]">
			<h5 class="headings h5 text-center xl:pt-[27px] xs:pt-[30px]">Upcoming Events</h5>
			<div class="grid xl:grid-cols-4 md:grid-cols-2 xs:grid-col-1 justify-items-center mt-[27px]">
				<div class="flex xl:flex-col xs:flex-row xl:gap-0 xs:gap-[50px] p-10 xl:max-w-[360px]">
					<div>
						<p class="paragraph xl:p1 xs:p2 text-white-pure xl:mb-0 xs:mb-[10px]">June</p>
						<h2 class="headings xl:h2 xs:h3">18</h2>
					</div>
					<div>
						<p class="paragraph xl:p1 xs:p2 text-titanium xl:mt-[5px] xl:mb-0 xs:mb-[10px]">Event Title 2023</p>
						<p class="paragraph p3 text-titanium xs:max-w-[233px]">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
					</div>
				</div>
				<div class="flex xl:flex-col xs:flex-row xl:gap-0 xs:gap-[50px] p-10 xl:max-w-[360px]">
					<div>
						<p class="paragraph xl:p1 xs:p2 text-white-pure xl:mb-0 xs:mb-[10px]">July</p>
						<h2 class="headings xl:h2 xs:h3">03</h2>
					</div>
					<div>
						<p class="paragraph xl:p1 xs:p2 text-titanium xl:mt-[5px] xl:mb-0 xs:mb-[10px]">Event Title 2023</p>
						<p class="paragraph p3 text-titanium xs:max-w-[233px]">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
					</div>
				</div>
				<div class="flex xl:flex-col xs:flex-row xl:gap-0 xs:gap-[50px] p-10 xl:max-w-[360px]">
					<div>
						<p class="paragraph xl:p1 xs:p2 text-white-pure xl:mb-0 xs:mb-[10px]">August</p>
						<h2 class="headings xl:h2 xs:h3">12</h2>
					</div>
					<div>
						<p class="paragraph xl:p1 xs:p2 text-titanium xl:mt-[5px] xl:mb-0 xs:mb-[10px]">Event Title 2023</p>
						<p class="paragraph p3 text-titanium xs:max-w-[233px]">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
					</div>
				</div>
				<div class="flex xl:flex-col xs:flex-row xl:gap-0 xs:gap-[50px] p-10 xl:max-w-[360px]">
					<div>
						<p class="paragraph xl:p1 xs:p2 text-white-pure xl:mb-0 xs:mb-[10px]">September</p>
						<h2 class="headings xl:h2 xs:h3">16</h2>
					</div>
					<div>
						<p class="paragraph xl:p1 xs:p2 text-titanium xl:mt-[5px] xl:mb-0 xs:mb-[10px]">Event Title 2023</p>
						<p class="paragraph p3 text-titanium xs:max-w-[233px]">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="xl:campuslife-bg-img xs:bg-transparent">
			<div class="flex xl:flex-row xs:flex-col justify-center xl:px-[12.5%] xs:px-[3.85%] pt-20 xl:bg-none xs:campuslife-bg-img">
				<h3 class="headings xl:h3 xs:h4 xl:w-[414px] xs:text-center">Experience MSU-TCTO’s Campus Life</h3>
				<div class="xl:ml-[186px] xs:ml-0 xl:mt-0 xs:mt-10">
					<p class="paragraph xl:p1 xs:p2 xl:w-[840px] text-titanium xl:mb-[41px] xs:mb-[58px]">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
					<div class="flex xl:flex-row xs:flex-col">
						<a href="" class="bg-msu-maroon text-white-pure xl:py-[14.5px] xs:py-5 xl:w-[360px] text-center rounded-[40px] paragraph xl:p1 xs:p2">Explore The Campus</a>
						<a href="" class="text-white-pure xl:py-[14.5px] xs:py-5 xl:w-[360px] text-center rounded-[40px] xl:ml-10 xl:mt-0 xs:mt-[10px] paragraph xl:p1 xs:p2 border">Campus History</a>
					</div>
				</div>
				<div class="bg-gradient-ocean h-20 rotate-180 xs:block xl:hidden"></div>
			</div>
			<div class="flex xl:flex-row xs:flex-col justify-center xl:mt-[86px] xl:pb-[141px] xs:pb-[85px] xl:px-[12.5%] xs:px-[3.85%]">
				<div class="xs:mb-[61px] xl:mb-0">
					<img src="/images/campus-mini1.png" class="w-full" alt="">
					<div class="m-5">
						<h5 class="headings h5 text-white-pure">Explore Academic Programs</h5>
						<div class="flex flex-col gap-[5px] paragraph p2 text-white-pure mt-[10px]">
							<a href="#">Information Technology</a>
							<a href="#">Science and Arts</a>
							<a href="#">Fishery</a>
							<a href="#">Education</a>
							<a href="#">Oceanography</a>
							<a href="#">Islamic & Arabic Studies</a>
							<a href="#">Post-graduate</a>
						</div>
					</div>
				</div>
				<div class="xs:mb-[61px] xl:mb-0">
					<img src="/images/campus-mini2.png" class="w-full" alt="">
					<div class="m-5">
						<h5 class="headings h5 text-white-pure mt-5">Admission and Scholarships</h5>
						<div class="flex flex-col gap-[5px] paragraph p2 text-white-pure mt-[10px]">
							<a href="#">SASE</a>
							<a href="#">Undergraduate</a>
							<a href="#">Transferee</a>
							<a href="#">Returning / Shifting</a>
							<a href="#">Remedial Program</a>
							<a href="#">Student Fees</a>
							<a href="#">Scholarships and Grants</a>
						</div>
					</div>
				</div>
				<div>
					<img src="/images/campus-mini3.png" class="w-full" alt="">
					<div class="m-5">
						<h5 class="headings h5 text-white-pure mt-5">Visit Our Offices</h5>
						<div class="flex flex-col gap-[5px] paragraph p2 text-white-pure mt-[10px]">
							<a href="#">Office of the Chancellor</a>
							<a href="#">Admin and Finance</a>
							<a href="#">Planning and Development</a>
							<a href="#">Administrative Offices</a>
							<a href="#">Academic Offices</a>
							<a href="#">Roster of Faculties</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- fold 04 -->
		<div class="video-wrapper">
			<div class="video-container">
				<iframe width="100%" height="980"
					src="https://www.youtube.com/embed/0C7f8iq6f_w?autoplay=0&mute=0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
				</iframe>
			</div>
		</div>

		<div class="bg-msu-deep-ocean h-[1080px] px-[12.5%] pt-10 text-center">
			<h3 class="headings h3 text-white-pure">The Pub</h3>
			<div class="flex justify-center">
				<div class="mt-10">
					<h4 class="headings h4 text-white-pure">Gazette</h4>
					<div class="relative w-[480px]">
						<!-- Add msu-drop-shadow on other image other than this gazette -->
						<img src="/images/gazette1.png" class="absolute w-[412px] z-20" alt="">
						<img src="/images/gazette2.png" class="absolute w-[412px] top-[37px] left-[37px] z-10" alt="">
						<img src="/images/gazette3.png" class="absolute w-[412px] top-[68px] left-[68px] z-0" alt="">
					</div>
					<div class="max-w-[480px] text-left">
						<p class="paragraph p2 text-titanium mt-[651px]">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
					</div>
				</div>
				<div class="mt-10 ml-[240px]">
					<h4 class="headings h4 text-white-pure">Gazette</h4>
					<div class="relative w-[480px]">
						<!-- Add msu-drop-shadow on other image other than this gazette -->
						<img src="/images/gazette1.png" class="absolute w-[412px] z-20" alt="">
						<img src="/images/gazette2.png" class="absolute w-[412px] top-[37px] left-[37px] z-10" alt="">
						<img src="/images/gazette3.png" class="absolute w-[412px] top-[68px] left-[68px] z-0" alt="">
					</div>
					<div class="max-w-[480px] text-left">
						<p class="paragraph p2 text-titanium mt-[651px]">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
					</div>
				</div>
			</div>
		</div>
		
	
		<!-- fold 06 -->
		<div class="fold-06-gb-img">
			<div class="flex">
				<img src="/images/fold-06 chancy.png" alt="" class="ml-[260px] mt-[122px] h-[958px]">
				<div class="ml-5">
					<h3 class="headings h3 text-msu-deep-ocean ml-[76px] mt-[120px] pr-[12.5%]">We help you take your first step towards </h3>
					<h3 class="headings h3 bg-msu-deep-ocean text-msu-gold ml-[76px] px-3 py-3 pb-1 max-w-[350px]"> SUCCESS! </h3>
					<h4 class="headings h4 text-msu-maroon ml-[76px] mt-[125px] "> A Message from the Chancellor </h4>
					<p class="paragraph p1 ml-[76px] text-black-pure mt-[30px]  pr-[12.5%]">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
					<p class="paragraph p1 ml-[76px] text-black-pure mt-[30px]  pr-[12.5%]">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
					<h5 class="headings h5 text-graphite ml-[76px] mt-[30px] mb-[45px]"> Prof. Mary Joyce Z. Guinto-Sali, Ph.D </h5>

					<a href="#" class="paragraph p1 bg-msu-maroon ml-[76px] text-white-pure py-[12.5px] px-[30.5px] rounded-[40px]">Contact with the Chancellor</a>
					<a href="#" class="paragraph p1  ml-[50px] text-msu-maroon py-[12.5px] px-[30.5px] rounded-[40px] border border-msu-maroon">Administrative Offices</a>
				</div>
			</div>

		</div>

		
		<!-- selection/footer-nav -->
		<div class="footer-nav">
			<div class=" bg-msu-deep-ocean text-white-pure headings justify-center mb-[20px] mt-[50px]">
				<div class="mt-5">
					<div class="flex px-[12.5%]  mb-[8.5%]">
						<img src="/images/article-img-1.png" alt="" class="ml-10 h-[200px]">
						<div class="ml-5">
							<h5 class="headings h5 max-w-[220px]">Article Long Title </h5>
							<p class="paragraph p2 max-w-[220px] text-white-pure mt-[15px] max-h-[152px]">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
						</div>

						<img src="/images/article-img-1.png" alt="" class="ml-10 h-[200px]">
						<div class="ml-5">
							<h5 class="headings h5 max-w-[220px]">Article Long Title </h5>
							<p class="paragraph p2 max-w-[220px] text-white-pure mt-[15px] max-h-[152px]">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
						</div>
						<img src="/images/article-img-1.png" alt="" class="ml-10 h-[200px]">
						<div class="ml-5">
							<h5 class="headings h5 max-w-[220px]">Article Long Title </h5>
							<p class="paragraph p2 max-w-[220px] text-white-pure mt-[15px] max-h-[152px]">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
						</div>
					</div>
					
					<img src="/images/rectangle.png" alt="" class="max-w-[360px] h-[20px] absolute">
					<div class="flex pl-[20.5%] pr-[20.5%]">
						
						<div>
							<ul>
								<li><h5 class="headings h5 max-w-[220px] mb-2">University </h5></li>
								<li><a href="#" class="paragraph p2 text-titanium mb-1">History </a></li>
								<li><a href="#" class="paragraph p2 text-titanium mb-1">Mission / Vission </a></li>
								<li><a href="#" class="paragraph p2 text-titanium mb-1">University Hymn </a></li>
								<li><a href="#" class="paragraph p2 text-titanium mb-1">Articles </a></li>
								<li><a href="#" class="paragraph p2 text-titanium mb-1">Events </a></li>
								<li><a href="#" class="paragraph p2 text-titanium mb-1">Gazette </a></li>
								<li><a href="#" class="paragraph p2 text-titanium mb-1">Annual Report </a></li>
							</ul>
						</div>
						<div class="ml-[12%]">
							<ul>
								<li><h5 class="headings h5 mb-2">Admissions </h5></li>	
								<li><a href="#" class="paragraph p2 text-titanium mb-1">MSU SASE </a></li>	
								<li><a href="#" class="paragraph p2 text-titanium mb-1">Undergraduate </a></li>	
								<li><a href="#" class="paragraph p2 text-titanium mb-1">Transferee </a></li>	
								<li><a href="#" class="paragraph p2 text-titanium mb-1">Returning / Shifting </a></li>	
								<li><a href="#" class="paragraph p2 text-titanium mb-1">Remedial Program </a></li>	
								<li><a href="#" class="paragraph p2 text-titanium mb-1">Student Fees </a></li>	
								<li><a href="#" class="paragraph p2 text-titanium mb-1">Scholarships & Grants </a></li>	
							</ul>
						</div>
						<div class="ml-[12%]">
							<ul>
								<li><h5 class="headings h5  w-200 mb-2">Programs </h5></li>
								<li><a href="#" class="paragraph p2 text-titanium mb-1 max-w-[520px] mt-[15px] max-h-[152px]">Intormation Technology </a></li>
								<li><a href="#" class="paragraph p2 text-titanium mb-1 max-w-[220px] mt-[15px] max-h-[152px]">Science & Arts </a></li>
								<li><a href="#" class="paragraph p2 text-titanium mb-1 max-w-[220px] mt-[15px] max-h-[152px]">Fisheries </a></li>
								<li><a href="#" class="paragraph p2 text-titanium mb-1 max-w-[220px] mt-[15px] max-h-[152px]">Education </a></li>
								<li><a href="#" class="paragraph p2 text-titanium mb-1 max-w-[220px] mt-[15px] max-h-[152px]">Oceanography </a></li>
								<li><a href="#" class="paragraph p2 text-titanium mb-1 max-w-[220px] mt-[15px] max-h-[152px]">Islami & Arabic Studies </a></li>
							</ul>
						</div>
						<div class="ml-[12%]">
							<ul>
								<li><h5 class="headings h5 max-w-[220px] mb-2">Admissions</h5></li>
								<li><a href="#" class="paragraph p2 text-titanium mb-1">Chancellor </a></li>
								<li><a href="#" class="paragraph p2 text-titanium mb-1">VC Admin & Finance </a></li>
								<li><a href="#" class="paragraph p2 text-titanium mb-1">Planning & Development </a></li>
								<li><a href="#" class="paragraph p2 text-titanium mb-1">IICT </a></li>
								<li><a href="#" class="paragraph p2 text-titanium mb-1">CAS </a></li>
								<li><a href="#" class="paragraph p2 text-titanium mb-1">COF </a></li>
								<li><a href="#" class="paragraph p2 text-titanium mb-1">COED </a></li>
								<li><a href="#" class="paragraph p2 text-titanium mb-1">IOES </a></li>
								<li><a href="#" class="paragraph p2 text-titanium mb-1">CIAS </a></li>
							</ul>
						</div>
						<div class="ml-[12%]">
							<ul>
								<li><h5 class="headings h5 max-w-[220px] mb-2">Legal </h5></li>
								<li><a href="#" class="paragraph p2 text-titanium mb-1">Terms </a></li>
								<li><a href="#" class="paragraph p2 text-titanium mb-1">Pricacy </a></li>
								<li><a href="#" class="paragraph p2 text-titanium mb-1">RA 6060 </a></li>
								<li><a href="#" class="paragraph p2 text-titanium mb-1">KRA2 </a></li>
							</ul>
							
							
							
							
							
						</div>
					</div>
				</div>
			</div>

		</div>

		<!-- selection/footer -->
		<div class="footer">

			<div class="bg-msu-dark-ocean text-white-pure footer justify-center">
				
				<div class="flex mb-10 justify-center">
					<div class="items-center mb-10  mt-[70px]">
						<img src="/images/MSU Seal New (Official).png" alt="" class="ml-[28%] h-[152.99px] mr-5 mb-5">
						<div>
							<h4 class="headings h5 text-center">Mindanao State University</h4>
							<p class="paragraph p2 text-center">Tawi-Tawi College of Technology and Oceanography</p>
						</div>
					</div>

				</div>

				<div class="flex gap-8  mt-8 mb-8 justify-center">
					<div class="items-center mb-10">
						<img src="/images/Republika ng pilipinas.png" alt=""  class="ml-[8%]">
					</div>
					<div class="items-center mb-10">
						<img src="/images/transparency_seal.png" alt="" class="ml-[8%]">
					</div>
					<div class="items-center mb-10">
						<img src="/images/FOI-logo.png" alt="" class="ml-[8%]">
					</div>

				</div>


				<div class="cards">
					<div class="card">
						<div class="mb-10">	
							<div class="flex h5 mb-5">
								University Address
							</div>
								
							<div class="paragraph p2">Boheh Sallang, Sanga-Sanga
								Bongao, Tawi-Tawi 7500</div>
						</div>
						<div class="mb-5">	
							<div class="h5 mb-5">Main Office</div>
							<div class="paragraph p2">MSU Manila Information and Liaison Office
								Rm 203, Leticia Bldg.
								1804 Taft Avenue Corner J. Nakpil St.
								Malate, Manila</div>
	
						</div>
					</div>


					<div class="card ml-[35%]">
						<div class="mb-10">	
							<div class="h5 mb-5">Chancellor</div>
							<div class="paragraph p2">+63 917 3107843 <br> info@msutawi-tawi.edu.ph</div>
						</div>
						<div>	
							<div class="h5 mb-5">Admissions</div>
							<div class="paragraph p2">+63 917 3107843 <br> info@msutawi-tawi.edu.ph</div>
	
						</div>
					</div>
					<div class="card">
						<div class="mb-10">	
							<div class="h5 mb-5">Registrar</div>
							<div class="paragraph p2">+63 917 3107843 <br> info@msutawi-tawi.edu.ph</div>
						</div>
						<div>	
							<div class="h5 mb-5">Guidance</div>
							<div class="paragraph p2">+63 917 3107843 <br> info@msutawi-tawi.edu.ph</div>
	
						</div>
					</div>
					<div class="card">
						<div class="mb-5 ml-5">	
							<div class="paragraph p2">For other inquiries regarding biddings for projects and other business transactions please visit the link below</div>
						</div>
						
						<div class="mt-5 text-center">
							<a href="#" class="bg-msu-maroon text-white-pure py-[8.5px] px-[25.5px] rounded-[40px] paragraph p1">Project Biddings</a>
						</div>
					</div>

				</div>
				

				<div class="flex gap-8  mt-8 mb-8 justify-center">
					<div class="items-center mb-10">
						<img src="/images/social media/linkin.png" alt=""  class="ml-[8%]">
					</div>
					<div class="items-center mb-10">
						<img src="/images/social media/instagram.png" alt=""  class="ml-[8%]">
					</div>
					<div class="items-center mb-10">
						<img src="/images/social media/facebook.png" alt=""  class="ml-[8%]">
					</div>
					<div class="items-center mb-10">
						<img src="/images/social media/tweeter.png" alt=""  class="ml-[8%]">
					</div>
					<div class="items-center mb-10">
						<img src="/images/social media/youtube.png" alt=""  class="ml-[8%]">
					</div>

				</div>
				
				<div class="flex mt-5 justify-center">
					<div class="items-center">
						<div>
							<p class="paragraph p2 text-center text-msu-shallow-ocean">© 2023 Mindanao State University - Tawi-Tawi College of Technology and Oceanography</p>
							<p class="paragraph p2 text-center text-msu-shallow-ocean mt-3">All rights reserved.</p>
						</div>
					</div>

				</div>

			</div>
			
		</div>
	</main>
	
</Layout>
