---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar";
import FooterNav from "../components/FooterNav.astro";
import Footer from "../components/Footer.astro";
import '../styles/css/global.css';

const currentPath = Astro.url.pathname;
---

<Layout title="MSU | Tawi-Tawi College of Technology and Oceanography">
	<main>
		<Navbar path={currentPath} client:visible />

        <div class="bg-white-pure w-full xl:px-[12.5%] xs:px-[3.85%] py-[80px]">
            <h4 class="headings xl:h4 xs:h5 text-msu-maroon">KRA2</h4>
            <h5 class="headings xl:h5 xs:h6 text-msu-maroon mt-10">DEVELOPMENTAL GOALS</h5>
            <h5 class="headings xl:h5 xs:h6 text-msu-maroon mt-5">INSTITUTIONAL SUSTAINABILITY ASSESSMENT (ISA) FRAMEWORK OF CHED</h5>
            <h5 class="headings xl:h5 xs:h6 text-msu-maroon mt-5">KRA NO. 2</h5>
            <h5 class="headings xl:h5 xs:h6 text-msu-maroon mt-5 text-center">QUALITY OF TEACHING AND LEARNING</h5>
            <ul class="ml-10 mt-5 list-decimal">
                <li class="paragraph xl:p2 xs:p3">Provide the basic minimum academic needs of all colleges</li>
                <li class="paragraph xl:p2 xs:p3">Revitalize a challenging learning environment in the campus</li>
                <li class="paragraph xl:p2 xs:p3">Beef-up functional and modern laboratory and classroom facilities</li>
                <li class="paragraph xl:p2 xs:p3">Strengthen the competence of the faculty members</li>
                <li class="paragraph xl:p2 xs:p3">Assess the curricula of existing program offerings to align and subscribe to Outcome-Based Education</li>
                <li class="paragraph xl:p2 xs:p3">Accreditation of degree programs with the Accrediting Agency for Chartered Colleges and 7. Universities of the Philippines (AACUP)</li>
                <li class="paragraph xl:p2 xs:p3">Improve systems for access and use of learning resources</li>
                <li class="paragraph xl:p2 xs:p3">Offering of relevant and demand-driven degree programs</li>
                <li class="paragraph xl:p2 xs:p3">Sponsor regular colloquia, fora and seminar-workshops in the flagship programs of MSU TCTO</li>
                <li class="paragraph xl:p2 xs:p3">Support the Review Centers for Licensure Examinations</li>
            </ul>
        </div>
		
<!-- FooterNaV -->
        <FooterNav />
<!-- end FooterNaV -->

<!-- Footer -->
		<Footer />
<!-- end Footer -->

	</main>
	
</Layout>
