---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar";
import FooterNav from "../components/FooterNav.astro";
import Footer from "../components/Footer.astro";
import '../styles/css/global.css';

const currentPath = Astro.url.pathname;

import { getBidding } from '../api/api';

const bidding = await getBidding();
---

<Layout title="MSU | Tawi-Tawi College of Technology and Oceanography">
	<main>
		<Navbar path={currentPath} client:visible />

        <div class="bg-msu-deep-ocean w-full xl:px-[12.5%] xs:px-[3.85%] xl:pt-20 xl:pb-20 xs:pt-0 xs:pb-20">
            <h4 class="headings xl:h3 xs:h5 text-white-pure text-center">MIKROTIK</h4>
			<div class="flex justify-center mt-10">
                <img src="/images/mikrotik/mikrotik1.jpg" alt="" class="xl:max-w-[480px] xs:max-w-[480px] object-cover object-center" />
                <img src="/images/mikrotik/mikrotik2.jpg" alt="" class="xl:max-w-[480px] xs:max-w-[480px] object-cover object-center xl:block xs:hidden" />
                <img src="/images/mikrotik/mikrotik3.jpg" alt="" class="xl:max-w-[480px] xs:max-w-[480px] object-cover object-center xl:block xs:hidden" />
            </div>
            <div class="mt-10">
                <p class="paragraph xl:p2 xs:p3 text-white-pure">
                    ğ—œğ—œğ—–ğ—§ ğ—³ğ—®ğ—°ğ˜‚ğ—¹ğ˜ğ˜† ğ—ºğ—²ğ—ºğ—¯ğ—²ğ—¿ğ˜€ ğ—®ğ˜ğ˜ğ—²ğ—»ğ—± ğ—œğ—»ğ˜ğ—²ğ—»ğ˜€ğ—¶ğ˜ƒğ—² ğ— ğ—¶ğ—¸ğ—¿ğ—¼ğ˜ğ—¶ğ—¸ ğ—§ğ—¿ğ—®ğ—¶ğ—»ğ—¶ğ—»ğ—´, ğ—²ğ—®ğ—¿ğ—» ğ—°ğ—²ğ—¿ğ˜ğ—¶ğ—³ğ—¶ğ—°ğ—®ğ˜ğ—¶ğ—¼ğ—»ğ˜€ ğ—®ğ˜€ ğ— ğ—¶ğ—¸ğ—¿ğ—¼ğ˜ğ—¶ğ—¸ ğ—”ğ—°ğ—®ğ—±ğ—²ğ—ºğ˜† ğ—§ğ—¿ğ—®ğ—¶ğ—»ğ—²ğ—¿ğ˜€
                    <br />
                    <br />
                    MSU-TCTO recently sent four (4) faculty members from the Institute of Information and Communications Technology to attend an Intensive Six-day Mikrotik Training and Certification Program from March 7 to 12.
                    <br />
                    <br />
                    Held in Zamboanga City, the following faculty members attended the said training: Assoc. Prof. Charisa Llema-Abalie, Assoc. Prof. Nerico Mingoc, Mr. Al-kadra Antao and Ms. Irene Bakili 
                    <br />
                    <br />
                    The training was hosted by the Department of Information and Communications Technology - Region 9 and BASULTA, in partnership with Handlink Inc, and was led by Engr. Roy Lopez Pamitalan, a Mikrotik Certified Trainer and Mikrotik Certified Academy Trainer. Engr. Pamitalan is renowned for his extensive knowledge and expertise in MikroTik RouterOS.
                    <br />
                    <br />
                    The topic covered included: Mikrotik Certified Network Associate (MTCNA), Mikrotik Certified User Management Engineer (MTCUME), and Mikrotik Certified Routing Engineer (MTCRE). 
                    <br />
                    <br />
                    IICT officials also participated in the workshops on planning, implementing, adjusting, and debugging user management configurations in the Mikrotik RouterOS. They were also exposed to how to configure, manage, and troubleshoot a Mikrotik device for routing, bridging tunneling, and Virtual Private Network (VPN).
                    <br />
                    <br />
                    Following the hands-on training, the IICT faculty took and passed the examination and earned certifications as Mikrotik Academy Trainers. They also received certifications as a Mikrotik Certified Network Associate (MTCNA), Mikrotik Certified Routing Engineer (MTCRE), and Mikrotik Certified User Management Engineer (MTCUME).
                    <br />
                    <br />
                    The University expects the faculty to apply and share their insights on Mikrotik as certified Mikrotik Academy Trainers that will help develop routers and wireless ISP systems.
                    <br />
                    <br />
                    Contributor: Al-kadra Antao (faculty, IICT)
                    <br />
                    <br />
                    <br />
                    #ğ—¶ğ—Ÿğ—¼ğ˜ƒğ—²ğ— ğ—¦ğ—¨ğ—§ğ—–ğ—§ğ—¢
                    <br />
                    #ğ—¦ğ—ºğ—®ğ—¿ğ˜ğ—šğ—¿ğ—²ğ—²ğ—»ğ—¥ğ—²ğ˜€ğ—¶ğ—¹ğ—¶ğ—²ğ—»ğ˜
                </p>
            </div>
        </div>



<!-- FooterNaV -->
        <FooterNav />
<!-- end FooterNaV -->

<!-- Footer -->
		<Footer />
<!-- end Footer -->

	</main>
	
</Layout>
