---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar";
import FooterNav from "../components/FooterNav";
import Footer from "../components/Footer";
import '../styles/css/global.css';

const currentPath = Astro.url.pathname;
---

<Layout title="Welcome to Astro.">
	<div>
		<Navbar path={currentPath} client:visible />



        <div class='bg-black-pure h-[40px] xl:px-[12.5%] xs:px-[3.85%]'>
            <p class="paragraph p2 py-[10px] text-titanium"><a href="/index">Home</a>   / Search </p>
        </div>
<!-- search -->
        <div class="bg-black-pure w-full px-[12.5%]  flex-col pt-[80px] pb-[123px]">
            <div class="flex gap-[239px]">

                <div class="flex  w-[960px]">

                        <div class="flex flex-col gap-[60px]">
                            <div class="flex flex-col ">   
                                <div class="flex mb-[30px]">   
                                    <a href="/academic-calendar" class="flex  w-[960px] h-[100px] items-center bg-transparent border paragraph p1  py-[14px] px-[139px] text-white-pure rounded-[40px]">
                                        Sample title search of a document, article, or event...</a>


                                    </div>
                                    <div class="flex gap-[30px] mb-[10px]">  
                                        <p class="paragraph text-msu-crimson-ground p2 text-left">
                                            All
                                        </p> 
                                        <p class="paragraph text-titanium p2 text-left">
                                            Articles
                                        </p> 
                                        <p class="paragraph text-titanium p2 text-left">
                                            Events
                                        </p> 
                                        <p class="paragraph text-titanium p2 text-left">
                                            Gazette
                                        </p> 
                                        <p class="paragraph text-titanium p2 text-left">
                                            Reports
                                        </p> 
                                        <p class="paragraph text-titanium p2 text-left">
                                            Others
                                        </p> 

                                    </div>
                                    <div class="flex gap-[50px] ">  
                                        <p class="paragraph text-titanium p2 mb-[20px] text-left">
                                            3,691 results
                                        </p> 
                                        <p class="paragraph text-titanium p2 mb-[20px] text-left">
                                            Sort by date
                                        </p> 

                                    </div>

                            </div>

                            
                            <div class="flex flex-col gap-[40px]">  
                                <div class="flex flex-col gap-[10px]">
                                    <h5 class="headings text-white-pure h5 mb-[10px] text-left">
                                        Sample title search of a document, article, or event...
                                    </h5> 
                                    <p class="paragraph text-titanium p2 text-left">
                                        A very short snippet of the articles first few lines making it a little visible to the audi...
                                    </p>
                                    <div class="flex gap-[20px]">
                                        <p class="paragraph text-titanium p2 mb-[20px] text-left">
                                            3,691 results
                                        </p> 
                                        <p class="paragraph text-titanium p2 mb-[20px] text-left">
                                            Sort by date
                                        </p> 
                                    </div>
                                </div>
                                <div class="flex flex-col gap-[10px]">
                                    <h5 class="headings text-msu-maroon h5 mb-[10px] text-left">
                                        <u>Sample title search of a document, article, or event...</u>
                                    </h5> 
                                    <p class="paragraph text-msu-maroon p2 text-left">
                                        A very short snippet of the articles first few lines making it a little visible to the audi...
                                    </p>
                                    <div class="flex gap-[20px]">
                                        <p class="paragraph text-msu-maroon p2 mb-[20px] text-left">
                                            3,691 results
                                        </p> 
                                        <p class="paragraph text-msu-maroon p2 mb-[20px] text-left">
                                            Sort by date
                                        </p> 
                                    </div>
                                </div>
                                <div class="flex flex-col gap-[10px]">
                                    <h5 class="headings text-white-pure h5 mb-[10px] text-left">
                                        Sample title search of a document, article, or event...
                                    </h5> 
                                    <p class="paragraph text-titanium p2 text-left">
                                        A very short snippet of the articles first few lines making it a little visible to the audi...
                                    </p>
                                    <div class="flex gap-[20px]">
                                        <p class="paragraph text-titanium p2 mb-[20px] text-left">
                                            3,691 results
                                        </p> 
                                        <p class="paragraph text-titanium p2 mb-[20px] text-left">
                                            Sort by date
                                        </p> 
                                    </div>
                                </div>
                                <div class="flex flex-col gap-[10px]">
                                    <h5 class="headings text-white-pure h5 mb-[10px] text-left">
                                        Sample title search of a document, article, or event...
                                    </h5> 
                                    <p class="paragraph text-titanium p2 text-left">
                                        A very short snippet of the articles first few lines making it a little visible to the audi...
                                    </p>
                                    <div class="flex gap-[20px]">
                                        <p class="paragraph text-titanium p2 mb-[20px] text-left">
                                            3,691 results
                                        </p> 
                                        <p class="paragraph text-titanium p2 mb-[20px] text-left">
                                            Sort by date
                                        </p> 
                                    </div>
                                </div>
                                <div class="flex flex-col gap-[10px]">
                                    <h5 class="headings text-white-pure h5 mb-[10px] text-left">
                                        Sample title search of a document, article, or event...
                                    </h5> 
                                    <p class="paragraph text-titanium p2 text-left">
                                        A very short snippet of the articles first few lines making it a little visible to the audi...
                                    </p>
                                    <div class="flex gap-[20px]">
                                        <p class="paragraph text-titanium p2 mb-[20px] text-left">
                                            3,691 results
                                        </p> 
                                        <p class="paragraph text-titanium p2 mb-[20px] text-left">
                                            Sort by date
                                        </p> 
                                    </div>
                                </div>

                            </div>
                            <div class="flex">
                                <p class="paragraph text-titanium p2 mr-[30px] text-left">
                                    Page
                                </p> 
                                <p class="paragraph text-msu-crimson-ground p2 mr-[20px] text-left">
                                    1
                                </p> 
                                <p class="paragraph text-titanium p2 mr-[20px] text-left">
                                    2
                                </p> 
                                <p class="paragraph text-titanium p2 mr-[20px] text-left">
                                    3
                                </p> 
                                <p class="paragraph text-titanium p2 mr-[20px] text-left">
                                    4
                                </p> 
                                <p class="paragraph text-titanium p2 mr-[20px] text-left">
                                    5
                                </p> 
                                <p class="paragraph text-titanium p2 mr-[20px] text-left">
                                    6
                                </p> 
                                <p class="paragraph text-titanium p2 mr-[20px] text-left">
                                    7
                                </p> 
                                <p class="paragraph text-titanium p2 mr-[20px] text-left">
                                    8
                                </p>
                            </div>
                            
                        </div>

                </div>

                <div class="flex flex-col">
                    <p class="paragraph text-titanium p1  mb-[30px] text-left">
                        Related searches
                    </p>
                    <p class="paragraph text-titanium p1 mb-[20px] text-left">
                        An article title
                    </p>
                    <p class="paragraph text-titanium p1 mb-[20px] text-left">
                        Year 2020 gazette
                    </p>
                    <p class="paragraph text-titanium p1 mb-[20px] text-left">
                        Photo gallery of the new build...
                    </p>
                    <p class="paragraph text-titanium p1 mb-[20px] text-left">
                        History of the school
                    </p>
                    <p class="paragraph text-titanium p1 mb-[20px] text-left">
                        Other related searches
                    </p>
                </div>
            </div>
        </div>
<!-- end search --> 


<!-- FooterNaV -->
        <FooterNav path={currentPath} client:visible />
<!-- end FooterNaV -->
<!-- Footer -->
		<Footer path={currentPath} client:visible />
<!-- end Footer -->
                    
    
        </div>



    </main>
	
</Layout>