<div class="bg-msu-deep-ocean text-white-pure">

	<div class="flex flex-col xl:mx-[240px] xs:mx-[20px] xs:mt-[58px] xl:hidden xs:block ">
		<h3 class="headings xs:h6 text-center">Other Stories</h3>
	</div>

	<div class="mb-[60px] xl:mt-[80px] xs:mt-[40px]">
		<div class="flex xl:flex-row xs:flex-col xl:px-[240px] xs:px-[15px] xl:mb-[140px] xs:mb-[58px] xl:gap-[40px] xs:gap-[10px] ">
			<div class="flex mb-[40px]">
				
				<img src="/images/article-img-1.png" alt="" class="xl:h-[200px] xs:h-[160px]"></img>
				<div class="ml-5">
					<h5 class="headings xl:h5 xs:h6 max-w-[220px]">Article Long Title </h5>
					<p class="paragraph xl:p2 xs:p3 max-w-[220px] text-titanium mt-[15px] max-h-[142px] overflow-hidden">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
				</div>
			</div>
			<div class="flex mb-[40px]">
				
				<img src="/images/article-img-1.png" alt="" class="xl:h-[200px] xs:h-[160px]"></img>
				<div class="ml-5">
					<h5 class="headings xl:h5 xs:h6 max-w-[220px]">Article Long Title </h5>
					<p class="paragraph xl:p2 xs:p3 max-w-[220px] text-titanium mt-[15px] max-h-[142px] overflow-hidden">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
				</div>
			</div>
			<div class="flex mb-[40px]">
				
				<img src="/images/article-img-1.png" alt="" class="xl:h-[200px] xs:h-[160px]"></img>
				<div class="ml-5">
					<h5 class="headings xl:h5 xs:h6 max-w-[220px]">Article Long Title </h5>
					<p class="paragraph xl:p2 xs:p3 max-w-[220px] text-titanium mt-[15px] max-h-[142px] overflow-hidden">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
				</div>
			</div>
			<div class="flex mb-[40px]">
				<img src="/images/article-img-1.png" alt="" class="xl:h-[200px] xs:h-[160px]"></img>
				<div class="ml-5">
					<h5 class="headings xl:h5 xs:h6 max-w-[220px]">Article Long Title </h5>
					<p class="paragraph xl:p2 xs:p3 max-w-[220px] text-titanium mt-[15px] max-h-[142px] overflow-hidden">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
				</div>
			</div>
			<div class="flex mb-[40px]">
				<img src="/images/article-img-1.png" alt="" class="xl:h-[200px] xs:h-[160px]"></img>
				<div class="ml-5">
					<h5 class="headings xl:h5 xs:h6 max-w-[220px]">Article Long Title </h5>
					<p class="paragraph xl:p2 xs:p3 max-w-[220px] text-titanium mt-[15px] max-h-[142px] overflow-hidden">Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien. Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.</p>
				</div>
			</div>
		</div>
	</div>
</div>