---
import Layout from '../../layouts/Layout.astro';
import Navbar from "../../components/Navbar";
import MainVideo from "../../components/MainVideo.astro";
import FooterNav from "../../components/FooterNav.astro";
import Footer from "../../components/Footer.astro";
import '../../styles/css/global.css';


const currentPath = Astro.url.pathname;

import { urlForImage } from '../../api/api';

import { getYear } from '../../js/date';
import { getWordMonth } from '../../js/date';
import { get3LettersMonth } from '../../js/date';
import { getDay } from '../../js/date';

import { getLatestAnnualReport } from '../../api/api';
import { get1_4LatestAnnualReport } from '../../api/api';
import { get1_6LatestAnnualReport } from '../../api/api';

const latestAnnualReport = await getLatestAnnualReport();
const one_fourLatestAnnualReport = await get1_4LatestAnnualReport();
const one_sixLatestAnnualReport = await get1_6LatestAnnualReport();
---

<Layout title="MSU | Tawi-Tawi College of Technology and Oceanography">
	<main>
		<Navbar path={currentPath} client:visible />
        <div class='bg-gradient-ocean h-[100px] relative bottom-[100px] rotate-180'></div>
        <div class="absolute top-[180px] w-full">
            <div class=' h-[40px] xl:px-[12.5%] xs:px-[3.85%]'>
                <p class="paragraph p2 py-[10px] text-titanium xl:block xs:hidden"><a href="/home">Home</a> / <a href="/publications">Publications</a>  / Annual Report </p>
            </div>
            <div class="xl:pt-[80px]">
                <h3 class="headings xl:h3 xs:h4 text-white-pure text-center xs:mb-[45px]">Annual Report</h3>
    
                <!-- <div class="flex justify-center mt-[80px]"> -->
                <div class="flex xl:flex-row xs:flex-col xs:justify-center xl:mt-[80px] ">
                    
                    <div class="flex ">
                        <a href={ latestAnnualReport.file.asset.url } target="_blank"><img src={ urlForImage(latestAnnualReport.mainImage.asset.url).url() } class="xl:w-[424px] xl:px-[0%] xs:px-[101px] xl:mr-[68px] xs:mb-[45px] " alt=""></a>
                    </div>
                    <div class="xl:grid xs:hidden xl:grid-cols-2">
                        {
                            one_fourLatestAnnualReport.map((annualReport: {
                                publishedAt: unknown;
                                mainImage: {
                                    asset: {
                                        url: string;
                                    };
                                };
                                file: {
                                    asset: {
                                        url: string;
                                    }
                                };
                                body: [
                                    {
                                        children: [
                                            {
                                                text: unknown;
                                            }
                                        ]
                                    }
                                ];
                            }) => (
                                <a href={ annualReport.file.asset.url } target="_blank"><img src={ annualReport.mainImage.asset.url } class="w-[200px] " alt="" /></a>
                            ))
                        }
                    </div>
                    <div class="flex flex-col xl:mt-[20px] xl:text-start xs:text-start ">
                        <div class="flex  xl:max-w-[480px] xl:px-[47px] xs:px-[124px] xs:justify-center  ">
                            <h4 class="headings xl:h4 xs:h5 text-write-pure">{ getYear(latestAnnualReport.publishedAt) }</h4>
                        
                        </div>
                        <div class="flex xl:flex-col xs:flex-col xl:max-w-[480px] xs:px-[47px]">
                            <p class="paragraph p2 text-white-pure mt-[40px] xl:max-h-[400px] xs:max-h-[62px] overflow-hidden">
                                { latestAnnualReport.body[0].children[0].text }
                            </p>
                        </div>
                    </div>
                </div>
                
                    
                <!-- <div class="flex xs:justify-center xs:my-[32px] xs:mx-[74px] xl:hidden xs:block  ">
					<a href="#" class="bg-gradient-sky-space text-white-pure  xs:py-5  xs:px-[61.5px] rounded-[40px] paragraph xl:p1 xs:p2 xl:hidden xs:block">Read Now</a>
				</div> -->
                <div class="flex gap-[30px] justify-center mt-[40px] xs:mb-[37px]">
                    <!-- <a href="#" class=" bg-white xl:py-[10px] xl:px-[10px] xl:hidden xs:block xs:py-[8px] xs:px-[8px] rounded-[40px] border-white border-2"></a>
                    <a href="#" class="border-transparent xl:py-[10px] xl:hidden xs:block xl:px-[10px] xs:py-[8px] xs:px-[8px] rounded-[40px] border-white border-2"></a>
                    <a href="#" class="border-transparent xl:py-[10px] xl:hidden xs:block xl:px-[10px] xs:py-[8px] xs:px-[8px] rounded-[40px] border-white border-2"></a> -->
                </div>
            </div>
            <div class="flex flex-col justify-center bg-msu-maroon xl:px-[12.5%] xs:px-[31px] ">
    
                <!-- <div class="flex xs:flex-col xs:items-center xs:mt-[48px]  xl:mt-[0px] ">
                    <div class="flex">
                        <p class="paragraph xs:p2 text-white-pure xl:hidden xs:block">Previous Releases</p>
                    </div>
                    <div class="flex">
                        <select class="flex xs:flex-col xs:msu-drop-white-shadow  xs:w-[181px] text-white-pure xs:px-[19px] xs:py-3 rounded-[40px] xl:hidden xs:block">
                            <option class="paragraph p2 text-black-pure">2023</option>
                            <option class="paragraph p2 text-black-pure">2022</option>
                            <option class="paragraph p2 text-black-pure">2021</option>
                            <option class="paragraph p2 text-black-pure">2020</option>
                            <option class="paragraph p2 text-black-pure">2019</option>
                            <option class="paragraph p2 text-black-pure">2018</option>
                        </select>
                    </div>
                </div> -->
                <div class="flex justify-center xl:py-[71px] xs:pt-[48px] ">
                    <div class="flex xl:flex-col">
                        <p class="paragraph p1 text-white-pure  xl:ml-[12px] xl:block xs:hidden mb-10">Previous Releases</p>
                        
                        <div class="grid xl:grid-cols-4 xs:grid-cols-1">
                            {
                                one_sixLatestAnnualReport.map((annualReport: {
                                    title: unknown;
                                    publishedAt: unknown;
                                    mainImage: {
                                        asset: {
                                            url: string;
                                        };
                                    };
                                    file: {
                                        asset: {
                                            url: string;
                                        }
                                    };
                                    body: [
                                        {
                                            children: [
                                                {
                                                    text: unknown;
                                                }
                                            ]
                                        }
                                    ];
                                }, index) => {
                                    if (index < 4) {
                                        return <div id="2022" class="flex xl:flex-col xl:gap-[2px] xs:gap-[30px] ">
                                            <div class="flex flex-col">
                                                <p id="gazetteDate" class="paragraph p2 text-white-pure xl:ml-[12px] xl:block xs:hidden">{ getYear(annualReport.publishedAt) }</p>
                                                <a href={ annualReport.file.asset.url } target="_blank"><img src={ annualReport.mainImage.asset.url } class="xl:max-w-[203px] xl:max-h-[286px] xs:max-w-[110px] xs:max-h-[155px]" alt="" /></a>
                                            </div> 
                                            <div class="flex xl:flex-col xs:flex-col xl:py-[0px] xs:py-[10px] xs:gap-[10px]  xl:gap-[0px] ">
                                                
                                                <div class="flex xl:flex-col xs:flex-row xs:gap-[37px]">
                                                    <h6 id="gazetteTitle" class="headings h6 text-white-pure xl:ml-[12px] xl:hidden xs:block">{ annualReport.title }</h6>
                                                </div>  
                                                <div class="flex xl:flex-col xs:flex-row xs:gap-[37px]">
                                            
                                                    <p id="gazetteBody" class="paragraph p2 text-silver xl:ml-[12px] xl:w-[205px] xl:max-h-[160px] xs:max-h-[80px] overflow-hidden ">
                                                        { annualReport.body[0].children[0].text }
                                                    </p>
                                                </div>
                                                <div class="flex xl:flex-col xs:flex-row xs:gap-[37px]">
                                                    <p id="gazetteDate" class="paragraph p2 text-silver  xl:hidden xs:block">{ getYear(annualReport.publishedAt) }</p>
                                                </div>
                                            </div> 
                                        </div>
                                    }else {
                                        return <div id="2022" class="flex xl:flex-col xl:gap-[2px] xs:gap-[30px] ">
                                            <div class="flex flex-col">
                                                <p id="gazetteDate" class="paragraph p2 text-white-pure xl:ml-[12px] xl:block xs:hidden">{ getYear(annualReport.publishedAt) }</p>
                                                <a href={ annualReport.file.asset.url } target="_blank"><img src={ annualReport.mainImage.asset.url } class="xl:max-w-[203px] xl:max-h-[286px] xs:max-w-[110px] xs:max-h-[155px]" alt="" /></a>
                                            </div> 
                                            <div class="flex xl:flex-col xs:flex-col xl:py-[0px] xs:py-[10px] xs:gap-[10px]  xl:gap-[0px] ">
                                                
                                                <div class="flex xl:flex-col xs:flex-row xs:gap-[37px]">
                                                    <h6 id="gazetteTitle" class="headings h6 text-white-pure xl:ml-[12px] xl:hidden xs:block">{ annualReport.title }</h6>
                                                </div>  
                                                <div class="flex xl:flex-col xs:flex-row xs:gap-[37px]">
                                            
                                                    <p id="gazetteBody" class="paragraph p2 text-silver xl:ml-[12px] xl:w-[205px] xl:max-h-[160px] xs:max-h-[80px] overflow-hidden ">
                                                        { annualReport.body[0].children[0].text }
                                                    </p>
                                                </div>
                                                <div class="flex xl:flex-col xs:flex-row xs:gap-[37px]">
                                                    <p id="gazetteDate" class="paragraph p2 text-silver  xl:hidden xs:block">{ getYear(annualReport.publishedAt) }</p>
                                                </div>
                                            </div> 
                                        </div>
                                    }
                                })
                            }

                            <!-- <div id="2022" class="flex xl:flex-col xl:gap-[2px] xs:gap-[30px] ">
                                <div class="flex flex-col">
                                    <p id="gazetteDate" class="paragraph p2 text-white-pure xl:ml-[12px] xl:block xs:hidden">2022</p>
                                    <img src="/images/gazette1.png" class="xl:w-[220px] xs:w-[1000px]" alt="">
                                </div> 
                                <div class="flex xl:flex-col xs:flex-col xl:py-[0px] xs:py-[10px] xs:gap-[10px]  xl:gap-[0px] ">
                                    
                                    <div class="flex xl:flex-col xs:flex-row xs:gap-[37px]">
                                        <h6 id="gazetteTitle" class="headings h6 text-white-pure xl:ml-[12px] xl:hidden xs:block">Sample title search of a document, article</h6>
                                    </div>  
                                    <div class="flex xl:flex-col xs:flex-row xs:gap-[37px]">
                                   
                                        <p id="gazetteBody" class="paragraph p2 text-silver xl:ml-[12px] xl:w-[205px] ">
                                            Lorem ipsum dolor sit amet consectetur. Consequat neque interdum ut tristique habitant sapien.
                                            Facilisis eros mauris imperdiet nibh adipiscing sit sed sed. Vestibulum mattis netus interdum vitae pellentesque.
                                        </p>
                                     </div> 
                                  
                                    <div class="flex xl:flex-col xs:flex-row xs:gap-[37px]">
                                        <p id="gazetteDate" class="paragraph p2 text-silver  xl:hidden xs:block">Article</p>
                                        <p id="gazetteDate" class="paragraph p2 text-silver  xl:hidden xs:block">2021 Feb 01</p>
                                    </div>
                                </div> 
                            </div> -->
                        </div>
                        

                    </div>
                </div>
                
                <div class="flex xs:flex-col xs:items-center xs:my-[73px] xs:gap-[9px] xl:mt-[0px]">
                    <!-- <div class="flex">
                        <p class="paragraph xs:p2 text-white-pure   xl:hidden xs:block">Can’t see what you’re looking for?</p>
                    </div> 
                    <div class="flex">
                        <a href="#" class="bg-gradient-sky-space text-white-pure  xs:py-5  xs:px-[74px] rounded-[40px] paragraph xl:p1 xs:p2 xl:hidden xs:block">Search Article</a>
                    </div>  -->
                </div>
                
            </div>


<!-- fold Main video -->

        <MainVideo />
<!-- end Main video -->


<!-- FooterNaV -->
        <FooterNav />
<!-- end FooterNaV -->

<!-- Footer -->
		<Footer />
<!-- end Footer -->
                    
        </div>
        



    </main>
	
</Layout>