<div class="xl:home-fold-06-gb-img xs:bg-gradient flex xl:flex-row xs:flex-col justify-center xl:px-[12.5%] xs:px-0">
    <img src="/images/fold-06 chancy.png" alt="" class="mt-[325px] h-[1258px] xl:block xs:hidden"></img>
    <div class="xl:ml-[76px]">
        <div class="flex flex-col justify-center items-center xl:bg-none xs:home-fold-06-gb-img xl:w-[720px] xs:w-full relative">
            <h3 class="headings xl:h3 xs:h4 text-msu-deep-ocean xl:pt-[120px] xs:pt-[80px] xl:max-w-full xs:max-w-[350px]">We help you take your first step towards <span class="bg-msu-deep-ocean text-msu-gold px-[10px] pt-[10px]">SUCCESS!</span></h3>
            
            <img src="/images/fold-06 chancy3.png" alt="" class="mt-[84px] h-[498px] xl:hidden xs:block" ></img>
            <div class="bg-gradient-white absolute top-[769px] h-20 w-full rotate-180 xl:hidden xs:block"></div>
        </div>
        <div class="xl:bg-transparent xs:bg-white-pure xl:w-[720px] xs:w-full xl:px-0 xs:px-[3.85%]">
            <h4 class="headings xl:h4 xs:h5 text-msu-maroon xl:mt-[75px] xs:pt-5 text-center"> A Message from the Chancellor </h4>
            <p class="paragraph xl:p1 xs:p2 text-black-pure mt-[30px]">
                Dear Dolphins, 
            </p>
            <p class="paragraph xl:p1 xs:p2 text-black-pure mt-[30px]">
                We are thrilled to announce a significant milestone in our journey towards redefining education in the digital age. Today, we officially launch our brand-new website, designed to enhance your learning experience, foster digital transformation, and connect us like never before. In an era where education knows no boundaries, our website serves as a gateway to connectivity, opening a world of knowledge and immense opportunities.     
            </p>
            <p class="paragraph xl:p1 xs:p2 text-black-pure mt-[30px]">Crafted from collaborative efforts of our stakeholders, this website represents a pivotal step towards a future where knowledge sharing, research collaboration, faculty and student partnerships, and international linkages are more prominent than ever before. 
            </p>
            <p class="paragraph xl:p1 xs:p2 text-black-pure mt-[30px]">
                As we continue our mission of Creating Opportunities and Transforming Lives, we are eternally grateful for your unwavering support and enthusiasm as we adapt to digital transformation and take our first steps towards global connectivity, strengthening educational innovation for our faculty and staff, and introducing new ways of remote learning for our students. 
            </p>
            <p class="paragraph xl:p1 xs:p2 text-black-pure mt-[30px]">
                May we continue our efforts to bring Tawi-Tawi to the World to reconnect our Global Dolphins, and strengthen international linkages. 
            </p>
            <h5 class="headings xl:h5 xs:h6 text-graphite mt-[30px]"> Chancellor Mary Joyce Z. Guinto-Sali </h5>
        </div>
        <div class="flex xl:flex-row xs:flex-col xl:gap-[40px] xs:gap-[10px] text-center xl:bg-transparent xs:bg-white-pure pt-[45px] xl:px-0 xs:px-[3.85%] pb-[40px] justify-center">
            <a href="#chancellor_contact" class="paragraph xl:p1 xs:p2 bg-msu-maroon text-white-pure xl:py-[12.5px] xs:py-[20.5px] xl:px-[50px] rounded-[40px]">Contact Us</a>
            <a href="/offices#administrative" class="paragraph xl:p1 xs:p2 text-msu-maroon xl:py-[12.5px] xs:py-[20.5px] px-[30.5px] xl:px-[50px] rounded-[40px] border border-msu-maroon">Administrative Offices</a>

        </div>
    </div>
</div>