		<div class="xl:bg-msu-deep-ocean xs:bg-black-pure w-full xl:px-[12.5%] flex  flex-col pt-20">
            <div class="flex flex-col items-center">
                <h3 class="headings text-white-pure xl:h3 xs:h5 xl:px-[12.5%] xl:pb-[20px] xs:pb-[36px]">Academic Calendar</h3>
                <p class="paragraph text-silver xl:p1 xs:p2 xl:pb-[80px] xs:pb[45px] xs:mx-[60px]  xl:w-[960px]">
                    Lorem ipsum dolor sit amet consectetur. Viverra feugiat sollicitudin sit lacus sagittis cursus at sodales nunc. Hendrerit lectus nibh cras faucibus maecenas. Aliquam viverra enim massa cras. Viverra turpis senectus viverra a eu turpis quis. Varius vestibulum urna in rhoncus laoreet.
                </p>

                
            </div>
			
			<div class="item-center mt-[27px] pb-[79px]">
				<div class="item-center">
					
					{/* desktop view */}
                	<h4 class="headings text-center text-white-pure xl:h4 xs:h5 xl:px-[12.5%] xl:pb-[40px] xs:pb-[22px]">1st Semester</h4>
					<div class="grid grid-col-4 justify-center xl:block xs:hidden">
						<div class="flex">
							<div class="bg-gradient-blue-horizon p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">Jan</p>
										<h3 class="headings h3">0</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
							<div class="bg-gradient-blue-horizon p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">Jan</p>
										<h3 class="headings h3">14</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
							<div class="bg-gradient-blue-horizon p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">Jan</p>
										<h3 class="headings h3">14</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
							<div class="bg-gradient-blue-horizon p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">Jan</p>
										<h3 class="headings h3">14</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
						</div>
						<div class="flex">
							<div class="bg-gradient-blue-horizon p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">Jan</p>
										<h3 class="headings h3">14</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
							<div class="bg-gradient-maroon p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">Apr</p>
										<h3 class="headings h3">01</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
							<div class="bg-gradient-blue-horizon p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">Jan</p>
										<h3 class="headings h3">14</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
							<div class="bg-gradient-blue-horizon p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">Jan</p>
										<h3 class="headings h3">14</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
						</div>
						<div class="flex">
							
							<div class="bg-gradient-blue-horizon p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">Jan</p>
										<h3 class="headings h3">14</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
							<div class="bg-gradient-blue-horizon p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">Jan</p>
										<h3 class="headings h3">14</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
							<div class="bg-gradient-blue-horizon p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">Jan</p>
										<h3 class="headings h3">14</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
							<div class="bg-gradient-blue-horizon p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">Jan</p>
										<h3 class="headings h3">14</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
						</div>
						<div class="flex">

							<div class="bg-gradient-blue-horizon p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">Jan</p>
										<h3 class="headings h3">14</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
								
							<div class="bg-gradient-blue-horizon p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">NOV</p>
										<h3 class="headings h3">12</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
							<div class="bg-gradient-blue-horizon p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">DEC</p>
										<h3 class="headings h3">15</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
							<div class="bg-gradient-maroon p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">DEC</p>
										<h3 class="headings h3">25</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">Event Title</p>
										<p class="paragraph p2 text-titanium mt-[5px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
							
							
						</div>
						
					</div>
					{/* mobile view */}
					<div class="grid grid-col-4 xl:gap-[0] xs:gap-[230px] xs:mx-[16px] xl:hidden xs:block ">
						<div class="flex xs:gap-[5px]">
							<div class="bg-gradient-blue-horizon p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">NOV</p>
										<h3 class="headings h3">12</h3>
									</div>
									<div
										<p class="paragraph p2 text-titanium mt-[20px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>	
							<div class="bg-gradient-blue-horizon p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">DEC</p>
										<h3 class="headings h3">15</h3>
									</div>
									<div>
										<p class="paragraph p2 text-titanium mt-[20px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
						</div>	
						<div class="flex xs:gap-[5px]">
							<div class="bg-gradient-maroon p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">DEC</p>
										<h3 class="headings h3">15</h3>
									</div>
									<div>
										<p class="paragraph p2 text-titanium mt-[20px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
							<div class="bg-gradient-blue-horizon p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">NOV</p>
										<h3 class="headings h3">12</h3>
									</div>
									<div>
										<p class="paragraph p2 text-titanium mt-[20px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
						</div>
						<div class="flex xs:gap-[5px]">
							<div class="bg-gradient-blue-horizon p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">DEC</p>
										<h3 class="headings h3">15</h3>
									</div>
									<div>
										<p class="paragraph p2 text-titanium mt-[20px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
							<div class="bg-gradient-blue-horizon p-5">
								
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">DEC</p>
										<h3 class="headings h3">25</h3>
									</div>
									<div>
										<p class="paragraph p2 text-titanium mt-[20px]">Lorem ipsum dolor sit amet consectetur. Faucibus enim nunc integer libero</p>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>