---
import { get3LettersMonth } from '../js/date';
import { getDay } from '../js/date';

import { get16FirstSemesterUpcomingEvents } from '../api/api';
import { get6FirstSemesterUpcomingEvents } from '../api/api';

const sixteenFirstSemesterUpcomingEvents = await get16FirstSemesterUpcomingEvents();
const sixFirstSemesterUpcomingEvents = await get6FirstSemesterUpcomingEvents();
---

<div class="xl:bg-msu-deep-ocean xs:bg-black-pure w-full xl:px-[12.5%] flex  flex-col pt-20">
	<div class="flex flex-col items-center">
		<h3 class="headings text-white-pure xl:h3 xs:h5 xl:px-[12.5%] xl:pb-[20px] xs:pb-[36px]">Academic Calendar</h3>
		<p class="paragraph text-silver xl:p1 xs:p2 xl:pb-[80px] xs:pb[45px] xs:mx-[60px]  xl:w-[960px]">
			Lorem ipsum dolor sit amet consectetur. Viverra feugiat sollicitudin sit lacus sagittis cursus at sodales nunc. Hendrerit lectus nibh cras faucibus maecenas. Aliquam viverra enim massa cras. Viverra turpis senectus viverra a eu turpis quis. Varius vestibulum urna in rhoncus laoreet.
		</p>

		
	</div>
	
	<div class="item-center mt-[27px] pb-[79px]">
		<div class="item-center">
			
			{/* desktop view */}
			<h4 class="headings text-center text-white-pure xl:h4 xs:h5 xl:px-[12.5%] xl:pb-[40px] xs:pb-[22px]">1st Semester</h4>
			<div class="xl:grid xl:grid-cols-4 justify-center xs:hidden">
				{
					sixteenFirstSemesterUpcomingEvents.map((calendar: {
						title: unknown;
						date: unknown;
						body: [
							{
								children: [
									{
										text: unknown;
									}
								]
							}
						];
						semester: {
							semester: unknown;
						};
						holiday: {
							holiday: unknown;
						};
					}) => {
						if (calendar.holiday.holiday === 'Academic Holiday') {
							return <div class="bg-gradient-blue-horizon p-5">
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">{ get3LettersMonth(calendar.date) }</p>
										<h3 class="headings h3">{ getDay(calendar.date) }</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">{ calendar.title }</p>
										<p class="paragraph p2 text-titanium mt-[5px] max-h-[60px] overflow-hidden">
											{
												calendar.body[0].children[0].text
											}
										</p>
									</div>
								</div>
							</div>
						}else if (calendar.holiday.holiday === 'National Holiday') {
							return <div class="bg-gradient-maroon p-5">
								<div class="gap-2 flex">
									<div>
										<p class="paragraph p1 text-white-pure">{ get3LettersMonth(calendar.date) }</p>
										<h3 class="headings h3">{ getDay(calendar.date) }</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">{ calendar.title }</p>
										<p class="paragraph p2 text-titanium mt-[5px] max-h-[60px] overflow-hidden">
											{
												calendar.body[0].children[0].text
											}
										</p>
									</div>
								</div>
							</div>
						}
					})
				}
			</div>
			{/* mobile view */}
			<div class="xl:hidden xs:grid xs:grid-cols-2">
				{
					sixFirstSemesterUpcomingEvents.map((calendar: {
						title: unknown;
						date: unknown;
						body: [
							{
								children: [
									{
										text: unknown;
									}
								]
							}
						];
						semester: {
							semester: unknown;
						};
						holiday: {
							holiday: unknown;
						};
					}) => {
						if (calendar.holiday.holiday === 'Academic Holiday') {
							return <div class="bg-gradient-blue-horizon p-5">
								<div class="gap-5 flex">
									<div>
										<p class="paragraph p1 text-white-pure">{ get3LettersMonth(calendar.date) }</p>
										<h3 class="headings h3">{ getDay(calendar.date) }</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">{ calendar.title }</p>
										<p class="paragraph p2 text-titanium mt-[5px] max-h-[60px] overflow-hidden">
											{
												calendar.body[0].children[0].text
											}	
										</p>
									</div>
								</div>
							</div>
						}else if (calendar.holiday.holiday === 'National Holiday') {
							return <div class="bg-gradient-maroon p-5">
								<div class="gap-5 flex">
									<div>
										<p class="paragraph p1 text-white-pure">{ get3LettersMonth(calendar.date) }</p>
										<h3 class="headings h3">{ getDay(calendar.date) }</h3>
									</div>
									<div>
										<p class="paragraph p1 text-titanium mt-[5px]">{ calendar.title }</p>
										<p class="paragraph p2 text-titanium mt-[5px] max-h-[60px] overflow-hidden">
											{
												calendar.body[0].children[0].text
											}	
										</p>
									</div>
								</div>
							</div>
						}
					})
				}
			</div>
		</div>
	</div>

</div>