---
import { urlForImage } from '../api/api';

import { get3LatestArticle } from '../api/api';
const threeLatestArticles = await get3LatestArticle();
---
<script src="https://insights.elishatelecom.com/aichat/public/snippet_assets/js/include-chatbot.min.js"></script>
    <div include-html="https://insights.elishatelecom.com/aichat/embedded-chatbot?key=guXJzVN2UnYvtbBf70C3GKEpDF5wZ9ad" id="chatbot"></div>