---
import { urlForImage } from '../api/api';

import { get3LatestArticle } from '../api/api';
const threeLatestArticles = await get3LatestArticle();
---





<div class="bg-msu-deep-ocean text-white-pure">
	<div class="mb-[60px] xl:mt-[80px] xs:mt-[40px]">
		<div class="flex xl:flex-row xs:flex-col justify-center xl:px-[240px] xs:px-[15px] xl:mb-[140px] xs:mb-[58px] xl:gap-[40px] xs:gap-[10px] ">
			{
				threeLatestArticles.map((article: {
					title: unknown; 
					body: [
						{
							children: [
								{
									text: unknown;
								}
							]
						}
					];
					mainImage: {
						asset: {
							url: string
						};
					};
					slug: {
						current: unknown;
					};
				}) => (
					<div class="flex mb-[40px]">
						<img src={ urlForImage(article.mainImage.asset.url).url() } alt="" class="xl:h-[200px] xl:w-[200px] xs:h-[180px] xs:w-[180px] object-cover object-center" />
						<div class="ml-5">

							<a href={`/${article.slug.current}`}><h5 class=" xl:h5 xs:h6 max-w-[155px] xl:max-h-[48px] xs:max-h-[29px] overflow-hidden whitespace-normal text-ellipsis" style="display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">{ article.title }</h5></a>
							<p class="paragraph xl:p2 xs:p3 max-w-[155px] text-titanium mt-[15px] max-h-[142px] overflow-hidden whitespace-normal text-ellipsis" style="display: -webkit-box; -webkit-line-clamp: 7; -webkit-box-orient: vertical;">
								{
									article.body[0].children[0].text
								}
							</p>
						</div>
          </div>
				))
			}
		</div>
		
		<img src="/images/rectangle.png" alt="" class="max-w-full h-[20px] absolute xs:hidden 3xl:block"></img>
		<div class="flex xl:flex-row gap-[25px] xs:flex-col justify-center xl:items-stretch xs:items-center xl:mx-[12.5%] xs:mx-[3.85%]">
			
			<div class="flex xl:mt-0 xs:mt-10 xl:ml-[70px] xs:ml-0 xl:gap-[25px] ">
				<ul class="xl:min-w-[170px]">
					<li><h5 class="headings h5 w-200 mb-2">University </h5></li>
					<li><a href="../../about/campus" class="paragraph p2 text-titanium mb-1">History </a></li>
					<li><a href="../../about/mission-vision" class="paragraph p2 text-titanium mb-1">Mission / Vision </a></li>
					<li><a href="../../about/university-hymn" class="paragraph p2 text-titanium mb-1">University Hymn </a></li>
					<li><a href="../../articles/articles" class="paragraph p2 text-titanium mb-1">Articles </a></li>
					<li><a href="../../articles/gazette" class="paragraph p2 text-titanium mb-1">Gazette </a></li>
					<li><a href="/academic-calendar" class="paragraph p2 text-titanium mb-1">Events </a></li>
					<li><a href="../../publications/annual-reports" class="paragraph p2 text-titanium mb-1">Annual Report </a></li>
				</ul>
				<ul class="xl:ml-[70px] xs:ml-[52px] xl:min-w-[170px]">
					<li><h5 class="headings h5 w-200 mb-2">Admissions </h5></li>	
					<!-- <li><a href="#" class="paragraph p2 text-titanium mb-1">MSU SASE </a></li>	 -->
					<li><a href="../../admissions/admissions#freshmen" class="paragraph p2 text-titanium mb-1">Freshmen </a></li>
					<li><a href="../../admissions/admissions#transferee" class="paragraph p2 text-titanium mb-1">Transferee </a></li>	
					<li><a href="../../admissions/admissions#shifting" class="paragraph p2 text-titanium mb-1">Returning / Shifting </a></li>	
					<li><a href="../../admissions/admissions#remedial" class="paragraph p2 text-titanium mb-1">Remedial Program </a></li>	
					<li><a href="../../admissions/admissions#fees" class="paragraph p2 text-titanium mb-1">Student Fees </a></li>	
					<li><a href="../../admissions/scholarship-and-grants" class="paragraph p2 text-titanium mb-1">Scholarships & Grants </a></li>	
				</ul>
			</div>
			<div class="flex xl:mt-0 xs:mt-10 xl:ml-[70px] xs:ml-0 xl:gap-[25px] ">
				<ul class="xl:min-w-[170px]">
					<li><h5 class="headings h5 w-200 mb-2">Programs </h5></li>
					<li><a href="../../programs/cas" class="paragraph p2 text-titanium mb-1">CAS </a></li>
					<li><a href="../../programs/cias" class="paragraph p2 text-titanium mb-1">CIAS </a></li>
					<li><a href="../../programs/cof" class="paragraph p2 text-titanium mb-1">COF </a></li>
					<li><a href="../../programs/coed" class="paragraph p2 text-titanium mb-1">COED </a></li>
					<li><a href="../../programs/iict" class="paragraph p2 text-titanium mb-1">IICT </a></li>
					<li><a href="../../programs/ioes" class="paragraph p2 text-titanium mb-1">IOES </a></li>
				</ul>

				
				<ul class="xl:ml-[70px] xs:ml-[52px] xl:min-w-[170px]">
					<li><h5 class="headings h5 w-200 mb-2">Offices</h5></li>
					<li><a href="../../offices/offices#administrative" class="paragraph p2 text-titanium mb-1">Administrative</a></li>
					<li><a href="../../offices/academic-offices" class="paragraph p2 text-titanium mb-1">Academic</a></li>
					<li><a href="../../offices/faculty-staff" class="paragraph p2 text-titanium mb-1">Faculty and Staff </a></li>
					<li><a href="../../programs/cas" class="paragraph p2 text-titanium mb-1">CAS</a></li>
					<li><a href="../../programs/cias" class="paragraph p2 text-titanium mb-1">CIAS</a></li>
					<li><a href="../../programs/cof" class="paragraph p2 text-titanium mb-1">COF </a></li>
					<li><a href="../../programs/coed" class="paragraph p2 text-titanium mb-1">COED</a></li>
					<li><a href="../../programs/iict" class="paragraph p2 text-titanium mb-1">IICT </a></li>
					<li><a href="../../programs/ioes" class="paragraph p2 text-titanium mb-1">IOES </a></li>
				</ul>

				
			</div>
			<div class="xl:mt-0 xs:mt-10 xl:ml-[70px] xs:ml-0 xl:gap-[25px]  xl:min-w-[170px]">
				<h5 class="headings h5 w-200 mb-2 xl:text-left xs:text-center">Legal </h5>
				<div class="flex xl:flex-col xs:flex-row  xl:items-start xs:items-center xl:gap-0 xs:gap-[137px]">
					<div class="flex flex-col min-w-[70px]">
						<!-- <a href="#" class="paragraph p2 text-titanium mb-1">Terms </a>
						<a href="#" class="paragraph p2 text-titanium mb-1">Privacy </a> -->
						<a href="/ra-6060" class="paragraph p2 text-titanium mb-1">RA 6060 </a>
					</div>
					<div class="flex flex-col min-w-[70px]">
						
						<a href="/kra2" class="paragraph p2 text-titanium mb-1">KRA2 </a>
						<a href="https://drive.google.com/file/d/1-5n1f8z0ax3PJh9Lip8AI6FrHGgG4u-X/view" class="paragraph p2 text-titanium mb-1">Citizen's Charter </a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>