---
import { urlForImage } from '../api/api';

import { get3LatestArticle } from '../api/api';
const threeLatestArticles = await get3LatestArticle();
---

<div class="bg-msu-deep-ocean text-white-pure">
	<div class="mb-[60px] xl:mt-[80px] xs:mt-[40px]">
		<div class="flex xl:flex-row xs:flex-col items-center xl:px-[240px] xs:px-[15px] xl:mb-[140px] xs:mb-[58px] xl:gap-[40px] xs:gap-[10px] ">
			{
				threeLatestArticles.map((article: {
					title: unknown; 
					body: [
						{
							children: [
								{
									text: unknown;
								}
							]
						}
					];
					mainImage: {
						asset: {
							url: string
						};
					};
					slug: {
						current: unknown;
					};
				}) => (
					<div class="flex mb-[40px]">
						<img src={ urlForImage(article.mainImage.asset.url).url() } alt="" class="xl:h-[200px] xl:w-[200px] xs:h-[180px] xs:w-[180px] object-cover object-center"></img>
						<div class="ml-5">
							<a href={`/${article.slug.current}`}><h5 class="headings xl:h5 xs:h6 max-w-[220px] xl:max-h-[48px] xs:max-h-[29px] overflow-hidden">{ article.title }</h5></a>
							<p class="paragraph xl:p2 xs:p3 max-w-[220px] text-titanium mt-[15px] max-h-[142px] overflow-hidden">
								{
									article.body[0].children[0].text
								}
							</p>
						</div>
					</div>
				))
			}
		</div>
		
		<img src="/images/rectangle.png" alt="" class="max-w-full h-[20px] absolute xs:hidden 3xl:block"></img>
		<div class="flex xl:flex-row gap-[25px] xs:flex-col justify-center xl:items-stretch xs:items-center xl:mx-[12.5%] xs:mx-[3.85%]">
			
			<div class="flex xl:mt-0 xs:mt-10 xl:ml-[100px] xs:ml-0 xl:gap-[25px] ">
				<ul class="xl:min-w-[170px]">
					<li><h5 class="headings h5 w-200 mb-2">University </h5></li>
					<li><a href="/campus" class="paragraph p2 text-titanium mb-1">History </a></li>
					<li><a href="/campus#mv" class="paragraph p2 text-titanium mb-1">Mission / Vision </a></li>
					<li><a href="/campus#hymn" class="paragraph p2 text-titanium mb-1">University Hymn </a></li>
					<li><a href="/articles" class="paragraph p2 text-titanium mb-1">Articles </a></li>
					<li><a href="/gazette" class="paragraph p2 text-titanium mb-1">Gazette </a></li>
					<li><a href="/annual-reports" class="paragraph p2 text-titanium mb-1">Annual Report </a></li>
				</ul>
				<ul class="xl:ml-[100px] xs:ml-[52px] xl:min-w-[170px]">
					<li><h5 class="headings h5 w-200 mb-2">Admissions </h5></li>	
					<!-- <li><a href="#" class="paragraph p2 text-titanium mb-1">MSU SASE </a></li>	 -->
					<li><a href="/admissions" class="paragraph p2 text-titanium mb-1">Transferee </a></li>	
					<li><a href="/admissions" class="paragraph p2 text-titanium mb-1">Freshmen </a></li>	
					<li><a href="/admissions" class="paragraph p2 text-titanium mb-1">Returning / Shifting </a></li>	
					<li><a href="/admissions" class="paragraph p2 text-titanium mb-1">Remedial Program </a></li>	
					<li><a href="/admissions" class="paragraph p2 text-titanium mb-1">Student Fees </a></li>	
					<li><a href="/admissions" class="paragraph p2 text-titanium mb-1">Scholarships & Grants </a></li>	
				</ul>
			</div>
			<div class="flex xl:mt-0 xs:mt-10 xl:ml-[100px] xs:ml-0 xl:gap-[25px] ">
				<ul class="xl:min-w-[170px]">
					<li><h5 class="headings h5 w-200 mb-2">Programs </h5></li>
					<li><a href="/cas" class="paragraph p2 text-titanium mb-1">CAS </a></li>
					<li><a href="/cias" class="paragraph p2 text-titanium mb-1">CIAS </a></li>
					<li><a href="/cof" class="paragraph p2 text-titanium mb-1">COF </a></li>
					<li><a href="/coed" class="paragraph p2 text-titanium mb-1">COED </a></li>
					<li><a href="/iict" class="paragraph p2 text-titanium mb-1">IICT </a></li>
					<li><a href="/ioes" class="paragraph p2 text-titanium mb-1">IOES </a></li>
				</ul>
				<ul class="xl:ml-[100px] xs:ml-[52px] xl:min-w-[170px]">
					<li><h5 class="headings h5 w-200 mb-2">Offices</h5></li>
					<li><a href="/offices#administrative" class="paragraph p2 text-titanium mb-1">Administrative</a></li>
					<li><a href="/offices#academic" class="paragraph p2 text-titanium mb-1">Academic</a></li>
					<li><a href="/offices#facultyStaff" class="paragraph p2 text-titanium mb-1">Faculty and Staff </a></li>
					<li><a href="/cas" class="paragraph p2 text-titanium mb-1">CAS </a></li>
					<li><a href="/cias" class="paragraph p2 text-titanium mb-1">CIAS </a></li>
					<li><a href="/cof" class="paragraph p2 text-titanium mb-1">COF </a></li>
					<li><a href="/coed" class="paragraph p2 text-titanium mb-1">COED </a></li>
					<li><a href="/iict" class="paragraph p2 text-titanium mb-1">IICT </a></li>
					<li><a href="/ioes" class="paragraph p2 text-titanium mb-1">IOES </a></li>
				</ul>
			</div>
			<div class="xl:mt-0 xs:mt-10 xl:ml-[100px] xs:ml-0 xl:gap-[25px] ">
				<h5 class="headings h5 w-200 mb-2 xl:text-left xs:text-center">Legal </h5>
				<div class="flex xl:flex-col xs:flex-row  xl:items-start xs:items-center xl:gap-0 xs:gap-[137px]">
					<div class="flex flex-col min-w-[70px]">
						<a href="#" class="paragraph p2 text-titanium mb-1">Terms </a>
						<a href="#" class="paragraph p2 text-titanium mb-1">Privacy </a>
					</div>
					<div class="flex flex-col min-w-[70px]">
						<a href="/ra-6060" class="paragraph p2 text-titanium mb-1">RA 6060 </a>
						<a href="/kra2" class="paragraph p2 text-titanium mb-1">KRA2 </a>
						<a href="/MSU-TCTO Citizen's Charter 2022 First Edition.pdf" class="paragraph p2 text-titanium mb-1">Citizen's Charter </a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>