---
import Layout from '../../layouts/Layout.astro';
import Navbar from "../../components/Navbar";
import FooterNav from "../../components/FooterNav.astro";
import Footer from "../../components/Footer.astro";
import '../../styles/css/global.css';
import SearchedArticles from "../../components/search/SearchedArticles"

const currentPath = Astro.url.pathname;

const { search } = Astro.params;

import { getSearchArticle } from '../../api/api';
const articles = await getSearchArticle(search);
---

<Layout title="MSU | Tawi-Tawi College of Technology and Oceanography">
	<div>
		<Navbar path={currentPath} client:visible />



        <div class='bg-black-pure h-[40px] xl:px-[12.5%] xs:px-[3.85%]'>
            <p class="paragraph p2 py-[10px] text-titanium xl:block xs:hidden"><a href="/index">Home</a>   / Search </p>
        </div>
<!-- search -->
        <div class="bg-black-pure w-full xl:px-[12.5%]  xs:px-[3.5%] xl:flex-col xl:pt-[80px] xs:pt-[0px] xl:pb-[123px] xs:pb-[40px] ">
            <div class="flex gap-[239px] ">

                <div class="flex  w-[960px] ">
                  <SearchedArticles articles={articles} client:visible />
                </div>

                <div class="flex flex-col xl:block xs:hidden">
                    <p class="paragraph text-titanium p1  mb-[30px] text-left">
                        Related searches
                    </p>
                    <p class="paragraph text-titanium p1 mb-[20px] text-left">
                        An article title
                    </p>
                    <p class="paragraph text-titanium p1 mb-[20px] text-left">
                        Year 2020 gazette
                    </p>
                    <p class="paragraph text-titanium p1 mb-[20px] text-left">
                        Photo gallery of the new build...
                    </p>
                    <p class="paragraph text-titanium p1 mb-[20px] text-left">
                        History of the school
                    </p>
                    <p class="paragraph text-titanium p1 mb-[20px] text-left">
                        Other related searches
                    </p>
                </div>
            </div>
        </div>
<!-- end search --> 


<!-- FooterNaV -->
        <FooterNav />
<!-- end FooterNaV -->
<!-- Footer -->
		<Footer />
<!-- end Footer -->
                    
    
        </div>



    </main>
	
</Layout>../../components/search/SearchedArticles