
/* animation.css */
@keyframes slide-in-up {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .animate-slide-in-up {
    animation: slide-in-up 0.5s ease-out;
  }
  
  .animate-fade-in {
    animation: fade-in 1s ease-out;
  }
  @keyframes loadingBar {
    0% { width: 0%; left: 0; }
    50% { width: 100%; left: 0; }
    100% { width: 0%; left: 100%; }
  }
  .animate-loadingBar {
    animation: loadingBar 1.5s ease-in-out infinite;
  }

@media (max-width: 1700px) {
  .tawi-tawi-logo {
    display: none !important;
  }
}
  
  