.tab-container {
    display: flex;
    color: white;
}

.tab-navigation {
    display: flex;
    flex-direction: column;
}

.tab-navigation button {
    margin: 5px;
    padding: 8px 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}

.tab-navigation button.active {
    font-weight: bold;
}

.tab-content {
    flex: 1;
    padding: 10px;
}