@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
@font-face {
    font-family: 'Merchant';
    src: url('../fonts/Merchant-Black.woff2') format('woff2');
}

@layer base {
    body {
        @apply bg-msu-deep-ocean;
        font-family: 'Atkinson Hyperlegible', sans-serif;
    }
}

/* Headings */
.headings {
    font-family: 'Merchant';
    font-style: normal;
    font-weight: 700;

    hanging-punctuation: first last;
    /* For hanging lists, 0 padding should be applied to the <ul> element. */

    list-style-position: outside;
    padding: 0;

    /* Mono/Light/White Pure */

    color: #FFFFFF;
    font-stretch: 90;
}

.h1 {
    font-size: 178px;
    line-height: 181px;
    /* hanging-punctuation is currently only supported in Safari. */  
}

.h2 {
    font-size: 110px;
    line-height: 112px;
    /* hanging-punctuation is currently only supported in Safari. */
}

.h3 {
    font-size: 68px;
    line-height: 69px;
    /* hanging-punctuation is currently only supported in Safari. */
}

.h4 {
    font-size: 42px;
    line-height: 43px;
    /* hanging-punctuation is currently only supported in Safari. */
}

.h5 {
    font-size: 26px;
    line-height: 26px;
    /* hanging-punctuation is currently only supported in Safari. */
}

.h6 {
    font-size: 16px;
    line-height: 16px;
    /* hanging-punctuation is currently only supported in Safari. */
}

/* Paragraph styles */
.paragraph {
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 400;
}

.p1 {
    font-size: 26px;
    line-height: 32px;
}

.p2 {
    font-size: 16px;
    line-height: 20px;
}

.p3 {
    font-size: 10px;
    line-height: 12px;
}

.p4 {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
}

/* Gradient Background */
.bg-gradient-maroon {
    background: linear-gradient(180deg, #75140C 0%, rgba(117, 20, 12, 0) 100%);
}

.bg-gradient-ocean {
    background: linear-gradient(180deg, #0A1C37 0%, rgba(10, 28, 55, 0) 100%);
}

.bg-gradient-gold {
    background: linear-gradient(180deg, #F9D92B 0%, rgba(249, 217, 43, 0) 100%);
}

.bg-gradient-white {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

.bg-gradient-black {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}

/* Drop Shadow */
.drop-shadow {
    background: #D9D9D9;
    box-shadow: 0px 0px 20px 10px #101F36;
}

.hero-main-img {
    background: linear-gradient(0deg, rgba(16, 31, 54, 0.4), rgba(16, 31, 54, 0.4)), url('../../../public/images/Sitangkai.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 980px;
    width: 100%;
}