@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
@font-face {
    font-family: 'Merchant';
    src: url('../fonts/Merchant-Bold.woff2') format('woff2');
}

@layer base {
    body {
        @apply bg-msu-deep-ocean;
        font-family: 'Atkinson Hyperlegible', sans-serif;
    }
}

@layer components {
    /* Headings */
.headings {
    font-family: 'Merchant';
    font-style: normal;
    font-weight: 700;

    hanging-punctuation: first last;
    /* For hanging lists, 0 padding should be applied to the <ul> element. */

    list-style-position: outside;
    padding: 0;

    /* Mono/Light/White Pure */

    color: #FFFFFF;
    font-stretch: 90;
}

.h1 {
    font-size: 178px;
    line-height: 181px;
    /* hanging-punctuation is currently only supported in Safari. */  
}

.h2 {
    font-size: 110px;
    line-height: 112px;
    /* hanging-punctuation is currently only supported in Safari. */
}

.h3 {
    font-size: 68px;
    line-height: 69px;
    /* hanging-punctuation is currently only supported in Safari. */
}

.h4 {
    font-size: 42px;
    line-height: 43px;
    /* hanging-punctuation is currently only supported in Safari. */
}

.h5 {
    font-size: 26px;
    line-height: 26px;
    /* hanging-punctuation is currently only supported in Safari. */
}

.h6 {
    font-size: 16px;
    line-height: 16px;
    /* hanging-punctuation is currently only supported in Safari. */
}

/* Paragraph styles */
.paragraph {
    font-family: 'Atkinson Hyperlegible';
    font-style: normal;
    font-weight: 400;
}

.p1 {
    font-size: 26px;
    line-height: 32px;
}

.p2 {
    font-size: 16px;
    line-height: 20px;
}

.p3 {
    font-size: 10px;
    line-height: 12px;
}

.p4 {
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
}

/* Gradient Background */
.bg-gradient-maroon {
    background: linear-gradient(180deg, #820D13 0%, rgba(130, 13, 19, 0) 100%);
}

.bg-gradient-ocean {
    background: linear-gradient(180deg, #0A1C37 0%, rgba(10, 28, 55, 0) 100%);
}

.bg-gradient-gold {
    background: linear-gradient(180deg, #F7D93C 0%, rgba(247, 217, 60, 0) 100%);
}

/* Gradient Secondary Alpha */
.bg-gradient-rusty-red {
    background: linear-gradient(180deg, #A52930 0%, rgba(165, 41, 48, 0) 100%);
}

.bg-gradient-blue-horizon {
    background: linear-gradient(180deg, #122B58 0%, rgba(18, 43, 88, 0) 100%);
}

.bg-gradient-hidden-gold {
    background: linear-gradient(180deg, #D0B320 0%, rgba(208, 179, 32, 0) 100%);
}

/* Gradient Secondary Beta */
.bg-gradient-crimson-blush {
    background: linear-gradient(180deg, #C64D53 0%, rgba(198, 77, 83, 0) 100%);
}

.bg-gradient-sky-space {
    background: linear-gradient(180deg, #1E4470 0%, rgba(30, 68, 112, 0) 100%);
}

.bg-gradient-golden-fog {
    background: linear-gradient(180deg, #FFEB7B 0%, rgba(255, 235, 123, 0) 100%);
}

/* Gradient Mono */
.bg-gradient-white {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

.bg-gradient-black {
    background: linear-gradient(180deg, #111111 0%, rgba(17, 17, 17, 0) 100%);
}



/* Drop Shadow */
.msu-drop-shadow {
    background: #D9D9D9;
    box-shadow: 0px 0px 20px 10px #101F36;
}
.msu-drop-white-shadow{
    border-radius: 11px;
    background: rgba(217, 217, 217, 0.20);
}
.msu-drop-none{
    border-radius: 11px;
    background: rgba(0, 0, 0, 0);
}

/* Color Alpha */
.msu-blue-horizon{
    border-radius: 40px;
    background: var(--colors-alpha-msu-blue-horizon, #122B58);
}

.hero-main-img {
    background: linear-gradient(0deg, rgba(16, 31, 54, 0.4), rgba(16, 31, 54, 0.4)), url('../../../public/images/landing_page.png');
    /* background: url('../../../public/images/Sitangkai.png'); */
    /* background: url('../../../public/images/landing_page.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.hero-img {
    position:relative;
    display:inline-block;
}

.hero-img::after {
    content:'';
    position:absolute;
    background: linear-gradient(0deg, rgba(16, 31, 54, 0.4), rgba(16, 31, 54, 0.4))
}

.hero-admission-img {
    background: url('../../../public/images/admissions.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.hero-program-img {
    background: url('../../../public/images/programs.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.hero-cas-img {
    background: url('../../../public/images/program_background/cas.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.hero-cias-img {
    background: url('../../../public/images/program_background/cias.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 440px;
    width: 100%;
}

.hero-coed-img {
    background: url('../../../public/images/program_background/coed.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 440px;
    width: 100%;
}

.hero-cof-img {
    background: url('../../../public/images/program_background/cof.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 440px;
    width: 100%;
}

.hero-iict-img {
    background: url('../../../public/images/program_background/iict.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 440px;
    width: 100%;
}

.hero-ioes-img {
    background: url('../../../public/images/program_background/ioes.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 440px;
    width: 100%;
}

.hero-office-img {
    background: url('../../../public/images/office.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.hero-publication-img {
    background: url('../../../public/images/programs.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.hero-campus-img {
    background: url('../../../public/images/the-campus.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.admissions-fold-05-gb-img {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url('../../../public/images/fold-05 Academic Scholarship.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}


.campuslife-bg-img {
    background: linear-gradient(0deg, rgba(16, 31, 54, 0.4), rgba(16, 31, 54, 0.4)), url('../../../public/images/campus-life.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.home-fold-06-gb-img {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ), url('../../../public/images/fold-06.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.video-wrapper{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0px;
    /* background-attachment: scroll; */
}
.video-container{
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed{
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* .video-container::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';

    background: linear-gradient(180deg, #820D13 0%, rgba(130, 13, 19, 0.00) 100%);
  } */


.nav {
    @apply xs:h-0 xl:h-fit xl:py-0 overflow-hidden;
    transition: .3s ease-in-out;
}

.nav.active {
    @apply xs:py-5 xs:h-[300px] xl:h-0;
    transition: .3s ease-in-out;
}

.arrow-left{
    background: url('../../../public/images/Chevron Left.png'), lightgray 50% / contain ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.arrow-right{
    background: url('../../../public/images/Chevron Right.png'), lightgray 50% / contain no-repeat;
}

.swiper-pagination-bullet {
    width: 11px !important;
    height: 11px !important;
    opacity: 1 !important;
    background: rgba(0, 0, 0, 0.2) !important;
    border: 1px solid #fff !important;
}

.swiper-pagination-bullet-active {
    background: #fff !important;
  }

  .app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .dropdown-container {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    position: relative;
  }

  .dropdown-program {
    
    
    background: transparent;
    border: none;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    padding-right: 25px; /* Add padding to the right for the arrow icon */
    background: url('arrow-down.png') no-repeat right center;
}

.dropdown-program option {
    /* Style the selected option */
    background-color: black;
    color: white;
    border: 5px solid green;
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid black; /* Change the color as needed */
    margin-left: 5px;
  }
  
  .content-container {
    margin-top: 20px;
  }



  
/* xs:py-5 xl:py-0 h-0 overflow-hidden, */

.card-bidding {
    @apply 
    bg-msu-deep-ocean 
      shadow-lg
      rounded-md 
      py-4 px-5
      relative 
      overflow-hidden;
  }


}